.header {
    padding: 40px 0;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    @media(max-width: 767px) {
        padding: 20px 0;
    }
}

.header-container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 60px;
    @media(max-width:940px) {
        padding: 0 40px;   
    }
    @media(max-width: 767px) {
        padding: 0 30px;
    }
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__item {
        font-size: 16px;
        line-height: 24px;
        font-weight: 700;
        font-style: italic;
        text-transform: uppercase;
        color: #fff;
        &:last-of-type {
            margin-right: 0;
        }
    }
    @media(max-width: 940px) {

        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100vh;
        background-color: $color-primary;
        z-index: 9;
        transform: translateX(-100%);
        opacity: 0;
        transition: 0.2s;
        &__item {
            margin-bottom: 40px;
            margin-right: 0;
        }
        &.active {
            opacity: 1;
            transform: translateX(0%);
            transition: .5s;
        }
    }
}
.header-burger {
    display: none;
    width: 36px;
    height: 36px;
    cursor: pointer;
    position: relative;
    z-index: 10;
    span {
        width: 36px;
        height: 4px;
        margin-bottom: 6px;
        display: block;
        background-color: #fff;
        transform: rotate(0deg);
        transition: .2s;
        &:last-of-type {
            margin-bottom: 0;
        }
    }
    @media(max-width: 940px) {
        display: block;
        &.active {
            span:nth-of-type(3){
                display: none;
            }
            span:nth-of-type(1) {
                position: absolute;
                top: 10px;
                transform: rotate(405deg);
                transition: .5s;
            }
            span:nth-of-type(2) {
                position: absolute;
                top: 10px;
                transform: rotate(-45deg);
                transition: .5s;
            }
        }
    }
}
.hero {
    width: 100%;
    background: url('../images/hero-bg.png') center center/cover no-repeat;
    padding-top: 112px;
    padding-bottom: 510px;
    @media(max-width:495px) {
        background: url('../images/hero-bg-mob.png') center center/cover no-repeat;
        padding-top: 64px;
        padding-bottom: 388px;
    }
    &-cell {
        display: flex;
        @media(max-width: 940px) {
            flex-wrap: wrap;
            flex-direction: column;
            align-items: center;
        }
    }
    &__title {
        margin-left: 154px;
        margin-right: 45px;
        font-size: 40px;
        line-height: 1.1;
        text-transform: uppercase;
        font-family: 'Akzidenz';
        font-style: italic;
        font-weight: 700;


        span {
            font-size: 100px;
            line-height: 0.8;
            display: block;
            margin-left: 10px;
        }
        @media(max-width: 940px) {
            margin-left: 45px;
        }
        @media(max-width: 767px) {
            font-size: 21px;
            line-height: 1.2;
            span {
                font-size: 50px;
                line-height: 1;
            }
        }
    }
    &__desc {
        max-width: 314px;
        margin-top: 45px;
        p {
            margin: 0 0 11px 0;
            color: $color-primary;
            font-size: 16px;
            line-height: 1.3;
            text-transform: uppercase;
            font-family: 'Akzidenz';
            font-weight: 700;
            font-style: italic;
            &:last-of-type {
                margin: 0;
            }
        }
        span {
            display: block;
            background-color: #fff;
            color: #010101;
            max-width: max-content;
            padding: 0 4px;
        }
    }
}

.bg {
    background: url('../images/global-bg.jpg')center center/cover no-repeat;
}

.rules {
    padding: 95px 0 70px;
    &__title {
        margin-bottom: 55px;
        a {
            font-size: 18px;
            line-height: 31px;
            text-transform: initial;
            font-weight: 400;
            color: $color-primary;
        }
    }
    &-cell {
        display: flex;
        justify-content: space-between;
        @media(max-width: 940px) {
            flex-wrap: wrap;
            justify-content: space-around;
        }
    }
    &__item {
        width: 33.3333%;
        flex: 0 0 33.33333%;
        padding: 46px 20px 10px 75px;
        position: relative;
        @media(max-width: 940px) {
            width: 50%;
            flex: 0 0 50%;
        }
        @media(max-width: 700px) {
            width: 100%;
            flex: 0 0 100%;
        }
        &-title {
            text-transform: uppercase;
            font-family: $font-primary;
            font-weight: 700;
            font-style: italic;
            font-size: 32px;
            line-height: 1.3;
            margin-bottom: 4px;
        }
        &-pic {
            position: absolute;
            top: 0;
            left: 0;
        }
        &-desc {
            max-width: 270px;
            font-size: 21px;
            line-height: 1.2;
            font-family: $font-primary;
            font-style: italic;
        }
    }
}

.prize {
    padding: 95px 0 45px;
    &__title {
        margin-bottom: 60px;
    }
    &-content {
        display: flex;
        @media(max-width: 940px) {
            flex-direction: column;
        }
    }
    &-cell {
        width: 50%;
        @media(max-width:940px) {
            width: 100%;
        }
    }
    &-all {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        max-width: 450px;
        @media(max-width: 940px) {
            margin: 0 auto;
        }
        @media(max-width: 767px) {
            margin-bottom: 64px;
        }
        &__item {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            width: calc(50% - 10px);
            img {
                margin-bottom: 11px;
                width: 100%;
            }
            p {
                font-size: 21px;
                line-height: 24px;
            }
        }
    }
    &-final {
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
            width: 100%;
        }
        &__title {
            font-family: $font-primary;
            font-weight: 700;
            font-style: italic;
            color:$color-primary;
            text-transform: uppercase;
            font-size: 32px;
            line-height: 1.3;
        }
        &__desc {
            font-size: 32px;
            line-height: 1.2;
            font-family: $font-primary;
            font-weight: 700;
            font-style: italic;
            max-width: 465px;
            padding-left: 24px;
            margin-top: -80px;
        }
    }
}

.products {
    padding: 80px 0;
    margin-top: -2px;
    background: #0B1626;
    &__title {
        margin-bottom: 60px;
    }
    &-item {

        &__title {
            font-size: 24px;
            line-height: 1.3;
            margin-bottom: 40px;
            text-transform: uppercase;
            font-style: italic;
        }
        &__list {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        &__element {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            font-style: italic;
            margin-right: 49px;
            margin-bottom: 50px;
            // &:nth-of-type(5n){
            //     margin-right: 0;
            // } 
            @media(max-width: 1365px) {
                margin-right: 30px;
            }
        }
        &__desc {
            margin-top: 10px;
        }
        &__weight{
            margin-top: 4px;
            color: $color-primary;
        }
    }
}



.shop {
    padding: 80px 0;
    background: #0B1626;
    &__title {
        margin-bottom: 60px;
    }
    &-content {
        display: flex;
        justify-content: center;
        @media(max-width: 940px) {
            flex-direction: column;
        }
    }
    &-item {
        display: flex;
        flex-wrap: wrap;
        &:first-of-type {
            margin-right: 150px;
            @media(max-width: 940px) {
                margin-right: 0;
            }
        }
        &__title {
            width: 100%;
            margin-bottom: 18px;
            font-size: 18px;
            line-height: 22px;
            font-weight: 400;
        }
        .shop-cell:nth-of-type(2){
            margin-left: 60px;
        }
    }
    &-list {
        &__item {
            margin-bottom: 24px;
            font-size: 22px;
            line-height: 28px;
            text-decoration: underline;
            color: $color-primary;
            @media(max-width: 767px) {
                font-size: 16px;
                line-height: 1.2;
            }
        }
    }
}

.winner {
    background: url('../images/global-bg.jpg')center center/cover no-repeat;
    padding: 60px 0 100px;
    &__title {
        margin-bottom: 70px;
    }
}
.table {
    max-width: 981px;
    width: 100%;
    margin: 0 auto;
    padding: 0 60px;
    max-height: 340px;
    overflow-y: scroll;
    &::-webkit-scrollbar {
        width: 4px;
    }
    &::-webkit-scrollbar-track {
        width: 1px;
    }
    &::-webkit-scrollbar-thumb {
        background: #405472;
        border-radius: 4px;
        width: 4px;
    }
    @media(max-width: 767px) {
        padding: 0;
    }
}
.table-row{
    display: flex;
    justify-content: space-between;
}
.table-cell {
    width: 25%;
}
.table-cell__prize {
    display: flex;
    align-items: center;
    img {
        margin-right: 14px;
    }
}
.table-row__head .table-cell {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 18px;
    color: $color-primary;
    font-style: italic;
}
.table-row .table-cell {
    margin-bottom: 33px;
    font-size: 18px;
    line-height: 22px;
}


.feedback {
    padding: 110px 0 60px;
    background: #0B1626;
    &-content {
        display: flex;
        @media(max-width: 767px) {
            flex-direction: column;
        }
    }
    &-item {
        width: 50%;
        @media(max-width:767px){
            width: 100%;
        }
    }
    &__title {
        margin-bottom: 25px;
    }
}

.feedback-questions {
    max-width: 560px;
    max-height: 440px;
    overflow-y: scroll;
    &::-webkit-scrollbar {
        width: 4px;
    }
    &::-webkit-scrollbar-track {
        width: 1px;
    }
    &::-webkit-scrollbar-thumb {
        background: #405472;
        border-radius: 4px;
        width: 4px;
    }
    @media(max-width: 767px) {
        margin-bottom: 50px;
    }
}
.feedback-form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 360px;
    margin: 0 auto;
}

.col-6 {
    width: calc(50% - 5px);
}
.col-12 {
    width: 100%;
}
.form__input {
    width: 100%;
    padding: 12px 20px;
    border-radius: 23px;
    background-color: #fff;
    border: none;
    outline: none;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 24px;
}

select {
    background-color: #fff;
    padding: 13px 20px;
    border-radius: 23px;
    border: none;
    outline: none;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 24px;
}
.form__textarea {
    width: 100%;
    border-radius: 23px;
    background-color: #fff;
    padding: 13px 20px;
    max-width: 360px;
}
.form__button {
    border: none;
    outline: none;
    border-radius: 23px;
    max-width: max-content;
    padding: 12px 20px;
    background-color: $color-primary;
    color: #fff;
    font-size: 21px;
    line-height: 27px;
    text-align: center;
    font-weight: 700;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin: 0 auto;
}

.question-item {
    padding-right: 15px;
}
.question-item__content {
    display: flex;
    padding-left: 40px;
    position: relative;
    margin-bottom: 20px;
}
.question-item__btn {
    width: 20px;
    height: 20px;
    background-color: $color-primary;
    border: 2px solid $color-primary;
    border-radius: 50%;
    margin-right: 10px;
    position: absolute;
    top: 15px;
    left: 0;
    span {
        width: 10px;
        height: 2px;
        border-radius: 10px;
        background-color: #fff;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        &:last-of-type {
            height: 10px;
            width: 2px;
        }
    }
}
.question-item__content.active {
    .question-item__btn {
        background-color: transparent;
        border-color: #fff;
        span:last-of-type {
            display: none;
        }
    }
}
.question-item__text {
    font-size: 16px;
    line-height: 28px;
    font-style: italic;
    font-weight: 700;
    margin-top: 10px;
}
.answer-item__text {
    padding-left: 40px;
    color: $color-secondary;
    display: none;
    &.active {
        display: block;
    }
}




.hero-demo {
    background: url('../images/demo-bg.png') center center/cover no-repeat;
    width: 100%;
    height: 100vh;
    padding-top: 135px;
    .hero-cell {
        flex-wrap: wrap;
        justify-content: center;
    }
    .hero-img {
        margin:0 auto;
        margin-top: 100px;
        max-width: max-content;
        position: relative;
        @media(max-width: 767px) {
            display: flex;
        }
        &__right {
            position: relative;
            top: 50px;
            @media(max-width: 800px) {
                max-width: 200px;
            }
            @media(max-width: 767px) {
                max-width: 140px;
                right: 50px;

            }
        }
        &__left {
            @media(max-width: 800px) {
                max-width: 300px;
            }
            @media(max-width: 767px) {
                max-width: 239px;
                height: 157px;

            }
        }
    }
}

.hours, .days,.minutes {
    font-size: 36px;
    line-height: 42px;
    font-weight: 700;
    position: relative;
    color: #010101;
}
.hero__counter-numbers {
    display: flex;
}
.hero__counter-title {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 700;
    color: $color-primary;
}
.hero__counter-numbers {
    font-size: 36px;
    line-height: 42px;
    margin-left: -20px;
    @media(max-width: 1168px) {
        margin-top: 40px;
    }
    @media(max-width: 767px) {
        margin-left: 0;
    }
    div {
        margin: 0  20px;
        @media(max-width: 767px) {
            margin: 0;
        }
    }
    span {
        display: inline-block;
        position: relative;
        z-index: 1;
        background-color: #fff;
        padding: 0 4px;
       
        &::before {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 42px;
            height: 100%;

            z-index: 0;
        }
    }
}
