@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

/*--------------------*/
body {
  font-family: "Playfair Display"; }
  body.overflow {
    overflow: hidden; }

html {
  height: auto; }

.container {
  max-width: 1190px;
  width: 100%;
  margin: 0 auto; }
  .container-small {
    text-align: center;
    max-width: 960px; }

.button-one {
  background: -webkit-gradient(linear, left top, right top, from(#1F4E78), to(#0677DF));
  background: linear-gradient(90deg, #1F4E78 0%, #0677DF 100%);
  box-shadow: 0px 10px 30px #C7DCEE;
  border-radius: 50px;
  font-family: "Arimo";
  font-weight: bold;
  font-size: 14px;
  padding: 20px 20px;
  width: 220px;
  color: #FFFFFF;
  display: block; }

.img-fluid {
  width: 100%; }

.slick-next,
.slick-prev {
  width: 64px;
  height: 64px;
  position: relative;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.2);
  border-radius: 50%; }

.slick-next {
  background: white;
  position: absolute;
  top: 50%;
  margin-top: -32px;
  z-index: 10;
  right: 500px; }
  .slick-next::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: url(/img/slider/arrowLeft.png) center center no-repeat;
    top: 0;
    left: 0;
    border-radius: 50%;
    z-index: -5; }

.slick-prev {
  background: white;
  position: absolute;
  top: 50%;
  margin-top: -32px;
  z-index: 10;
  left: -32px; }
  .slick-prev::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: url(/img/slider/arrowRight.png) center center no-repeat;
    top: 0;
    left: 0;
    border-radius: 50%;
    z-index: -5; }

.slider-blog {
  margin-top: 50px; }
  .slider-blog .slick-prev {
    left: -16px;
    top: 25%; }
  .slider-blog .slick-next {
    top: 25%;
    right: -16px; }
  .slider-blog .slider-blog__item {
    width: 360px;
    margin: 0 20px; }
  .slider-blog .slider-blog__title {
    margin-top: 25px;
    margin-bottom: 16px; }
  .slider-blog .slider-blog__desc {
    margin-bottom: 20px;
    margin-top: 0; }
  .slider-blog .button {
    width: 160px;
    display: -webkit-box;
    display: flex;
    text-align: center;
    padding: 0;
    height: 50px;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center; }

.contacts-form {
  background: -webkit-gradient(linear, left top, right top, from(#1F4E78), to(#0677DF));
  background: linear-gradient(90deg, #1F4E78 0%, #0677DF 100%);
  width: 100%;
  padding-top: 50px;
  padding-bottom: 105px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center; }
  .contacts-form__title {
    font-family: 'Arimo';
    font-weight: bold;
    font-size: 30px;
    color: white;
    text-align: center; }
  .contacts-form__subTitle {
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    font-family: 'Arimo';
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 30px; }
  .contacts-form .input__wrapper input,
  .contacts-form .input__wrapper textarea {
    padding: 15px 0;
    background: none;
    border-bottom: 2px solid #FFFFFF;
    font-size: 14px;
    font-family: 'Arimo';
    color: white;
    width: 360px;
    margin-bottom: 25px; }
    .contacts-form .input__wrapper input::-webkit-input-placeholder, .contacts-form .input__wrapper textarea::-webkit-input-placeholder {
      font-size: 14px;
      font-family: 'Arimo';
      color: rgba(255, 255, 255, 0.7); }
    .contacts-form .input__wrapper input::-moz-placeholder, .contacts-form .input__wrapper textarea::-moz-placeholder {
      font-size: 14px;
      font-family: 'Arimo';
      color: rgba(255, 255, 255, 0.7); }
    .contacts-form .input__wrapper input:-ms-input-placeholder, .contacts-form .input__wrapper textarea:-ms-input-placeholder {
      font-size: 14px;
      font-family: 'Arimo';
      color: rgba(255, 255, 255, 0.7); }
    .contacts-form .input__wrapper input::-ms-input-placeholder, .contacts-form .input__wrapper textarea::-ms-input-placeholder {
      font-size: 14px;
      font-family: 'Arimo';
      color: rgba(255, 255, 255, 0.7); }
    .contacts-form .input__wrapper input::placeholder,
    .contacts-form .input__wrapper textarea::placeholder {
      font-size: 14px;
      font-family: 'Arimo';
      color: rgba(255, 255, 255, 0.7); }
  .contacts-form .input__wrapper textarea {
    resize: none;
    height: 160px;
    position: relative; }

.send-form {
  background: -webkit-gradient(linear, left top, right top, from(#0677DF), to(#3CA2FE));
  background: linear-gradient(90deg, #0677DF 0%, #3CA2FE 100%);
  box-shadow: 0px 20px 50px rgba(14, 70, 120, 0.6);
  border-radius: 100px;
  width: 360px;
  height: 60px;
  font-family: 'Arimo';
  font-weight: bold;
  font-size: 14px;
  color: #FFFFFF;
  border: 1px solid rgba(255, 255, 255, 0.5);
  cursor: pointer; }

.main-nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: #0B283F;
  padding-top: 80px;
  -webkit-transition: .3s all linear;
  transition: .3s all linear;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  z-index: 999;
  display: none; }
  .main-nav .menu-hide {
    position: absolute;
    top: 35px;
    right: 20px; }
  .main-nav .button {
    background: -webkit-gradient(linear, left top, right top, from(#1F4E78), to(#0677DF));
    background: linear-gradient(90deg, #1F4E78 0%, #0677DF 100%);
    box-shadow: 0px 10px 30px #071F32;
    width: 220px; }
  .main-nav .mobile-nav {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column; }
  .main-nav .mobile-nav__item + .mobile-nav__item {
    margin-top: 30px; }
  .main-nav .mobile-nav__item:last-child {
    margin-top: 50px; }
  .main-nav .mobile-nav__item a {
    font-family: 'Arimo';
    font-size: 20px;
    color: #FFFFFF; }

.photo-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -5;
  opacity: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out; }
  .photo-container.active {
    z-index: 999;
    opacity: 1; }
  .photo-container img {
    -webkit-transform: scale(1.5);
            transform: scale(1.5); }

.header {
  height: 120px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 998;
  background-color: #fff;
  box-shadow: 0px 20px 80px #041D30; }
  .header .container {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    height: inherit; }

.header__block.header-nav {
  margin-left: auto; }

.header__block:nth-child(4) {
  margin-left: 40px; }

.header__block .nav-list {
  display: -webkit-box;
  display: flex;
  height: 120px;
  -webkit-box-align: center;
          align-items: center; }

.header__block .nav-list__item {
  position: relative;
  height: inherit;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center; }
  .header__block .nav-list__item::before {
    content: ' ';
    position: absolute;
    width: 100%;
    height: 4px;
    background: #0677DE;
    border-radius: 5px;
    bottom: 0;
    opacity: 0;
    -webkit-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
    left: 0; }
  .header__block .nav-list__item a {
    font-family: "Arimo";
    font-size: 16px;
    color: rgba(33, 39, 45, 0.5);
    -webkit-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out; }
  .header__block .nav-list__item:hover::before {
    opacity: 1; }
  .header__block .nav-list__item:hover a {
    color: #21272D; }

.header__block .nav-list__item + .nav-list__item {
  margin-left: 45px; }

.footer {
  background: #111E29;
  height: 180px;
  color: #8495A4;
  font-size: 16px;
  font-family: 'Arimo';
  padding-top: 40px; }
  .footer .container {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between; }

.footer__text span {
  font-weight: bold; }

.footer-list {
  display: -webkit-box;
  display: flex; }

.footer-list__item a {
  color: #8495A4; }

.footer-list__item + .footer-list__item {
  margin-left: 45px; }

.section__title {
  font-size: 72px;
  color: #21272D; }

.section__desc {
  font-family: 'Arimo';
  color: rgba(33, 39, 45, 0.7);
  margin-top: 35px;
  font-size: 16px;
  line-height: 180%; }
  .section__desc span {
    color: #21272D; }

.section {
  margin-bottom: 150px; }

.about__section,
.mission__section {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center; }
  .about__section .section__row,
  .mission__section .section__row {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center; }
  .about__section .section__column.desc,
  .mission__section .section__column.desc {
    max-width: 460px; }
  .about__section .section__column + .section__column,
  .mission__section .section__column + .section__column {
    margin-left: 40px; }

.about__section .section__column:nth-child(1) {
  max-width: 460px; }

.about__section .section__column:nth-child(2) {
  flex-basis: 60%; }

.mission__section .section__column:nth-child(2) {
  max-width: 460px; }

.mission__section .section__column:nth-child(1) {
  flex-basis: 65%; }

.title-second {
  font-family: 'Arimo';
  font-weight: bold;
  font-size: 20px; }

.formWhom__section {
  background: -webkit-gradient(linear, left top, left bottom, from(#E3F0F0), to(rgba(227, 240, 240, 0.5)));
  background: linear-gradient(180deg, #E3F0F0 0%, rgba(227, 240, 240, 0.5) 100%);
  padding-top: 80px; }
  .formWhom__section .section__title {
    margin-bottom: 110px;
    text-align: center; }
  .formWhom__section .section__desc {
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 50px; }
  .formWhom__section .section__column:nth-child(1) {
    -webkit-box-align: end;
            align-items: flex-end;
    padding-right: 125px;
    position: relative;
    background: -webkit-gradient(linear, left top, right top, from(#1F4E78), to(#0677DF));
    background: linear-gradient(90deg, #1F4E78 0%, #0677DF 100%); }
    .formWhom__section .section__column:nth-child(1) .formWhom__img {
      right: 0; }
  .formWhom__section .section__column:nth-child(2) {
    padding-left: 125px; }

.formWhom__desc {
  max-width: 350px;
  position: relative;
  z-index: 2;
  color: white; }

.formWhom__img {
  position: absolute;
  bottom: 0;
  z-index: 0; }

.formWhom__bckg {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(23.39%, rgba(6, 41, 72, 0)), to(#124B7D));
  background: linear-gradient(180deg, rgba(6, 41, 72, 0) 23.39%, #124B7D 100%); }

.section__subTitle {
  font-size: 30px;
  line-height: 130%;
  color: #21272D;
  font-family: 'Arimo'; }

.slider-one {
  margin-top: 40px; }
  .slider-one .slider__title {
    font-family: 'Arimo';
    font-size: 20px;
    max-width: 250px;
    color: #21272D;
    margin-bottom: 20px; }
  .slider-one .slider__desc {
    font-family: 'Arimo';
    font-size: 16px;
    color: rgba(33, 39, 45, 0.7); }
  .slider-one .slider__row {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-align: center;
            align-items: center; }
  .slider-one .slider__column:nth-child(2) {
    max-width: 400px; }
  .slider-one .slider__column + .slider__column {
    margin-left: 100px; }

.professors__section {
  background: -webkit-gradient(linear, left top, left bottom, from(#E3F0F0), to(rgba(227, 240, 240, 0)));
  background: linear-gradient(180deg, #E3F0F0 0%, rgba(227, 240, 240, 0) 100%); }

.patient__section .column-img {
  height: 780px;
  background: -webkit-gradient(linear, right top, left top, color-stop(7.24%, #145793), color-stop(82.72%, rgba(0, 33, 62, 0.16))), url(/img/slider/second.png) no-repeat;
  background: linear-gradient(270deg, #145793 7.24%, rgba(0, 33, 62, 0.16) 82.72%), url(/img/slider/second.png) no-repeat; }

.patient__section .section__row {
  display: -webkit-box;
  display: flex;
  position: relative; }
  .patient__section .section__row::before {
    content: url(/img/dna-patient.png);
    position: absolute;
    right: 0; }

.patient__section .section__column:nth-child(1) {
  flex-basis: 55%; }

.patient__section .section__column:nth-child(2) {
  background: #145793;
  flex-basis: 45%;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center; }
  .patient__section .section__column:nth-child(2) .section__desc {
    max-width: 450px;
    margin-top: 45px;
    color: rgba(255, 255, 255, 0.7); }
  .patient__section .section__column:nth-child(2) .section__title {
    color: white; }

.contacts__section {
  background: -webkit-gradient(linear, left top, left bottom, from(#E3F0F0), to(rgba(227, 240, 240, 0)));
  background: linear-gradient(180deg, #E3F0F0 0%, rgba(227, 240, 240, 0) 100%);
  padding-top: 150px;
  margin-bottom: 0;
  padding-bottom: 150px; }
  .contacts__section .section__row {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center; }
    .contacts__section .section__row .section__column {
      flex-basis: 50%; }

.contacts__column .section__title {
  font-size: 30px;
  font-family: 'Arimo'; }

.contacts__column .section__desc {
  font-size: 20px;
  line-height: 150%; }

.person-list {
  margin-top: 55px;
  margin-bottom: 80px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  flex-wrap: wrap; }

.person-list__info {
  margin: 0; }

.person-list__title {
  margin-top: 15px;
  margin-bottom: 15px; }

.link {
  font-size: 16px;
  line-height: 180%;
  font-family: 'Arimo';
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #0677DE;
  font-weight: bold;
  margin-top: 25px;
  display: block; }

.img-fluid {
  position: absolute;
  right: 0;
  top: -20px;
  z-index: 2;
  width: unset; }

.about__section {
  position: relative; }
  .about__section .section__row {
    height: 600px; }

.about__bckg {
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  z-index: 0; }

.mission__section .section__row {
  height: 600px; }

.mission__section .img-fluid {
  left: 0; }

.institutes__section {
  position: relative;
  overflow: hidden;
  height: 900px;
  margin-bottom: 0; }
  .institutes__section::before {
    position: absolute;
    left: 0;
    content: url(/img/section/institute.png);
    overflow: hidden;
    z-index: -1; }
  .institutes__section .section__title {
    color: white;
    margin-top: 120px; }

.institutes__slider .img-slider {
  background: linear-gradient(88.67deg, #145793 12.24%, rgba(0, 0, 0, 0) 76.29%), url(/img/section/instituteSlider.png) no-repeat;
  height: 900px;
  position: absolute;
  top: 0;
  right: 0;
  width: 60%;
  z-index: -1; }

.institutes__slider .slider__row {
  display: -webkit-box;
  display: flex; }

.institutes__slider .slider__column {
  flex-basis: 50%; }

.institutes__slider .slider__title {
  color: white;
  font-family: 'Arimo';
  font-size: 24px;
  margin-top: 120px;
  margin-bottom: 20px; }

.institutes__slider .slider__desc {
  font-family: 'Arimo';
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
  max-width: 460px;
  line-height: 180%; }

.professors__section {
  padding-top: 150px;
  position: relative; }
  .professors__section::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(/img/section/dna-certificer.png) no-repeat;
    left: 0;
    top: 250px; }
  .professors__section .section__title {
    text-align: center;
    margin-bottom: 30px; }

.professors-slider {
  position: relative; }
  .professors-slider::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 500px;
    bottom: 0;
    left: 0;
    background: -webkit-gradient(linear, left top, right top, from(#1F4E78), to(#0677DF));
    background: linear-gradient(90deg, #1F4E78 0%, #0677DF 100%); }
  .professors-slider .slick-next {
    right: -32px; }

.professorrs-slide__name {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 15px;
  color: #FFFFFF; }

.professorrs-slider__item {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center; }
  .professorrs-slider__item .professorrs-slider__img::before {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    background: transparent;
    width: 100%;
    height: 100%;
    z-index: 2;
    -webkit-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out; }
  .professorrs-slider__item.slick-current .professorrs-slider__img {
    position: relative; }
    .professorrs-slider__item.slick-current .professorrs-slider__img::before {
      background: -webkit-gradient(linear, left top, left bottom, color-stop(23.39%, rgba(6, 41, 72, 0)), to(#124B7D));
      background: linear-gradient(180deg, rgba(6, 41, 72, 0) 23.39%, #124B7D 100%); }
  .professorrs-slider__item.slick-current .professorrs-slider__info {
    opacity: 1; }

.professorrs-slider__info,
.forWhom-slider__info {
  position: absolute;
  z-index: 2;
  bottom: 40px;
  width: 250px;
  left: 50%;
  margin-left: -125px;
  opacity: 0;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out; }

.forWhom__section {
  background: -webkit-gradient(linear, left top, left bottom, from(#E3F0F0), to(rgba(227, 240, 240, 0.5)));
  background: linear-gradient(180deg, #E3F0F0 0%, rgba(227, 240, 240, 0.5) 100%);
  padding-top: 80px;
  margin-bottom: 0; }
  .forWhom__section .slick-next {
    right: 0; }
  .forWhom__section .slick-prev {
    left: 0; }
  .forWhom__section .section__title {
    text-align: center; }

.forWhom-slider {
  margin-top: 25px; }

.forWhom-slider__item {
  position: relative; }
  .forWhom-slider__item .section__desc {
    color: rgba(255, 255, 255, 0.7); }
  .forWhom-slider__item .title-second {
    color: white; }
  .forWhom-slider__item::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(23.39%, rgba(6, 41, 72, 0)), to(#124B7D));
    background: linear-gradient(180deg, rgba(6, 41, 72, 0) 23.39%, #124B7D 100%); }
  .forWhom-slider__item.w-b::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 730px;
    left: 0;
    bottom: 0;
    z-index: -1;
    background: -webkit-gradient(linear, left top, right top, from(#1F4E78), to(#0677DF));
    background: linear-gradient(90deg, #1F4E78 0%, #0677DF 100%); }
  .forWhom-slider__item.w-b .forWhom-slider__img {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: end;
            justify-content: flex-end; }
  .forWhom-slider__item.w-b .forWhom-slider__info {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: end;
            justify-content: flex-end;
    margin-right: 125px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column; }
  .forWhom-slider__item.no-b .forWhom-slider__img {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: start;
            justify-content: flex-start;
    margin-left: 125px; }
  .forWhom-slider__item.no-b .forWhom-slider__info {
    left: 125px;
    right: unset; }

.forWhom-slider__img {
  z-index: -1; }
  .forWhom-slider__img img {
    height: 800px; }

.forWhom-slider__info {
  opacity: 1;
  width: 350px;
  right: 0;
  left: unset;
  margin-left: 0; }

.professors-slider__post {
  font-family: 'Arimo';
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7); }

.welcome__section {
  margin-bottom: 0; }
  .welcome__section img {
    width: 100%; }

.certificates__section {
  margin-top: 150px;
  position: relative; }

.certificates__row {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center; }

.certificates__item {
  -webkit-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
  display: -webkit-box !important;
  display: flex !important;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  margin: 55px 0;
  cursor: pointer;
  padding: 0 30px; }
  .certificates__item img {
    text-align: center;
    box-shadow: 0px 30px 50px #DCEDED;
    border: 2px solid #CDCDCD; }
  .certificates__item:hover {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px); }

.certificates__section .section__title {
  margin-bottom: 30px;
  text-align: center; }

.workShop__section {
  position: relative;
  padding-top: 150px; }
  .workShop__section::before {
    content: url(/img/dna-workshop.png);
    position: absolute;
    bottom: 180px;
    right: 0px;
    z-index: -1; }
  .workShop__section .section__desc {
    max-width: 960px;
    margin-top: 45px;
    margin-bottom: 60px; }

.burger {
  width: 40px;
  height: 22px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
          align-items: flex-end; }
  .burger__item {
    width: 40px;
    display: block;
    height: 2px;
    background: #21272D; }
    .burger__item:nth-child(3) {
      width: 20px; }

.mobile {
  display: none; }

.welcome-middle,
.welcome-small {
  display: none; }

@media screen and (max-width: 1250px) {
  .slider-blog .slick-next {
    right: 0; }
  .slider-blog .slick-prev {
    left: 0; } }

@media screen and (max-width: 1190px) {
  .slider-one .slick-prev {
    left: 0; }
  .slider-one .slick-next {
    right: 0; }
  .slider-one .slider__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column; }
  .slider-one .slider__title {
    max-width: unset;
    margin-top: 20px; }
  .slider-one .slider__column {
    flex-basis: unset;
    text-align: center;
    -webkit-box-align: center;
            align-items: center; }
    .slider-one .slider__column:nth-child(2) {
      max-width: unset; }
  .slider-one .slider__column + .slider__column {
    margin-left: 0; }
  .professors-slider .slick-prev {
    left: 0; }
  .professors-slider .slick-next {
    right: 0; }
  .patient__section .section__row::before {
    display: none; }
  .workShop__section::before {
    display: none; }
  .patient__section .column-img {
    background: linear-gradient(180.17deg, #145793 0.11%, rgba(0, 33, 62, 0.16) 125.64%), url(/img/slider/second.png);
    background-size: cover; }
  .patient__section .section__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
            flex-direction: column-reverse; }
  .patient__section .section__column:nth-child(1) {
    flex-basis: unset; }
  .patient__section .section__column:nth-child(2) {
    flex-basis: unset;
    padding-top: 80px;
    -webkit-box-align: center;
            align-items: center; }
  .img-fluid {
    position: relative;
    width: 100%; } }

@media screen and (max-width: 1024px) {
  .welcome-big {
    display: none; }
  .welcome-middle {
    display: block; }
  .about__bckg {
    display: none; }
  .person-list {
    padding: 0 20px; }
  .professors__section::before {
    display: none; }
  .slider-blog__img img {
    width: 100%; }
  .slider-one__item .slider__column {
    width: 100%; }
  .slider-one__item .slider__img img {
    width: 100%; }
  .institutes__section {
    height: auto;
    background: #145793; }
    .institutes__section::before {
      content: ''; }
  .institutes__slider .img-slider {
    background: linear-gradient(180.17deg, #145793 0.11%, rgba(0, 33, 62, 0.16) 125.64%), url(/img/slider/instituteMobile.png) no-repeat;
    position: relative;
    background-size: cover;
    width: 100%;
    z-index: 2; }
  .institutes__slider .slider__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column; }
  .institutes__slider .slider__column:nth-child(1) {
    flex-basis: unset;
    padding: 0 20px; }
  .institutes__slider .slider__column:nth-child(2) {
    flex-basis: unset;
    padding-top: 80px; } }

@media screen and (max-width: 900px) {
  .header {
    padding: 0 30px; }
    .header .descktop {
      display: none; }
    .header .mobile {
      display: block; }
  .about__bckg {
    display: none; }
  .main-nav {
    display: block; } }

@media screen and (max-width: 768px) {
  .certificates__item img {
    height: 300px; }
  .workShop__section {
    padding-top: 60px; }
  .formWhom__section {
    display: unset; }
  .formWhom__img img {
    width: 100%; }
  .header .container {
    -webkit-box-pack: justify;
            justify-content: space-between; }
  .slider-blog .slider-blog__item {
    margin: 0 10px; }
  .main-nav.active {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  .section__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column; }
  .welcome__section {
    margin-bottom: 60px; }
  .about__section .section__column + .section__column,
  .mission__section .section__column + .section__column {
    margin-left: 0; }
  .about__section .section__row {
    height: auto; }
  .mission__section .section__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
            flex-direction: column-reverse; }
  .mission__section .section__column.desc {
    max-width: unset; }
  .section__desc,
  .section__title {
    padding-right: 20px;
    padding-left: 20px; }
  .section__desc {
    margin-bottom: 20px; }
  .contacts__section {
    padding-bottom: 0;
    padding-top: 60px; }
    .contacts__section .section__row .section__column {
      flex-basis: 100%;
      width: 100%; }
    .contacts__section .section__row .section__column + .section__column {
      margin-top: 40px; }
    .contacts__section .link {
      margin-left: 20px; }
  .workShop__section .section__subTitle {
    margin-left: 20px; }
  .img-fluid {
    margin-top: 40px; }
  .about__section .section__column:nth-child(1) {
    max-width: unset; }
  .professors__section {
    padding-top: 80px;
    margin-bottom: 80px; }
  .certificates__section {
    margin-top: 80px; }
  .footer {
    height: auto;
    padding-bottom: 40px; }
    .footer .container {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
              flex-flow: row wrap;
      align-content: space-between;
      padding: 0 20px; }
  .footer-block {
    width: 50%;
    height: auto;
    margin-bottom: 20px; }
    .footer-block:nth-child(3) {
      -webkit-box-ordinal-group: 3;
              order: 2; }
    .footer-block:nth-child(2) {
      -webkit-box-ordinal-group: 4;
              order: 3; }
    .footer-block:nth-child(3) {
      -webkit-box-ordinal-group: 5;
              order: 4;
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
              flex-direction: column;
      -webkit-box-align: end;
              align-items: flex-end; }
      .footer-block:nth-child(3) .footer__text span {
        display: block; }
    .footer-block:nth-child(4) {
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
              flex-direction: column;
      -webkit-box-align: end;
              align-items: flex-end; }
  .footer-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column; }
  .footer-list__item + .footer-list__item {
    margin-left: 0;
    margin-top: 20px; }
  .forWhom-slider__item .section__desc {
    padding: 0; }
  .forWhom-slider__item.w-b .forWhom-slider__img {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center; }
  .forWhom-slider__item.w-b .forWhom-slider__info {
    -webkit-box-pack: center;
            justify-content: center;
    left: 50%;
    margin-left: -175px; }
  .forWhom-slider__item.no-b .forWhom-slider__img {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center; }
  .forWhom-slider__item.no-b .forWhom-slider__info {
    left: 50%;
    margin-left: -175px;
    right: unset; } }

@media screen and (max-width: 475px) {
  .photo-container img {
    -webkit-transform: scale(1.3);
            transform: scale(1.3); }
  .certificates__section .section__title {
    margin-bottom: 0; }
  .certificates__item img {
    width: 130px;
    height: 184.5px; }
  .section__title {
    font-size: 48px; }
  .header__logo img {
    width: 151px; }
  .forWhom-slider__img img {
    height: 500px; }
  .forWhom-slider__item.w-b::after {
    height: 450px; }
  .forWhom-slider__item.w-b .forWhom-slider__info {
    margin-left: -150px; }
  .forWhom-slider__item.no-b .forWhom-slider__info {
    margin-left: -150px; }
  .forWhom-slider__item .forWhom-slider__info {
    width: 300px; }
    .forWhom-slider__item .forWhom-slider__info .section__desc {
      margin-bottom: 0;
      font-size: 14px;
      margin-top: 15px; }
    .forWhom-slider__item .forWhom-slider__info .title-second {
      font-size: 20px; }
  .header {
    height: 100px; }
  .institutes__section .section__title,
  .certificates__section .section__title {
    font-size: 38px; }
  .professors__section {
    padding-top: 80px;
    margin-bottom: 0; }
  .section.professors__section {
    margin-bottom: 0; }
  .section.forWhom__section {
    margin-bottom: 0; }
  .institutes__slider .img-slider {
    height: 500px; }
  .institutes__slider .slider__title {
    margin-top: 60px; }
  .welcome-middle {
    display: none; }
  .welcome-small {
    display: block; }
  .section {
    margin-bottom: 60px; }
    .section.institutes__section {
      margin-bottom: 0; }
    .section.certificates__section {
      margin-top: 80px; }
    .section.patient__section .column-img {
      height: 324px;
      background: linear-gradient(180.17deg, #145793 0.11%, rgba(0, 33, 62, 0.16) 125.64%), url(/img/slider/second.png) center bottom;
      background-repeat: no-repeat;
      background-size: contain; }
    .section.contacts__section {
      margin: 0; }
  .slider-blog .slider-blog__item {
    margin: 0; }
  .slider-blog .slider-blog__info {
    padding: 0 20px; }
  .slider-blog .slick-next,
  .slider-blog .slick-prev {
    top: 25%; }
  .slider-blog .section__desc {
    padding: 0; }
  .slider-blog .button {
    margin-left: 20px; }
  .person-list__info {
    padding: 0; }
  .person-list__img img {
    width: 100%; }
  .contacts-form .send-form,
  .contacts-form .input__wrapper input,
  .contacts-form .input__wrapper textarea {
    width: 300px; } }

@media screen and (max-width: 320px) {
  .photo-container img {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); } }
