@font-face {
  font-family: 'Barlow';
  src: url("../fonts/Barlow-Regular/Barlow-Regular.woff2") format("woff2"), url("../fonts/Barlow-Regular/Barlow-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow';
  src: url("../fonts/Barlow-Bold/Barlow-Bold.woff2") format("woff2"), url("../fonts/Barlow-Bold/Barlow-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Barlow', sans-serif;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 60px 0;
  font-family: 'Barlow', sans-serif;
  overflow-y: scroll;
}

.popup-prank__content {
  background-color: #323A46;
  max-width: 600px;
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
}

.popup-prank__box {
  max-height: calc(100vh - 410px);
  height: 100%;
  overflow-y: scroll;
}

.popup-prank__header {
  height: 140px;
  background-color: #3B4452;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.popup-prank__title {
  font-weight: 700;
  font-size: 30px;
  color: #fff;
  text-align: center;
}

.popup-prank__queue {
  color: #fff;
  font-size: 16px;
  text-align: center;
  margin-top: 12px;
}

.popup-prank__queue span {
  font-weight: 700;
  color: #2AC880;
}

.popup-prank__main {
  padding: 0 104px;
  height: 100%;
}

.popup-prank__block {
  padding: 30px 0;
}

.popup-prank__block + .popup-prank__block {
  border-top: 1px solid #3A4452;
}

.popup-prank__checkbox + .popup-prank__checkbox {
  margin-top: 10px;
}

.popup-prank__footer {
  border-top: 1px solid #3A4452;
  padding: 30px 104px;
}

.popup-prank__consent {
  padding: 10px 104px 40px 104px;
}

.popup-prank__summary {
  border-top: 1px solid #3A4452;
  padding: 30px 104px;
}

.popup-input + .popup-input {
  margin-top: 25px;
}

.popup-input__title {
  font-size: 14px;
  color: #Fff;
}

.popup-input__title span {
  color: #6D7883;
}

.popup-input__item {
  margin-top: 12px;
  width: 100%;
  border-radius: 5px;
  background: #3B4452;
  border: 1px solid #3A4452;
  height: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 14px 11px;
}

.popup-input__input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  color: #fff;
  font-size: 14px;
}

.popup-input__input:focus::-webkit-input-placeholder {
  opacity: 0;
}

.popup-input__input:focus::-moz-placeholder {
  opacity: 0;
}

.popup-input__input:focus:-ms-input-placeholder {
  opacity: 0;
}

.popup-input__input:focus::-ms-input-placeholder {
  opacity: 0;
}

.popup-input__input:focus::placeholder {
  opacity: 0;
}

.popup-input__input::-webkit-input-placeholder {
  color: #6D7883;
  opacity: 1;
  -webkit-transition: .3s opacity;
  -o-transition: .3s opacity;
  transition: .3s opacity;
}

.popup-input__input::-moz-placeholder {
  color: #6D7883;
  opacity: 1;
  -webkit-transition: .3s opacity;
  -o-transition: .3s opacity;
  transition: .3s opacity;
}

.popup-input__input:-ms-input-placeholder {
  color: #6D7883;
  opacity: 1;
  -webkit-transition: .3s opacity;
  -o-transition: .3s opacity;
  transition: .3s opacity;
}

.popup-input__input::-ms-input-placeholder {
  color: #6D7883;
  opacity: 1;
  -webkit-transition: .3s opacity;
  -o-transition: .3s opacity;
  transition: .3s opacity;
}

.popup-input__input::placeholder {
  color: #6D7883;
  opacity: 1;
  -webkit-transition: .3s opacity;
  -o-transition: .3s opacity;
  transition: .3s opacity;
}

.popup-input__textarea {
  height: 100px;
}

.popup-input__textarea textarea {
  resize: none;
}

.popup-tips__currency {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup-tips__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.popup-tips__text {
  color: #fff;
  font-size: 14px;
}

.popup-tips__content {
  margin-top: 10px;
}

.popup-tips__footer {
  margin-top: 20px;
}

.popup-tips__noticy {
  font-size: 14px;
  line-height: 1.3;
  color: #2AC880;
}

.popup-summary__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.popup-summary__text {
  font-size: 16px;
  color: #fff;
}

.popup-summary__currency {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup-currency__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup-currency__item + .popup-currency__item {
  margin-left: 20px;
}

.popup-currency__img {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.popup-currency__text {
  color: #fff;
  font-size: 16px;
  margin-left: 10px;
  font-weight: 700;
}

.popup-submit__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 25px;
}

.popup-submit__btn + .popup-submit__btn {
  margin-left: 10px;
}

.popup-submit__btn {
  -webkit-appearance: none;
  width: 180px;
  height: 46px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #2AC880;
  border: none;
  outline: none;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
}

.popup-submit__btn:hover {
  cursor: pointer;
}

.popup-submit__btn img {
  margin-left: 10px;
}

.popup__close {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 20px;
  right: 20px;
}

.popup__close::before, .popup__close::after {
  content: '';
  position: absolute;
  top: 7.5px;
  height: 2px;
  width: 100%;
  display: block;
  background-color: #fff;
}

.popup__close::before {
  left: 0;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.popup__close::after {
  right: 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.checkbox-currency + .checkbox-currency {
  margin-left: 20px;
}

.checkbox-consent + .checkbox-consent {
  margin-top: 15px;
}

.checkbox-block {
  background-color: #2A303A;
  border-radius: 5px;
}

.checkbox-block__header {
  border-bottom: 1px solid #3A4452;
  padding: 16px 15px;
}

.checkbox-block__content {
  padding: 10px 15px;
}

.checkbox-block__text {
  font-size: 14px;
  line-height: 18px;
  color: #fff;
}

.checkbox-label:hover {
  cursor: pointer;
}

.checkbox-label__input {
  display: none;
}

.checkbox-label__input:checked + .checkbox-label__content .checkbox-label__checkmark {
  border-color: #fff;
}

.checkbox-label__input:checked + .checkbox-label__content .checkbox-label__checkmark::before {
  opacity: 1;
}

.checkbox-label__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.checkbox-label__text {
  font-weight: 700;
  font-size: 14px;
  color: #2AC880;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.checkbox-label__text-img {
  height: 25px;
  max-width: 32px;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 10px;
}

.checkbox-label__checkmark {
  width: 18px;
  height: 18px;
  border-radius: 5px;
  border: 1px solid #3A4452;
  position: relative;
  -webkit-transition: .3s border-color;
  -o-transition: .3s border-color;
  transition: .3s border-color;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.checkbox-label__checkmark::before {
  content: '';
  position: absolute;
  width: 12px;
  height: 8px;
  top: 50%;
  margin-top: -4px;
  left: 50%;
  margin-left: -6px;
  display: block;
  background: url("../img/check.svg") center center no-repeat;
  background-size: contain;
  opacity: 0;
  -webkit-transition: .3s opacity;
  -o-transition: .3s opacity;
  transition: .3s opacity;
}

.checkbox-label__text + .checkbox-label__checkmark {
  margin-left: 10px;
}

.checkbox-label__checkmark + .checkbox-label__text {
  margin-left: 10px;
}

.checkbox-consent__text {
  color: #989CA2;
  font-size: 14px;
  font-weight: 400;
}

.checkbox-consent__text a {
  color: #fff;
  text-decoration: none;
  margin-left: 5px;
}

.checkbox-consent__content {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.tips-counter {
  text-align: center;
  font-size: 14px;
  color: #6D7883;
}

.tips-counter__content {
  width: 100%;
}

.tips-counter__minus, .tips-counter__plus {
  width: 46px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tips-counter__minus {
  border-right: 1px solid #323A46;
}

.tips-counter__plus {
  border-left: 1px solid #323A46;
}

.tips-counter__control {
  height: 100%;
}

.tips-counter__content {
  max-width: 200px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .popup-prank {
    padding: 30px 15px;
  }
  .popup-prank__box {
    max-height: calc(100vh - 350px);
  }
  .popup-prank__main {
    padding: 0 15px;
  }
  .popup-prank__consent {
    padding: 0 15px 30px 15px;
  }
  .popup-prank__footer, .popup-prank__summary {
    padding: 30px 15px;
  }
}

@media screen and (max-width: 375px) {
  .popup__close {
    top: 10px;
    right: 10px;
  }
}
