*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

blockquote,
body,
dd,
dl,
figcaption,
figure,
h1,
h2,
h3,
h4,
li,
ol,
p,
ul {
  margin: 0;
}

body {
  font-family: 'HelveticaNeue';
  font-weight: 400;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  height: 100%;
}

ol,
ul {
  padding: 0;
  list-style: none;
}

a {
  font-family: inherit;
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
}

button,
input,
select,
textarea {
  font-family: inherit;
}

@font-face {
  font-family: 'Lato';
  src: local("Lato Regular"), local("Lato-Regular"), url("../fonts/latoregular/latoregular.woff2") format("woff2"), url("../fonts/latoregular/latoregular.woff") format("woff"), url("../fonts/latoregular/latoregular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}

.page-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 18px 14px 18px 0;
}

.content {
  width: 100%;
}

.checkbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.checkbox__input {
  display: none;
}

.checkbox__input:checked ~ .checkbox__checkmark {
  background-color: #fff;
  border-color: #0C89E4;
}

.checkbox__input:checked ~ .checkbox__checkmark::before {
  opacity: 1;
}

.checkbox__checkmark {
  width: 20px;
  height: 20px;
  display: block;
  background: #E1E1E1;
  border-radius: 2px;
  border: 1px solid transparent;
  -webkit-transition: 0.5s all linear;
  -o-transition: 0.5s all linear;
  transition: 0.5s all linear;
  position: relative;
}

.checkbox__checkmark::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -5px;
  margin-left: -5px;
  opacity: 0;
  width: 10px;
  height: 10px;
  display: block;
  background: url("../img/check.svg") center center no-repeat;
  background-size: contain;
  -webkit-transition: 0.5s all linear;
  -o-transition: 0.5s all linear;
  transition: 0.5s all linear;
}

.checkbox__text {
  margin-left: 13px;
}

.aside {
  width: 75px;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  margin-right: 10px;
}

.aside-select {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.aside-select + .aside-select {
  margin-top: 15px;
}

.aside-select select {
  width: 285px;
  border: none;
  outline: none;
  height: 35px;
}

.aside-sort {
  padding: 15px;
  border: 1px solid #D7D7D7;
  border-radius: 5px;
  min-height: 450px;
  margin-top: 15px;
}

.aside-sort .checkbox + .checkbox {
  margin-top: 20px;
}

.aside-title {
  font-size: 20px;
}

.aside-types {
  margin-top: 20px;
}

.right-aside {
  width: 440px;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  margin-left: 55px;
}

.type-list {
  margin-top: 20px;
}

.type-list__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.type-list__item + .type-list__item {
  margin-top: 17px;
}

.type-list__item::before {
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: block;
  margin-right: 10px;
}

.type-list__item_yellow::before {
  background-color: #F8ED8E;
}

.type-list__item_orange::before {
  background-color: #FAA576;
}

.type-list__item_purple::before {
  background-color: #7260E3;
}

.type-list__item_green::before {
  background-color: #ADFF2F;
}

.filter {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  row-gap: 10px;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}

.filter-group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 8px;
  background: #FFFFFF;
  border: 1px solid #D4D4D4;
  border-radius: 5px;
}

.filter-group__input {
  width: 735px;
  background: #F9FCFE;
  border: 1px solid #D4D4D4;
  border-radius: 2px;
  padding: 9px 15px;
  color: #3D3D3D;
  font-size: 14px;
  outline: none;
}

.filter-group__text {
  font-size: 14px;
  color: #0C89E4;
}

.sort {
  margin-top: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sort-item + .sort-item {
  margin-left: 20px;
}

.sort-link {
  padding: 12px 30px;
  display: block;
  color: #0C89E4;
  border: 1px solid #D7D7D7;
  border-radius: 5px;
  -webkit-box-shadow: 0px 4px 4px transparent;
          box-shadow: 0px 4px 4px transparent;
  -webkit-transition: 0.5s -webkit-box-shadow linear;
  transition: 0.5s -webkit-box-shadow linear;
  -o-transition: 0.5s box-shadow linear;
  transition: 0.5s box-shadow linear;
  transition: 0.5s box-shadow linear, 0.5s -webkit-box-shadow linear;
}

.sort-link:hover {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.sort-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.sort-select select {
  height: 40px;
  width: 70px;
  border: 1px solid #D4D4D4;
  border-radius: 5px;
  outline: none;
  font-size: 14px;
  color: #737373;
}

.search {
  position: relative;
}

.search__clear, .search__icon {
  position: absolute;
}

.search__input {
  height: 40px;
  width: 325px;
  border: 1px solid #D4D4D4;
  outline: none;
  border-radius: 5px;
  padding: 12px 28px 12px 42px;
}

.search__input::-webkit-input-placeholder {
  color: #0C89E4;
  font-size: 14px;
}

.search__input::-moz-placeholder {
  color: #0C89E4;
  font-size: 14px;
}

.search__input:-ms-input-placeholder {
  color: #0C89E4;
  font-size: 14px;
}

.search__input::-ms-input-placeholder {
  color: #0C89E4;
  font-size: 14px;
}

.search__input::placeholder {
  color: #0C89E4;
  font-size: 14px;
}

.search__clear {
  top: 50%;
  margin-top: -10px;
  right: 14px;
}

.search__icon {
  top: 50%;
  margin-top: -9px;
  left: 15px;
}

.custom-table {
  border: 1px solid #D7D7D7;
  border-radius: 5px 5px 0px 0px;
  width: 100%;
  border-spacing: 0;
  margin-top: 20px;
}

.custom-table td {
  min-width: 55px;
  overflow: hidden;
}

.custom-table__title {
  border-bottom: 1px solid #D7D7D7;
}

.custom-table__title td {
  padding: 15px;
  border-right: 1px solid #D7D7D7;
}

.custom-table__title td:last-child {
  border-right: none;
}

.custom-table__content:nth-child(even) td {
  background-color: #CFF5F1;
}

.custom-table__content td {
  padding: 15px;
  border-top: 1px solid #D7D7D7;
  border-right: 1px solid #D7D7D7;
  overflow: hidden;
  vertical-align: middle;
}

.custom-table__content td:last-child {
  border-right: none;
}

.table-text {
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.timetable {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.timetable-block {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.timetable-block__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.timetable-block__title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #ECF6FD;
  border-radius: 5px;
  height: 30px;
  width: calc(100% - 85px);
  margin-left: auto;
}

.timetable-title {
  padding: 25px;
}

.timetable-item {
  -webkit-box-flex: 100%;
  -webkit-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  max-width: 118px;
  border-right: 1px solid #D7D7D7;
  border-top: 1px solid #D7D7D7;
}

.timetable-item_time {
  -webkit-box-flex: 80px;
  -webkit-flex: 80px;
      -ms-flex: 80px;
          flex: 80px;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}

.timetable-item__block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 45px;
}

.timetable-empty {
  border-top: none;
}

.timetable-tile {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  padding: 5px 15px;
}

.timetable-tile__text {
  font-size: 12px;
  line-height: 14px;
  padding-right: 20px;
}

.timetable-green {
  background-color: #BED9B5;
}

.timetable-orange {
  position: relative;
  background: rgba(248, 237, 142, 0.2);
}

.timetable-orange::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 8px;
  background-color: #F8ED8E;
  display: block;
  left: 0;
  top: 0;
}

.timetable-red {
  position: relative;
  background: rgba(250, 165, 118, 0.2);
}

.timetable-red::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 8px;
  background-color: #FAA576;
  display: block;
  left: 0;
  top: 0;
}

.timetable-purple {
  position: relative;
  background: rgba(114, 96, 227, 0.2);
}

.timetable-purple::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 8px;
  background-color: #7260E3;
  display: block;
  left: 0;
  top: 0;
}

.timetable-lightgreen {
  position: relative;
  background: rgba(173, 255, 47, 0.2);
}

.timetable-lightgreen::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 8px;
  background-color: #ADFF2F;
  display: block;
  left: 0;
  top: 0;
}

.timetable-break {
  background-color: #CFF5F1;
}

.timetable-break svg {
  margin-right: 5px;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(13, 84, 135, 0.2);
  padding: 30px;
  display: none;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.popup-wrapper {
  width: 60%;
  background-color: #fff;
  padding: 15px 25px;
  border-radius: 10px;
  max-height: 100vh;
  overflow-y: scroll;
}

.popup-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.popup-title {
  font-size: 20px;
  color: #3D3D3D;
}

.popup-controls {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup-control + .popup-control {
  margin-left: 25px;
}

.popup-btns {
  margin-top: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup__btn {
  padding: 12px 30px;
  color: #fff;
  font-size: 14px;
  background: #0C89E4;
  border-radius: 5px;
}

.popup__btn_disable {
  background: #D4D4D4;
  color: #737373;
}

.popup__btn + .popup__btn {
  margin-left: 20px;
}

.popup-content {
  margin-top: 20px;
}

.popup-patient {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  color: #0C89E4;
}

.popup-patient svg {
  margin-right: 10px;
}

.patient-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.patient-info + .patient-info {
  margin-top: 25px;
}

.patient-info__wrapper {
  margin-top: 30px;
}

.patient-info__block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.patient-info__block + .patient-info__block {
  margin-left: 35px;
}

.patient-info__text {
  margin-right: 15px;
}

.patient-info__desc {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.patient-info__desc svg {
  margin-right: 5px;
}

.patient-info__year {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #FAFAFA;
  border: 1px solid #D7D7D7;
  width: 50px;
  height: 35px;
  border-radius: 5px;
}

.patient-info__select {
  background: #FAFAFA;
  border-radius: 5px;
  height: 35px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
}

.patient-info__select select {
  border: none;
  outline: none;
  height: 35px;
  background: #FAFAFA;
}

.patient-info__select svg {
  margin-left: 15px;
}

.patient-info_textarea {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.patient-info__textarea {
  resize: none;
  margin-top: 10px;
  background: #FAFAFA;
  border: 1px solid #D7D7D7;
  border-radius: 5px;
  width: 100%;
  height: 70px;
}

.popup-table {
  width: 100%;
  margin-top: 10px;
  border-spacing: 0;
}

.popup-table td {
  overflow: hidden;
  background-color: #FAFAFA;
  padding: 10px;
  border-top: 1px solid #D7D7D7;
  border-left: 1px solid #D7D7D7;
}

.popup-table td:last-child {
  border-right: 1px solid #D7D7D7;
}

.popup-table__tr-title td {
  background-color: transparent;
}

.popup-table__text {
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.gynec-type {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.gynec-type__select {
  width: 245px;
  height: 35px;
  background: #FAFAFA;
  border-radius: 5px;
  margin-left: 15px;
}

.gynec-type__select select {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
}

.popup-tabs {
  margin-top: 60px;
}

.popup-tabs__nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup-tabs .tabs-nav__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40px;
  width: 145px;
  color: #737373;
  background: #FAFAFA;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
  border-radius: 5px 5px 0px 0px;
  margin-right: 20px;
}

.popup-tabs .tabs-nav__item.active {
  background: #63BE09;
  color: #fff;
}

.popup-tabs .tabs-content {
  background: #FFFFFF;
  border: 1px solid #D7D7D7;
  border-radius: 0px 5px 5px 5px;
}

.popup-tabs .tabs-content__item {
  padding: 25px 25px 45px 25px;
}

.tabs-content__item {
  display: none;
}

.tabs-content__item.active {
  display: block;
}

.tabs-input {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.tabs-input_textarea {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.tabs-input_textarea .tabs-input__title {
  margin-bottom: 10px;
}

.tabs-input .checkbox {
  background: #FAFAFA;
  border-radius: 5px;
  padding: 10px 15px;
  margin-left: 10px;
}

.tabs-input + .tabs-input {
  margin-top: 25px;
}

.tabs-input__title {
  margin-bottom: 0px;
}

.tabs-input__block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.tabs-input__block .tabs-input {
  margin-top: 0;
}

.tabs-input__block .tabs-input + .tabs-input {
  margin-left: 40px;
}

.tabs-input__item {
  background: #FAFAFA;
  border: 1px solid #D7D7D7;
  border-radius: 5px;
  height: 35px;
  max-width: 70px;
  margin-left: 15px;
  padding: 0 15px;
}

.tabs-input__item_big {
  max-width: 110px;
}

.tabs-input__block + .tabs-input__block {
  margin-top: 30px;
}

.tabs-input__textarea {
  resize: none;
  width: 100%;
  height: 130px;
  background: #FAFAFA;
  border: 1px solid #D7D7D7;
  border-radius: 5px;
  padding: 15px;
}
