@font-face {
    font-family: 'Akzidenz';
    src: url('../fonts/akzidenzgroteskpro-it.ttf') format('truetype');
    font-style: italic;
    font-weight: 400;
}
@font-face {
    font-family: 'Akzidenz';
    src: url('../fonts/AkzidenzGroteskPro-BoldExIt.ttf') format('truetype');
    font-style: italic;
    font-weight: 700;
}