@font-face {
  font-family: 'Akzidenz';
  src: url("../fonts/akzidenzgroteskpro-it.ttf") format("truetype");
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: 'Akzidenz';
  src: url("../fonts/akzidenzgroteskpro-regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Akzidenz';
  src: url("../fonts/AkzidenzGroteskPro-BoldExIt.ttf") format("truetype");
  font-style: italic;
  font-weight: 700;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Akzidenz';
  font-weight: 400;
  font-style: italic;
  color: #fff;
}

html{
  scroll-behavior: smooth;
}

body.overflow {
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #010101;
}

.container {
  max-width: 1366px;
  width: 100%;
  padding: 0 60px;
  margin: 0 auto;
}

@media (max-width: 940px) {
  .container {
    padding: 0 40px;
  }
}

@media (max-width: 767px) {
  .container {
    padding: 0 30px;
  }
}

h2 {
  font-family: "Akzidenz";
  font-weight: 700;
  font-style: italic;
  color: #FFA200;
  text-transform: uppercase;
  font-size: 42px;
  line-height: 1.3;
}

@media (max-width: 767px) {
  h2 {
    font-size: 24px;
    line-height: 32px;
  }
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

.header {
  padding: 25px 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;

  z-index: 3;
}

.header::before{
  content: '';

  position: absolute;
  top:0;
  left: 0;

  width: 100%;
  height: 100%;
  display: block;

  background-color: #FFA200;

  opacity: 0;
  z-index: -1;

  transition: .3s all linear;
}

.header.active::before{
  opacity: 1;
  z-index: 3;
  transform: translateY(0);
}

.header-container{
  position: relative;
  z-index: 4;
}

@media (max-width: 767px) {
  .header {
    padding: 20px 0;
  }
}

.header-container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 60px;
}

@media (max-width: 940px) {
  .header-container {
    padding: 0 40px;
  }
}

@media (max-width: 767px) {
  .header-container {
    padding: 0 30px;
  }
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav__item {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  font-style: italic;
  text-transform: uppercase;
  color: #fff;

  transition: .3s color;
}

.header-nav__item:hover{
  color: #FFCF7B;
}

.header-nav__item:last-of-type {
  margin-right: 0;
}

@media (max-width: 940px) {
  .header-nav {
    position: fixed;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    justify-content: flex-start;
    padding-top: 115px;
    width: 100%;
    height: 100vh;
    background-color: #FFA200;
    z-index: 9;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  .header-nav__item {
    margin-bottom: 40px;
    margin-right: 0;
  }
  .header-nav.active {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transition: .5s;
    transition: .5s;
  }
}

.header-burger {
  display: none;
  width: 36px;
  height: 36px;
  cursor: pointer;
  position: relative;
  z-index: 10;
}

.header-burger span {
  width: 36px;
  height: 4px;
  margin-bottom: 6px;
  display: block;
  background-color: #fff;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: .2s;
  transition: .2s;
}

.header-burger span:last-of-type {
  margin-bottom: 0;
}

@media (max-width: 940px) {
  .header-burger {
    display: block;
  }
  .header-burger.active span:nth-of-type(3) {
    display: none;
  }
  .header-burger.active span:nth-of-type(1) {
    position: absolute;
    top: 10px;
    -webkit-transform: rotate(405deg);
            transform: rotate(405deg);
    -webkit-transition: .5s;
    transition: .5s;
  }
  .header-burger.active span:nth-of-type(2) {
    position: absolute;
    top: 10px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transition: .5s;
    transition: .5s;
  }
}

.hero {
  width: 100%;
  background: url("../images/hero-bg.jpg") center center/cover no-repeat;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;

  min-height: 768px;

  position: relative;

  overflow: hidden;
}

.hero::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 20px;
  display: block;
  background: #FFA200;
  transform: rotate(0.3deg) translateY(5px);
}

.hero-logos{
  position: absolute;

  left: 20px;
  bottom: 40px;

  width: 250px;
  height: 115px;
}

.hero-logos__item{
  width: 100%;
  height: 100%;

  object-fit: contain;
}

.hero-logos__item-m{
  display: none;
}

.hero-main.hero-demo{
  min-height: 800px;
}

.hero-main.hero-demo .hero-cell{
  align-items: center;
}

@media screen and (max-width: 1100px) {
  .hero-demo.hero-main{
    height: auto;
    min-height: auto;

    padding-bottom: 50px;

    padding-top: 80px;
  }
}

@media (max-width: 495px) {
  .hero {
    background: url("../images/hero-bg-mob.jpg") top center/cover no-repeat;
    padding-top: 250px;

    align-items: flex-start;
  }

  .hero-logos{
    position: fixed;
    width: 120px;
    height: 60px;
    top: 5px;
    right: 15px;

    bottom: unset;
    left: unset;

    z-index: 6;
  }

  .hero-logos.active{
    position: fixed;
    z-index: 99;
  }

  .hero-logos__item-desk{
    display: none;
  }

  .hero-logos__item-m{
    display: block;
  }
}

.hero-cell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  flex-direction: column;

  align-items: center;
  justify-content: center;
}

@media (max-width: 940px) {
  .hero-cell {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.hero__title {
  font-size: 45px;
  line-height: 1.1;
  text-transform: uppercase;
  font-family: 'Akzidenz';
  font-style: italic;
  font-weight: 700;

  filter: drop-shadow(0px 0px 15px rgba(111, 180, 239, 0.6));
}


.hero__title span:nth-child(1){
  display: block;
  transform: translateX(20px);
}

.hero__title span:nth-child(2){
  font-size: 170px;
  line-height: 0.8;
  display: block;
}

.hero__title span:nth-child(3) {
  font-size: 90px;
  line-height: 1;
  display: block;
}

.hero__desc{
  margin-top: 20px;

  width: max-content;
}

.hero__desc p {
  margin: 0 0 11px 0;
  color: #FFA200;
  font-size: 22px;
  line-height: 1.3;
  text-transform: uppercase;
  font-family: 'Akzidenz';
  font-weight: 700;
  font-style: italic;

  text-align: left;
}

.x2-block{
  position: relative;
}

.x2-block::before{
  content: '';
  position: absolute;
  right: -35px;
  top: -17px;

  width: 35px;
  height: 35px;
  display: block;

  background: url("../images/x-2.svg") center center/contain no-repeat;
}

@media (max-width: 940px) {
  .hero__title {
    margin-left: 45px;
  }
}

@media (max-width: 767px) {
  .hero__title {
    font-size: 16px;
    line-height: 1.2;

    text-align: center;

    margin-right: 0;
  }
  .hero__title span {
    font-size: 50px;
    line-height: 1;
  }

  .hero__title span:nth-child(2) {
    font-size: 30px;
    line-height: 1;
  }

  .hero{
    min-height: auto;
    height: 680px;
  }

  .rules__title{
    display: flex;
    flex-direction: column;
  }

  .hero-cell{
    justify-content: center;
    align-items: center;

    padding-top: 20px;
  }
  .hero__desc{
    margin-top: 15px;
    text-align: center;

    max-width: 240px;
  }

  .x2-block::before{
    right: -15px;
    top: -10px;
    z-index: 1;
  }

  .hero__desc p{
    font-size: 14px;

    position: relative;
    z-index: 2;
  }
}

.hero__desc-skew{
  transform: skew(-10deg);
}

.hero__desc p:last-of-type {
  margin: 0;
}

.hero__desc span {
  display: block;
  background-color: #fff;
  color: #010101;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  padding: 0 4px;
}

.bg {
  background: url("../images/global-bg.jpg") center center/cover no-repeat;
}

.rules {
  padding: 95px 0 70px;
}

.rules__title {
  margin-bottom: 55px;
}

.rules__title a {
  font-size: 18px;
  line-height: 31px;
  text-transform: initial;
  font-weight: 400;
  color: #FFA200;

  text-decoration: underline;
  text-underline-position: under;

  transition: .3s color;
}

.rules__title a:hover{
  color:#FFCF7B;
}

.rules-cell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 940px) {
  .rules-cell {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.rules__item {
  width: 33.3333%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33333%;
          flex: 0 0 33.33333%;
  padding: 46px 20px 10px 75px;
  position: relative;
}

@media (max-width: 940px) {
  .rules__item {
    width: 50%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}

@media (max-width: 700px) {
  .rules__item {
    width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

.rules__item-title {
  text-transform: uppercase;
  font-family: "Akzidenz";
  font-weight: 700;
  font-style: italic;
  font-size: 32px;
  line-height: 1.3;
  margin-bottom: 4px;
}

.rules__item-pic {
  position: absolute;
  top: 0;
  left: 0;
}

.rules__item-desc {
  max-width: 270px;
  font-size: 21px;
  line-height: 1.2;
  font-family: "Akzidenz";
  font-style: italic;
}

.prize {
  padding: 95px 0 45px;
}

.prize__title {
  margin-bottom: 60px;
}

.prize-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 940px) {
  .prize-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.prize-cell {
  width: 50%;
}

@media (max-width: 940px) {
  .prize-cell {
    width: 100%;
  }
}

.prize-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 500px;
}

@media (max-width: 940px) {
  .prize-all {
    margin: 0 auto;
  }
}

@media (max-width: 767px) {
  .prize-all {
    margin-bottom: 64px;
  }
}

.prize-all__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: calc(50% - 25px);
}

.prize-all__item img {
  margin-bottom: 11px;
  width: 100%;
}

.prize-all__item p {
  font-size: 21px;
  line-height: 24px;

  white-space: nowrap;
}

.prize-final {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.prize-final img {
  width: 100%;

  max-width: 430px;

  margin-top: 40px;

  position: relative;
  z-index: 2;
}

.prize-final__title {
  font-family: "Akzidenz";
  font-weight: 700;
  font-style: italic;
  color: #FFA200;
  text-transform: uppercase;
  font-size: 32px;
  line-height: 1.3;

  position: relative;
  z-index: 2;
}

.prize-final__desc {
  font-size: 32px;
  line-height: 1.2;
  font-family: "Akzidenz";
  font-weight: 700;
  font-style: italic;
  max-width: 260px;
  padding-left: 24px;

  margin-top: 25px;

  align-self: flex-start;
}

.prize-final__desc{
  transform: translateY(-10px);
}

.prize-final__desc span{
  display: block;

  transform: translateX(25px);
}

.prize-final__content{
  position: relative;
}

.prize-final__content::before{
  content: '';
  position: absolute;
  top: 4%;
  left: -5%;

  width: 98%;
  height: 98%;
  display: block;
  z-index: 0;

  background: url("../images/prize-final-circle.svg") top center/contain no-repeat;
}

.products {
  padding: 80px 0;
  margin-top: -2px;
  background: #0B1626;
}

.products-item + .products-item{
  margin-top: 60px;
}

.products__title {
  margin-bottom: 60px;
}

.products-item__title {
  font-size: 24px;
  line-height: 1.3;
  margin-bottom: 40px;
  font-style: italic;
  font-weight: 700;
}

.products-item__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.products-item__img{
  height: 120px;
  width: 200px;
  object-fit: contain;
}

.products-item__img_big{
  height: 180px;
}

.product-slider{
  width: 100%;
  height: 100%;

  position: relative;
}

.products-item__element {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  text-align: center;
}

.product-slider-button-next,.product-slider-button-prev{

  width: 42px;
  height: 42px;

  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;

  position: absolute;
  top: calc(50% - 21px);
}

.product-slider-button-prev:hover,.product-slider-button-next:hover{
  cursor: pointer;
}

.product-slider-button-prev::after,.product-slider-button-next::after{
  display: none;
}

.product-slider-button-prev{
  left: 0px;

  background-image: url("../images/slider-arrow-prev.svg");
}

.product-slider-button-next{
  right: 0px;

  background-image: url("../images/slider-arrow-next.svg");
}

.products-item__desc {
  margin-top: 10px;
}

.products-item__desc,.products-item__weight{
  font-style: italic;
}

.products-item__weight {
  margin-top: 4px;
  color: #FFA200;
}

.shop {
  padding: 80px 0;
  background: #0B1626;
}

.shop__title {
  margin-bottom: 60px;
}

.shop-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: flex-start;
}

@media (max-width: 940px) {
  .shop-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .shop-item + .shop-item{
    margin-top: 40px;
  }
}

.shop-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.shop-item:first-of-type {
  margin-right: 150px;
}

@media (max-width: 940px) {
  .shop-item:first-of-type {
    margin-right: 0;
  }
}

.shop-item__title {
  width: 100%;
  margin-bottom: 18px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;

  font-style: italic;
}

.shop-item .shop-cell:nth-of-type(2) {
  margin-left: 60px;
}

.shop-list__item {
  margin-bottom: 24px;
}

.shop-list__link{
  font-size: 22px;
  line-height: 28px;
  text-decoration: underline;
  color: #FFA200;

  font-style: italic;

  transition: .3s color;
}

.shop-list__link:hover{
  color:#FFCF7B;
}

@media (max-width: 767px) {
  .shop-list__link {
    font-size: 16px;
    line-height: 1.2;
  }
}

.winner {
  background: url("../images/global-bg.jpg") center center/cover no-repeat;
  padding: 60px 0 100px;
}

.winner-header{
  margin-bottom: 70px;
}

.winner-header__wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.winner-header__info{
  display: flex;
  align-items: center;
}

.winner-header__info-block + .winner-header__info-block{
  margin-left: 20px;
}

.calendar-select{
  width: 210px;
  height: 46px;
  position: relative;
}

.winner-search{
  position: relative;

  height: 46px;
  width: 260px;

  background: #FFFFFF;
  border-radius: 60px;

  overflow: hidden;

  padding:0 50px 0 20px;
}

.winner-search::after{
  content: '';
  position: absolute;
  right: 0;
  top: 0;

  width: 46px;
  height: 46px;

  border-radius: 50%;

  background: url("../images/search-icon.svg") center center no-repeat;
  background-size: cover;
}

.winner-search__item{
  -webkit-appearance: none;

  width: 100%;
  height: 100%;

  background: none;
  border: none;
  outline: none;

  font-size: 16px;
  font-style: italic;
  color: #405472;
}

.winner-search__item::placeholder{
  opacity: 1;
  color: #405472;
}

.calendar-select::before{
  content: '';
  position: absolute;
  left: 15px;
  top: calc(50% - 9px);

  width: 18px;
  height: 18px;

  display: block;

  background: url("../images/calendar-icon.svg") center center no-repeat;
  background-size: contain;
}

.calendar-select::after{
  content: "";
  position: absolute;
  right: 20px;
  top: calc(50% - 4px);

  width: 12px;
  height: 8px;

  background: url("../images/select-arrow.svg") center center no-repeat;
  background-size: contain;
}

.custom-select{
  position: relative;
}

.custom-select::after{
  content: "";
  position: absolute;
  right: 20px;
  top: calc(50% - 4px);

  width: 12px;
  height: 8px;

  background: url("../images/select-arrow.svg") center center no-repeat;
  background-size: contain;
}

.calendar-select__item{
  -webkit-appearance: none;

  padding: 0 40px;
  height: 100%;

  width: 100%;

  border:none;
  outline: none;

  border-radius: 60px;

  font-style: italic;
  color:#405472;

  font-size: 16px;
}

@media screen and (max-width: 1024px) {
  .winner-header__wrapper{
    flex-direction: column;
  }
  .winner-header__info{
    margin-top: 20px;
  }
}

@media screen and (max-width: 600px) {
  .winner-header__info{
    flex-direction: column;
  }
  .winner-header__info-block + .winner-header__info-block{
    margin-left: 0;
    margin-top: 15px;
  }

  .winner-search,.calendar-select{
    width: 260px;
  }
}

.table {
  max-width: 981px;
  width: 100%;
  margin: 0 auto;
  padding: 0 60px;
  max-height: 340px;
  overflow-y: scroll;
}

.table::-webkit-scrollbar {
  width: 4px;
}

.table::-webkit-scrollbar-track {
  width: 1px;
}

.table::-webkit-scrollbar-thumb {
  background: #405472;
  border-radius: 4px;
  width: 4px;
}

@media (max-width: 767px) {
  .table {
    padding: 0;
  }
}

.table-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.table-cell {
  width: 25%;
}

.table-cell__prize {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.table-cell__prize img {
  margin-right: 14px;

  width: 40px;
  height: 40px;
  flex-shrink: 0;
}

.table-cell_mobile{
  display: none;
}

.table-row__head .table-cell {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 18px;
  color: #FFA200;
  font-style: italic;
}

.table-row .table-cell {
  margin-bottom: 33px;
  font-size: 18px;
  line-height: 22px;
}

.feedback {
  padding: 110px 0 60px;
  background: #0B1626;
}

.feedback-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .feedback-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 450px) {
  .form__item{
    grid-column-end: span 2;
  }
  .table-cell_date, .table-cell_mail{
    display: none;
  }


  .table-cell_mobile{
    display: block;
  }

  .table-cell_gray{
    color:#71829B;
    font-size: 11px;
  }

  .table-row{
    justify-content: flex-start;
  }

  .table-cell{
    width: 50%;
  }

  .table-row .table-cell{
    margin-bottom: 0;

    font-size: 13px;
  }

  .table-row + .table-row{
    margin-top: 17px;
  }

  .table-row__head .table-cell{
    color:#71829B;
    font-size: 14px;

  }

  .rules__item-desc{
    font-size: 16px;
    max-width: 200px;
  }
}

.feedback-item {
  width: 50%;
}

@media (max-width: 767px) {
  .feedback-item {
    width: 100%;
  }
}

.feedback__title {
  margin-bottom: 25px;
}

.feedback-questions {
  max-width: 560px;
  max-height: 440px;
  overflow-y: scroll;
}

.feedback-questions::-webkit-scrollbar {
  width: 4px;
}

.feedback-questions::-webkit-scrollbar-track {
  width: 1px;
}

.feedback-questions::-webkit-scrollbar-thumb {
  background: #405472;
  border-radius: 4px;
  width: 4px;
}

@media (max-width: 767px) {
  .feedback-questions {
    margin-bottom: 50px;
  }
}

.feedback-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 410px;
  width: 100%;
  margin: 0 auto;
}

.col-6 {
  width: calc(50% - 5px);
}

.col-12 {
  width: 100%;
}

.form__input {
  width: 100%;
  padding: 12px 20px;
  border-radius: 23px;
  background-color: #fff;
  border: none;
  outline: none;
  font-size: 18px;
  line-height: 24px;

  width: 100%;
}

select {
  -webkit-appearance: none;
  background-color: #fff;
  padding: 13px 20px;
  border-radius: 23px;
  border: none;
  outline: none;
  font-size: 18px;
  line-height: 24px;

  width: 100%;
}

.form__textarea {
  width: 100%;
  border-radius: 23px;
  background-color: #fff;
  padding: 13px 20px;
  max-width: 360px;
  max-height: 150px;

  resize: none;
}

.form__input,.form__textarea,select{
  font-size: 18px;

  font-family: 'Akzidenz', sans-serif;

  font-style: italic;

  color:#405472;
}

.form__input::placeholder,.form__textarea::placeholder{
  font-style: italic;
  color:#405472;

  opacity: 1;
}

.form__button {
  border: none;
  outline: none;

  border-radius: 23px;

  width: 100%;
  max-width: 253px;
  padding: 12px 40px;

  background-color: #FFA200;
  color: #fff;

  font-family: 'Akzidenz', sans-serif;

  font-size: 21px;
  line-height: 27px;
  text-align: center;
  font-weight: 700;
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: 0.5px;

  transition: .3s background-color;
}

.form__button:hover{
  background-color: #FFCF7B;
}

.question-item {
  padding-right: 15px;
}

.question-item__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 40px;
  position: relative;
  margin-bottom: 20px;

  transition: .3s color linear;
}

.question-item__content:hover{
  cursor: pointer;
}

.question-item__btn {
  width: 20px;
  height: 20px;
  background-color: #FFA200;
  border: 2px solid #FFA200;
  border-radius: 50%;
  margin-right: 10px;
  position: absolute;
  top: 15px;
  left: 0;

  transition: .3s background-color;
}

.question-item__btn span {
  width: 10px;
  height: 2px;
  border-radius: 10px;
  background-color: #fff;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.question-item__btn span:last-of-type {
  height: 10px;
  width: 2px;
}

.question-item__content.active .question-item__btn {
  background-color: transparent;
  border-color: #fff;
}

.question-item__content.active .question-item__btn span:last-of-type {
  display: none;
}

.question-item__text {
  font-size: 16px;
  line-height: 28px;
  font-style: italic;
  font-weight: 700;
  margin-top: 10px;
}

@media screen and (max-width: 767px) {
  .question-item__text{
    font-size: 14px;
    line-height: 18px;
  }
  .question-item__content{
    margin-bottom: 5px;
  }
}

.answer-item__text {
  padding-left: 40px;
  color: #71829B;

  opacity: 0;
  max-height: 0;
  overflow: hidden;
  -moz-transition: opacity .3s, max-height .3s;
  -ms-transition: opacity .3s, max-height .3s;
  transition: opacity .3s, max-height .3s;
  _display: none;
}

.answer-item__text a{
  color: #71829B;
  text-decoration: underline;
}

.answer-item__text ul{
  padding-left: 15px;
}

.answer-item__text ul li{
  list-style: disc;
}

.answer-item__text ol{
  padding-left: 15px;
}

.answer-item__text ol li{
  list-style: decimal;
}

.answer-item__text ul.list-style-none li{
  list-style: none;
}

.answer-item__text ul.list-empty-circle li{
  list-style: circle;
}

.answer-item__text.active {
  display: block;
  height: 100%;

  max-height: 1000px;

  opacity: 1;
  _display: block;
}

.text-underline{
  text-decoration: underline;
}

.hero-demo {
  background: url("../images/demo-bg.png") center center/cover no-repeat;
  width: 100%;
  height: 100vh;
  padding-top: 135px;

  overflow: hidden;

  position: relative;
}

.hero-demo .hero-cell {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: flex-end;
}

.hero-demo .hero-img {
  margin: 0 auto;
  margin-top: 140px;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  position: relative;
}

.hero-demo::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 20px;
  display: block;
  background: #FFA200;
  transform: rotate(0.3deg) translateY(5px);
}

.form__item_big{
  grid-column: span 2;
}

.feedback-form__title{
  font-size: 18px;
  font-style: italic;
  font-weight: 700;
  color: #FFFFFF;

  text-align: center;

  text-transform: uppercase;
}

.feedback-form__desc{
  margin-top: 10px;

  font-size: 16px;
  font-style: italic;
  color: #71829B;

  text-align: center;
}

.feedback-form__content{
  margin-top: 20px;

  display: grid;
  grid-template-columns: repeat(2,minmax(0,1fr));
  gap: 10px;

  max-width: 360px;
  width: 100%;
}

.feedback-form__footer{
  margin: 20px auto 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer{
  background: #0B1626;
}

.footer__wrapper{
  padding: 50px 0 40px 0;
}

.footer__block + .footer__block{
  margin-top: 35px;
}

.footer__list{
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 710px;
  width: 100%;

  margin: 0 auto;
}

.footer-list__link{
  font-size: 14px;
  font-style: italic;
  color:#647484;

  text-decoration: underline;

  text-underline-position: under;
}

.footer__text{
  font-size: 12px;
  line-height: 14.4px;

  color:#647484;
  text-align: center;

  max-width: 800px;
  width: 100%;

  margin: 0 auto;
}

@media (max-width: 767px) {
  .hero-demo .hero-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .footer__wrapper{
    padding: 20px 0 35px 0;
  }

  .footer-list__item + .footer-list__item{
    margin-top: 10px;
  }

  .footer__list{
    flex-direction: column;
  }
}

.hero-demo .hero-img__right {
  position: relative;
  left: -50px;
}

.hero-demo .hero-img__left{
  transform: translateY(-120px);
}

@media (max-width: 800px) {
  .hero-demo .hero-img__right {
    max-width: 200px;
  }
}

@media (max-width: 767px) {
  .hero-demo .hero-img__right {
    max-width: 140px;
    right: 50px;
  }
}

@media (max-width: 800px) {
  .hero-demo .hero-img__left {
    max-width: 300px;
  }
}

@media (max-width: 767px) {
  .hero-demo .hero-img__left {
    max-width: 239px;
    height: 157px;
  }
}

.hours, .days, .minutes {
  font-size: 36px;
  line-height: 42px;
  font-weight: 700;
  position: relative;
  color: #010101;
}

.hero__counter-numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero__counter-title {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 700;
  color: #FFA200;
}

.hero__counter-numbers {
  font-size: 36px;
  line-height: 42px;
  margin-left: -20px;
}

@media (max-width: 1168px) {
  .hero__counter-numbers {
    margin-top: 40px;
  }
}

@media screen and (max-width: 1024px) {
  .hero__counter{
    margin-top: 30px;
  }
  .hero__title{
    margin-left: 120px;
  }
}

@media (max-width: 767px) {
  .hero__counter-numbers {
    margin-left: 0;
  }
}

.hero__counter-numbers div {
  margin: 0  20px;
}

@media (max-width: 767px) {
  .hero__counter-numbers div {
    margin: 0;
  }
}

.timer__block span {
  position: relative;
  z-index: 1;
  background-color: #fff;
  padding: 0 4px;

  width: 42px;
  height: 54px;

  display: flex;
  align-items: center;
  justify-content: center;

  flex-shrink: 0;

  font-family: 'Akzidenz', sans-serif;
  font-weight: 700;
}

.timer__block span + span{
  margin-left: 10px;
}

.hero__counter-numbers .timer__block-content{
  margin: 0;
}

.timer__block-content{
  display: flex;
  align-items: center;
}

.timer__block-text{
  font-size: 14px;

  font-style: italic;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  color: #FFFFFF;
}

.hero__counter-numbers span::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 42px;
  height: 100%;
  z-index: 0;
}

@media screen and (max-width: 450px) {
  .timer__block span {
    width: 36px;
    height: 48px;
  }
  .timer__divider{
    margin: 0 5px;
    display: block;
  }

  .hero-demo .hero-img__right{
    top: 0;
  }
  .hero-demo .hero-img__left{
    transform: translateY(-80px);
  }
  .hero-demo .hero-img{
    margin-top: 150px;
  }
  .hero__counter-title{
    font-size: 14px;
  }
  .hero__title{
    margin-left: 0;
  }
  .hero__counter-numbers{
    margin-top: 10px;
  }
  .hero-demo{
    position: relative;
  }
  .hero-demo::before{
    content: '';
    position: absolute;
    width: 180px;
    height: 130px;
    right: 0;
    top: 0;
    display: block;
    background: url("../images/light-logos.png") center center no-repeat;
    background-size: contain;
  }
  .prize-final__desc{
    font-size: 21px;
    margin-top: 10px;
  }
}

.widget{
  display: none;
  position: absolute;
  right: 30px;
  bottom: 20px;

  max-width: 310px;
  width: 100%;
}

.widget__wrapper{
  width: 100%;

  background: #FFA200;
  border-radius: 40px;

  padding:20px 5px 5px 5px;
}

.widget__title{
  font-style: italic;
  font-weight: bold;
  font-size: 12px;

  letter-spacing: 0.02em;
  text-transform: uppercase;

  color: #0B1626;

  text-align: center;
}

.widget__header::after{
  content: '';

  width: 12px;
  height: 10px;
  display: block;

  background: url("../images/widget-arrow.svg") center center no-repeat;
  background-size: contain;

  margin:7px auto 0 auto;
}

.widget__content{
  margin-top: 15px;
  width: 100%;
}

.widget__footer{
  margin-top: 10px;
}

.widget__text{
  font-style: italic;
  font-size: 12px;

  text-align: center;

  color: #FFFFFF;
}

.login__wrapper{
  background: #FFFFFF;
  border-radius: 40px;

  padding:15px;

  display: flex;
  align-items: stretch;
}

.login-wrapper__icon{
  width: 50px;
  height: 50px;

  border-radius: 50%;

  background: #FFA200;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.login-wrapper__icon-item{
  width: 25px;
  height: 25px;

  object-fit: contain;
}

.login-wrapper___content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin-left: 10px;
  padding: 5px 0;
}

.login-wrapper__title{
  font-style: italic;
  font-weight: bold;
  font-size: 15px;

  letter-spacing: 0.02em;
  text-transform: uppercase;

  color: #0B1626;
}

.login-wrapper__text{
  font-style: italic;
  font-size: 16px;

  letter-spacing: 0.02em;

  color: #0B1626;
}

.popup{
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  opacity: 0;
  z-index: -1;

  transition: 0.3s all;
}

.popup-trigger:hover{
  cursor: pointer;
}

.popup__close{
  width: 18px;
  height: 18px;

  display: block;

  background: url("../images/close.svg") center center/contain no-repeat;
}

.popup-close:hover{
  cursor: pointer;
}

.popup.active{
  z-index: 99;
  opacity: 1;
}

.popup__wrapper{
  width: 100%;
  height: 100%;

  background-color: rgba(0,0,0,0.6);
  backdrop-filter: blur(5px);

  display: flex;
  align-items: center;
  justify-content: center;
}

.popup__container{
  max-width: 420px;
  width: 100%;
  background: #FFFFFF;
  border-radius: 20px;

  overflow: hidden;
}

.popup__header{
  display: flex;
  align-items: center;
  justify-content: space-between;

  background: #FFA200;

  height: 60px;
  padding: 0 25px 0 30px;
}

.popup__title{
  font-style: italic;
  font-weight: bold;
  font-size: 15px;

  letter-spacing: 0.02em;
  text-transform: uppercase;

  color: #0B1626;
}

.popup__content{
  min-height: 240px;

  padding: 0 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.popup__btn{
  -webkit-appearance: none;

  border: none;
  outline: none;

  background: #FFA200;
  border-radius: 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 50px;
  width: 100%;

  font-size: 18px;
  letter-spacing: 0.02em;
  color: #0B1626;

  transition: .3s background-color;
}

.popup__btn:hover{
  background-color: #FFCF7B;
}

.popup-thanks__btn{
  margin-top: 40px;
}

.popup__text{
  font-size: 18px;
  line-height: 140%;

  text-align: center;
  letter-spacing: 0.02em;

  color: #0B1626;

  padding: 0 30px;
}

.cookie-alert{
  position: fixed;
  bottom: 0;
  left: 0 ;

  width: 100%;
  z-index: 10;

  transition: 0.5s all linear;

  display: none;
}

.cookie-alert.hidden{
  z-index: -1;
  opacity: 0;
  transform: translateY(100px);
}

.cookie-alert__wrapper{
  padding: 32px 0;
  background: #405472;

  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.cookie-alert__content{
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 550px;
  width: 100%;
  padding: 0 15px;
}

.cookie-alert__text{
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF;

  max-width: 380px;
}

.cookie-alert__close{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

  width: 92px;
  height: 35px;
  margin-left: 15px;

  border: 1px solid #FFFFFF;
  border-radius: 20px;

  font-size: 10px;
  line-height: 14px;
  color: #FFFFFF;
}

.e-root{
  right: 0!important;
  left: unset!important;
  padding-bottom: 48px!important;
}

.hint{
  position: fixed;
  right: 25px;
  bottom: 130px;
  transition: 0.3s all;

  display: none;
}

.hint.hidden{
  opacity: 0;
  z-index: -1;
}

.hint__img{
  width: 160px;
  height: 85px;
}

.hint__img img{
  width: 100%;
  height: 100%;

  object-fit: contain;
}

@media screen and (max-width: 700px) {
  .hint{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hint__img{
    width: 120px;
    height: 45px;
  }
  .e-root{
    left: 0!important;

    display: flex;
    align-items: center;
    justify-content: center;
  }
  .e-root__buttons{
    align-items: center!important;
  width: 100% !important;
    justify-content: center!important;
  }
  .info-button__wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 300px!important;
    width: 100% !important;
  }
  .cookie-alert__wrapper{
    padding: 20px 0 110px 0;
  }
  .cookie-alert__content{
    flex-direction: column;

    padding: 0 50px;
  }

  .cookie-alert__close{
    margin-left: 0;
    margin-top: 15px;
  }

  .cookie-alert__text{
    text-align: center;
  }
}

.empty-winner__wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.empty-winner__content{
  margin-top: 25px;
}

.empty-winner__title{
  font-weight: 700;
  font-style: italic;
  font-size: 32px;
  line-height: 41px;
  text-align: center;
  text-transform: uppercase;

  color: #FFFFFF;
}

.empty-winner__text{
  font-style: italic;
  font-size: 18px;
  line-height: 23px;
  text-align: center;

  color: #FFFFFF;

  max-width: 400px;
  width: 100%;

  margin:33px auto 0 auto;
}

@media screen and (max-width: 450px) {
  .empty-winner__title {
    font-size: 28px;
    line-height: 35.7px;
  }
  .empty-winner__text{
    margin-top: 20px;
  }
}

.qs-datepicker-container{
  z-index: 8;

  background: #FFFFFF;
  border-radius: 20px;

  width: 100%;

  padding: 10px 15px;

  font-family: 'Akzidenz', sans-serif;
}

.qs-controls{
  height: 20px;
  padding-bottom: 5px;
  background: none;

  border:none;
}

.qs-month,.qs-year{
  font-size: 12px;
  color: #FFA200;
}

.qs-month-year:hover{
  border:none;
}

.qs-month-year{
  border: none;
}

.qs-day{
  font-size: 9px;
  font-weight: 400;
  color:#FFA200;
  font-style: normal;
}

.qs-num{
  font-size: 9px;
  color: #405472;
  font-style: normal;

  border-radius: 50%;
}

.qs-current{
  position: relative;

  background: #FFA200;
  color:#fff;
  font-weight: 400;

  text-decoration: none;
}

.qs-square{
  height: 17px;
  width: 17px;
}

.qs-squares{
  padding: 0;

  display: grid;
  grid-template-columns: repeat(7,minmax(0,1fr));
  column-gap: 15px;
  row-gap: 2px;
}

.qs-arrow.qs-left:after{
  width: 10px;
  height: 10px;
  display: block;

  background: url("../images/calendar-arrow.svg") center center/contain no-repeat;

  border: none;

  transform: translateY(-3px) translateX(5px);
}

.qs-arrow.qs-right:after{
  width: 10px;
  height: 10px;
  display: block;

  background: url("../images/calendar-arrow.svg") center center/contain no-repeat;

  border: none;

  transform: rotate(180deg) translateY(4px) translateX(5px);
}

.qs-arrow:hover{
  background: none;
}

.promotion-period{
  position: fixed;
  z-index: 99;
  right: 15px;
  bottom: 15px;
}

.promotion-period__text{
  font-size: 12px;
  font-style: italic;
  color: #FFFFFF;
}

@media screen and (max-width: 767px) {
  .promotion-period{
    right: 0;
    left: 0;

    width: 100%;

    font-size: 11px;
    text-align: center;
  }
}


/*# sourceMappingURL=style.css.map */