@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Italic/Roboto-Italic.woff2') format('woff2'),
  url('../fonts/Roboto-Italic/Roboto-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-LightItalic/Roboto-LightItalic.woff2') format('woff2'),
  url('../fonts/Roboto-LightItalic/Roboto-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-BoldItalic/Roboto-BoldItalic.woff2') format('woff2'),
  url('../fonts/Roboto-BoldItalic/Roboto-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular/Roboto-Regular.woff2') format('woff2'),
  url('../fonts/Roboto-Regular/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Light/Roboto-Light.woff2') format('woff2'),
  url('../fonts/Roboto-Light/Roboto-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold/Roboto-Bold.woff2') format('woff2'),
  url('../fonts/Roboto-Bold/Roboto-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Lora';
  src: url('../fonts/Lora-Regular/Lora-Regular.woff2') format('woff2'),
  url('../fonts/Lora-Regular/Lora-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



