@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

/*--------------------*/
body {
  background-color: #171A23;
  &.main-page {
    background-color: #161A25;
    .section{
      &__img{
        img{
          object-fit: fill;
        }
      }
    }
  .footer {
    margin-top: 0;
  }
}
}
.container{
  width: 100%;
  max-width: 1440px;
  margin:0 auto;
}

.uppercase{
  text-transform: uppercase;
}

.text-center{
  text-align: center;
}

.bold{
  font-family: 'Museo Sans Cyrl 900';
}

.header{
  margin-top: 50px;
  &__logo{
    width: 90px;
    height: 45px;
    img{
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &__nav{
    margin: 0 50px;
  }
  .container{
    display: flex;
    align-items: center;
  }
}
.nav-list{
  display: flex;
  align-items: center;
  &__item + &__item{
    margin-left: 40px;
  }
  &__link{
    font-size: 18px;
    color: #fbfafb;
    letter-spacing: 0.18px;
    font-family: 'Museo Sans Cyrl 900';
    font-weight: 900;
    &.active{
      position: relative;
      &::before{
        content: '';
        position: absolute;
        width: 50px;
        height: 30px;
        background-color: #FA3D4E;
        transform: skew(30deg);
        z-index: -1;
        left: 50%;
        margin-left: -25px;
        top: 50%;
        margin-top: -15px;
      }
    }
  }
}

.content{
  margin-top: 60px;
  &-page{
    display: flex;
    align-items: flex-start;
    &__text{
      .row{
        border:20px solid #faf5f6;
        align-items: center;
        padding: 130px 0 120px 0;
        .column{
          &:nth-child(1){
            flex-basis: 60%;
          }
          &:nth-child(2){
            flex-basis: 40%;
            margin-left: 30px;
          }
        }
      }
    }
    .column{
      &:nth-child(1){
        flex-basis: 30%;
        flex-shrink: 0;
      }
      &:nth-child(2){
        flex-basis: 70%;
        margin-left: 40px;
      }
    }
    &__img{
      position: relative;
      &::before{
        position: absolute;
        content: '';
        display: block;
        width: calc(100%);
        height: calc(100%);
        border: 20px solid #4D4E56;
        right: -50px;
        top: 50px;
        z-index: -1;
      }
      img{
        width: 100%;
        height: 100%;
        object-fit: contain;
        border:20px solid #FAF5F6;
      }
    }
  }
}

.section{
  & + &{
    margin-top: 190px;
  }
  .page-title{
    text-align: left;
  }
  &__social-list{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .social-list__item + .social-list__item{
    margin-left: 0;
    margin-top: 85px;
  }
  &__img{
    width: 100%;
    height: 100%;
    img{
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.advantages{
  &-wrapper{
    margin: 53px 0 153px 0;
  }
 &-list{
   display: flex;
   justify-content: space-between;
   &__item{
     flex-basis: 25%;
     display: flex;
     justify-content: center;
     align-items: center;
   }
   &__content{
     color: #faf5f6;
     font-size: 18px;
     letter-spacing: .18px;
     font-family: 'Museo Sans Cyrl 300';
     text-align: right;
     margin-right: 15px;
   }
   &__img{
     width: 100px;
     height: 100px;
     img{
       width: 100%;
       height: 100%;
       object-fit: contain;
     }
   }
 }
}

.row{
  display: flex;
  &-text{
    background-color: #12151e;
  }
  .column{
    flex-basis: 50%;
    &-with-margin{
      margin-bottom: 100px;
    }
    &-text{
      padding: 35px 45px;
      background-color: #13151E;
    }
    &-shadow{
      box-shadow: 15px 15px 20px 15px rgba(0,0,0,0.5);
    }
  }
  .column + .column{
    margin-left: 125px;
  }
}
.form-submit{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 168px;
  height: 44px;
  border-radius: 10px;
  border: solid 1px #fdfbfc;
  background-image: linear-gradient(to top, #f52ffc, #fa3d4e);
  font-family: 'Museo Sans Cyrl 700';
  font-size: 18px;
  color:#fffaff;
  letter-spacing: 0.1px;
  text-transform: uppercase;
  font-style: normal;
  margin:55px auto auto auto;
}
.contacts-form{
  padding: 45px;
  border-radius: 10px;
  border: solid 1px #faf5f6;
  .input-wrapper + .input-wrapper{
    margin-top: 30px;
  }
  .input-wrapper{
    position: relative;
    padding-bottom: 3px;
    &::before{
      position: absolute;
      content: '';
      width: calc(100% - 30px);
      right: 0;
      bottom: -3px;
      height: 1px;
      background-color: #faf5f6;
    }
    .input{
      &_sub-text{
        position: absolute;
        right: 0;
        bottom: -100%;
        font-size: 18px;
        color: #fbf9f8;
        letter-spacing: .18px;
        font-family: 'Museo Sans Cyrl 100';
      }
    }
    input{
      background-color: transparent;
      border:none;
      outline: none;
      font-family: 'Museo Sans Cyrl 100';
      font-size: 18px;
      color: #fbf9f8;
      width: 100%;
      letter-spacing: .18px;
      &::placeholder{
        font-size: 18px;
        color: #fbf9f8;
        letter-spacing: .18px;
        font-family: 'Museo Sans Cyrl 100';
      }
    }
  }
}

.text-title{
  font-family: 'Museo Sans Cyrl 900';
  font-size: 30px;
  letter-spacing: .3px;
  color: #fbf9f8;
  font-style: italic;
  margin-bottom: 80px;
}

.text{
  color: #fbf9f8;
  font-size: 26px;
  letter-spacing: .26px;
  font-style: italic;
  font-family: 'Museo Sans Cyrl 300';
  &-small{
    font-size: 18px;
    letter-spacing: .18px;
  }
  & + & {
    margin-top: 35px;
  }
}

.page{
  &-title{
    font-family: 'Museo Sans Cyrl 900';
    font-style: italic;
    font-size: 36px;
    color: #fbf9f8;
    text-transform: uppercase ;
    text-align: center;
    margin-bottom: 70px;
  }
}

.package{
  &-list{
    &__item{
      font-family: 'Museo Sans Cyrl 500';
      font-style: italic;
    }
    &__item + &__item{
      margin-top: 35px;
    }
    &__title,.buy-now-text{
      font-size: 24px;
      letter-spacing: 0.24px;
      text-transform: uppercase;
      color: #fbf9f8;
      text-align: center;
    }
    &__desc{
      margin: 30px 0;
      text-align: center;
      color: #fbf9f8;
      font-size: 13px;
      letter-spacing: 0.13px;
    }
  }
}

.btn{
  &-buy{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 25px;
    border-radius: 10px;
    border: solid 1px #fdfbfc;
    background-image: linear-gradient(to top, #f52ffc, #fa3d4e);
    font-family: 'Museo Sans Cyrl 700';
    font-size: 10px;
    color:#fffaff;
    letter-spacing: 0.1px;
    text-transform: uppercase;
    font-style: normal;
    margin:25px 0 0 auto;
    &:hover{
      box-shadow:  0 0 4px 4px #B5B694;
    }
    &_big{
      width: 168px;
      height: 44px;
      margin: 30px auto auto auto;
      font-size: 18px;
    }
  }
}

.footer{
  margin-top: 105px;
  padding: 30px 0 90px 0;
  background-color: #1e252b;
  &-nav{
    &__list{
      display: flex;
      justify-content: space-between;
      &_sub{
        flex-direction: column;
        padding-top: 20px;
        justify-content: center;
        align-items: center;
        .footer-nav__item + .footer-nav__item{
          margin-top: 40px;
        }
      }
    }
    &__item{
      flex-basis: 25%;
      &:first-child,&:last-child{
        .footer-nav__link{
          padding:20px 0 20px 85px;
        }
      }
    }
    &__link{
      width: 100%;
      display: block;
      background-color: #12151e;
      padding: 20px 0;
      font-family: 'Museo Sans Cyrl 900';
      font-size: 30px;
      letter-spacing: .3px;
      color: #fefbfb;
      &_sub{
        font-size: 27px;
        font-family: 'Museo Sans Cyrl 500';
        color: #fefbfb;
        letter-spacing: .27px;
        text-align: center;
      }
    }
  }
  &__social-list{
    margin:30px 0;
    justify-content: center;
  }
  &__text{
    font-family: 'Museo Sans Cyrl 700';
    font-style: italic;
    color:#fefbfb;
    font-size: 39px;
    letter-spacing: .39px;
  }
}

.item{
  &-list{
    display: flex;
    justify-content: space-between;
    padding: 40px 180px 5px 180px;
    width: 100%;
    &__item{
      padding:35px 4px;
      position: relative;
      &:hover{
        .item-list__img{
          box-shadow: 0 0 2px 4px #67695A;
        }
        .item-list__content{
          box-shadow: 0 5px 2px 4px #67695A;
        }
      }
    }
    &__img{
      padding:35px 4px 30px 4px;
      background-image: linear-gradient(to left, #0C0D11,#171A24);
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0 0 2px 4px transparent;
      transition: 0.5s all ease-in-out;
      img{
        width: 215px;
        height: 215px;
        object-fit: contain;
      }
    }
    &__text{
      font-family: 'Museo Sans Cyrl 900';
      font-size: 18px;
      letter-spacing: .18px;
      color: #fbfafb;
    }
    &__content{
      padding:20px 25px 42px 25px;
      background-image: linear-gradient(to right, #0C0D11,#171A24);
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      box-shadow: 0 5px 2px 4px transparent;
      transition: 0.5s all ease-in-out;
      min-height: 120px;
    }
  }
}

.social{
  &-list{
    display: flex;
    &__item + &__item{
      margin-left: 50px;
    }
    &__item{
      display: flex;
      align-items: center;
      &::before{
        content: "";
        margin-right: 25px;
        height: 38px;
        width: 38px;
        display: inline-flex;
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
      }
      &_email{
        &::before{
          background-image: url("img/icons/email.png");
        }
      }
      &_wa{
        &::before{
          background-image: url("img/icons/phone.png");
        }
      }
      &_telegram{
        &::before{
          background-image: url("img/icons/telegram.png");
        }
      }
    }
    &__link{
      font-family: 'Museo Sans Cyrl 900';
      color: #fbfafb;
      font-size: 18px;
      letter-spacing: 0.18px;
    }
  }
}

.tabs {
  &-g{
    .tabs-content{
      margin-top: 40px;
    }
    .text{
      line-height: 1.19
    }
    .column{
      img{
        width: 98%;
        height: 100%;
        object-fit: contain;
      }
    }
    .tabs-nav{
      text-align: center;
    }
    .btn-buy{
      margin-top: 12px;
    }
    .package-list__title{
      text-transform: none;
      text-align: right;
    }
    .package-list__item{
      text-align: right;
      &:nth-child(1),&:nth-child(2){
        .package-list__title{
          padding-right: 40px;
        }
      }
    }
    .package-list__item + .package-list__item{
      margin-top: 20px;
    }
  }
  &-nav{
    &__item{
      position: relative;
      padding-left: 20px;
      &::before{
        content: '';
        position: absolute;
        top: -4px;
        left: -10px;
        height:32px;
        width: 0;
        display: block;
        background-color: #FA3D4E;
        transform: skew(35deg);
        transition: 0.3s width linear;
      }
      &.active{
        &::before{
          width: 39px;
        }
      }
    }
  }
  &-content {
    position: relative;
    &__item {
      position: absolute;
      transition: .5s transform linear, .5s z-index linear, .3s opacity linear;
      z-index: -1;
      display: block;
      opacity: 0;
      width: 100%;
      transform: scale(0);

      &.active {
        z-index: 2;
        position: relative;
        opacity: 1;
        height: 100%;
        transition: .5s transform linear, .3s z-index linear, .5s opacity linear;
        transform: scale(1);
      }
    }
  }
}

@media screen and (max-width: 1440px){
  .container{
    padding: 0 150px;
  }
  .header{
    .container{
      padding: 0 5px;
    }
  }
  .item-list{
    padding: 40px 0 5px 0;
  }
}

@media screen and (max-width: 1400px){
  .nav{
    &-list{
      &__link{
        font-size: 14px;
      }
    }
  }
  .social{
    &-list{
      &__item{
        &::before{
          font-size: 25px;
          width: 25px;
          margin-right: 15px;
        }
      }
      &__link{
        font-size: 14px;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .header{
    margin-top: 30px;
    .container{
      flex-wrap: wrap;
      justify-content: center;
    }
    &__social-list{
      margin-top: 30px;
    }
  }
  .content{
    margin-top: 30px;
    &-page{
      &__img{
        &::before{
          display: none;
        }
      }
      .column{
        &:nth-child(1){
          flex-basis: 40%;
        }
        &:nth-child(2){
          flex-basis: 60%;
        }
      }
    }
  }
  .page-title{
    margin-bottom: 40px;
    font-size: 26px;
  }
  .package-list{
    &__title,.buy-now-text{
      font-size: 18px;
    }
  }
  .tabs{
    &-nav{
      &__item{
        &::before{
          height: 20px;
        }
        &.active{
          &::before{
            width: 40px;
          }
        }
      }
    }
  }
  .footer{
    &__text{
      font-size: 20px;
    }
    &-nav{
      &__link{
        font-size: 18px;
        &_sub{
          font-size: 16px;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px){
  .row{
    flex-direction: column;
    .column{
      flex-basis: 100%;
    }
    .column + .column{
      margin-left: 0;
      margin-top: 30px;
    }
  }
  .item-list{
    flex-wrap: wrap;
    justify-content: space-around;
    &__item{
      flex-basis: 40%;
    }
  }
}

@media screen and (max-width: 768px){
  .container{
    padding: 0 15px;
  }
  .footer{
    &-nav{
      &__list{
        flex-direction: column;
        text-align: center;
        &_sub{
          padding: 20px 0;
        }
      }
      &__item{
        &:first-child,&:last-child{
          .footer-nav__link{
            padding-left: 0;
          }
        }
      }
    }
    &__social-list{
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .social-list__item + .social-list__item{
      margin-left: 0;
      margin-top: 15px;
    }
  }
  .content-page{
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    .column{
      &:nth-child(1),&:nth-child(2){
        flex-basis: 100%;
        margin: 0;
      }
      &:nth-child(1){
        margin-top: 60px;
      }
    }
  }
  .advantages{
    &-wrapper{
      margin:50px 0;
    }
   &-list{
     flex-direction: column;
     &__content{
       margin-right: 15px;
     }
     &__item + &__item{
       margin-top: 15px;
     }
   }
  }
}

@media screen and (max-width: 500px) {
  .header{
    .social-list__item + .social-list__item{
      margin-left: 0;
    }
    &__social-list{
      margin-top: 0;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &__nav{
      margin: 25px 0 15px 0;
      .nav-list{
        flex-wrap: wrap;
        justify-content: center;
        &__item{
          margin: 0 15px 10px 15px;
        }
        .nav-list__item + .nav-list__item{
          margin-left:15px;
        }
      }
    }
  }
  .container{
    padding: 0 5px;
  }
  .item-list{
    padding-top: 0;
    &__item{
      flex-basis: 100%;
    }
  }
  .text{
    font-size: 18px;
    &-title{
      margin-bottom: 30px;
    }
  }
  .text +.text{
    margin-top: 15px;
  }
  .contacts-form {
    padding:15px;
    .input-wrapper{
      input{
        font-size: 14px;
        &::placeholder{
          font-size: 14px;
        }
      }
      .input_sub-text{
        font-size: 10px;
      }
    }
  }
}

