@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  background-color: #171A23;
}
body.main-page {
  background-color: #161A25;
}
body.main-page .footer {
  margin-top: 0;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.uppercase {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.bold {
  font-family: "Museo Sans Cyrl 900";
}

.header {
  margin-top: 50px;
}
.header__logo {
  width: 90px;
  height: 45px;
}
.header__logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.header__nav {
  margin: 0 50px;
}
.header .container {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
}
.nav-list__item + .nav-list__item {
  margin-left: 40px;
}
.nav-list__link {
  font-size: 18px;
  color: #fbfafb;
  letter-spacing: 0.18px;
  font-family: "Museo Sans Cyrl 900";
  font-weight: 900;
}

.content {
  margin-top: 60px;
}
.content-page {
  display: flex;
  align-items: flex-start;
}
.content-page .column:nth-child(1) {
  flex-basis: 30%;
  flex-shrink: 0;
}
.content-page .column:nth-child(2) {
  flex-basis: 70%;
  margin-left: 40px;
}
.content-page__img {
  border: 20px solid #FAF5F6;
  position: relative;
}
.content-page__img::before {
  position: absolute;
  content: "";
  display: block;
  width: calc(100% + 40px);
  height: calc(100% + 40px);
  border: 20px solid #4D4E56;
  right: -75px;
  top: 30px;
  z-index: -1;
}
.content-page__img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.section + .section {
  margin-top: 190px;
}
.section .page-title {
  text-align: left;
}
.section__social-list {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.section .social-list__item + .social-list__item {
  margin-left: 0;
  margin-top: 85px;
}
.section__img {
  width: 100%;
  height: 100%;
}
.section__img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.advantages-wrapper {
  margin: 53px 0 153px 0;
}
.advantages-list {
  display: flex;
  justify-content: space-between;
}
.advantages-list__item {
  flex-basis: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.advantages-list__content {
  color: #faf5f6;
  font-size: 18px;
  letter-spacing: 0.18px;
  font-family: "Museo Sans Cyrl 300";
  text-align: right;
  margin-right: 15px;
}
.advantages-list__img {
  width: 100px;
  height: 100px;
}
.advantages-list__img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.row {
  display: flex;
}
.row-text {
  background-color: #12151e;
}
.row .column {
  flex-basis: 50%;
}
.row .column-with-margin {
  margin-bottom: 100px;
}
.row .column-text {
  padding: 35px 45px;
  background-color: #13151E;
}
.row .column-shadow {
  box-shadow: 15px 15px 20px 15px rgba(0, 0, 0, 0.5);
}
.row .column + .column {
  margin-left: 125px;
}

.form-submit {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 168px;
  height: 44px;
  border-radius: 10px;
  border: solid 1px #fdfbfc;
  background-image: linear-gradient(to top, #f52ffc, #fa3d4e);
  font-family: "Museo Sans Cyrl 700";
  font-size: 18px;
  color: #fffaff;
  letter-spacing: 0.1px;
  text-transform: uppercase;
  font-style: normal;
  margin: 55px auto auto auto;
}

.contacts-form {
  padding: 45px;
  border-radius: 10px;
  border: solid 1px #faf5f6;
}
.contacts-form .input-wrapper + .input-wrapper {
  margin-top: 30px;
}
.contacts-form .input-wrapper {
  position: relative;
  padding-bottom: 3px;
}
.contacts-form .input-wrapper::before {
  position: absolute;
  content: "";
  width: calc(100% - 30px);
  right: 0;
  bottom: -3px;
  height: 1px;
  background-color: #faf5f6;
}
.contacts-form .input-wrapper .input_sub-text {
  position: absolute;
  right: 0;
  bottom: -100%;
  font-size: 18px;
  color: #fbf9f8;
  letter-spacing: 0.18px;
  font-family: "Museo Sans Cyrl 100";
}
.contacts-form .input-wrapper input {
  background-color: transparent;
  border: none;
  outline: none;
  font-family: "Museo Sans Cyrl 100";
  font-size: 18px;
  color: #fbf9f8;
  width: 100%;
  letter-spacing: 0.18px;
}
.contacts-form .input-wrapper input::placeholder {
  font-size: 18px;
  color: #fbf9f8;
  letter-spacing: 0.18px;
  font-family: "Museo Sans Cyrl 100";
}

.text-title {
  font-family: "Museo Sans Cyrl 900";
  font-size: 30px;
  letter-spacing: 0.3px;
  color: #fbf9f8;
  font-style: italic;
  margin-bottom: 80px;
}

.text {
  color: #fbf9f8;
  font-size: 26px;
  letter-spacing: 0.26px;
  font-style: italic;
  font-family: "Museo Sans Cyrl 300";
}
.text-small {
  font-size: 18px;
  letter-spacing: 0.18px;
}
.text + .text {
  margin-top: 35px;
}

.page-title {
  font-family: "Museo Sans Cyrl 900";
  font-style: italic;
  font-size: 36px;
  color: #fbf9f8;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 70px;
}

.package-list__item {
  font-family: "Museo Sans Cyrl 500";
  font-style: italic;
}
.package-list__item + .package-list__item {
  margin-top: 35px;
}
.package-list__title, .package-list .buy-now-text {
  font-size: 24px;
  letter-spacing: 0.24px;
  text-transform: uppercase;
  color: #fbf9f8;
  text-align: center;
}
.package-list__desc {
  margin: 30px 0;
  text-align: center;
  color: #fbf9f8;
  font-size: 13px;
  letter-spacing: 0.13px;
}

.btn-buy {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 25px;
  border-radius: 10px;
  border: solid 1px #fdfbfc;
  background-image: linear-gradient(to top, #f52ffc, #fa3d4e);
  font-family: "Museo Sans Cyrl 700";
  font-size: 10px;
  color: #fffaff;
  letter-spacing: 0.1px;
  text-transform: uppercase;
  font-style: normal;
  margin: 25px 0 0 auto;
}
.btn-buy_big {
  width: 168px;
  height: 44px;
  margin: 30px auto auto auto;
  font-size: 18px;
}

.footer {
  margin-top: 105px;
  padding: 30px 0 90px 0;
  background-color: #1e252b;
}
.footer-nav__list {
  display: flex;
  justify-content: space-between;
}
.footer-nav__list_sub {
  flex-direction: column;
  padding-top: 20px;
  justify-content: center;
  align-items: center;
}
.footer-nav__list_sub .footer-nav__item + .footer-nav__item {
  margin-top: 40px;
}
.footer-nav__item {
  flex-basis: 25%;
}
.footer-nav__item:first-child .footer-nav__link, .footer-nav__item:last-child .footer-nav__link {
  padding: 20px 0 20px 85px;
}
.footer-nav__link {
  width: 100%;
  display: block;
  background-color: #12151e;
  padding: 20px 0;
  font-family: "Museo Sans Cyrl 900";
  font-size: 30px;
  letter-spacing: 0.3px;
  color: #fefbfb;
}
.footer-nav__link_sub {
  font-size: 27px;
  font-family: "Museo Sans Cyrl 500";
  color: #fefbfb;
  letter-spacing: 0.27px;
  text-align: center;
}
.footer__social-list {
  margin: 30px 0;
  justify-content: center;
}
.footer__text {
  font-family: "Museo Sans Cyrl 700";
  font-style: italic;
  color: #fefbfb;
  font-size: 39px;
  letter-spacing: 0.39px;
}

.item-list {
  display: flex;
  justify-content: space-between;
  padding: 40px 180px 5px 180px;
  width: 100%;
}
.item-list__item {
  padding: 35px 4px;
  position: relative;
}
.item-list__item:hover .item-list__img {
  box-shadow: 0 0 2px 4px #67695A;
}
.item-list__item:hover .item-list__content {
  box-shadow: 0 5px 2px 4px #67695A;
}
.item-list__img {
  padding: 35px 4px 30px 4px;
  background-image: linear-gradient(to left, #0C0D11, #171A24);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 2px 4px transparent;
  transition: 0.5s all ease-in-out;
}
.item-list__img img {
  width: 215px;
  height: 215px;
  object-fit: contain;
}
.item-list__text {
  font-family: "Museo Sans Cyrl 900";
  font-size: 18px;
  letter-spacing: 0.18px;
  color: #fbfafb;
}
.item-list__content {
  padding: 20px 25px 42px 25px;
  background-image: linear-gradient(to right, #0C0D11, #171A24);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 5px 2px 4px transparent;
  transition: 0.5s all ease-in-out;
  min-height: 120px;
}

.social-list {
  display: flex;
}
.social-list__item + .social-list__item {
  margin-left: 50px;
}
.social-list__item {
  display: flex;
  align-items: center;
}
.social-list__item::before {
  content: "";
  margin-right: 25px;
  height: 38px;
  width: 38px;
  display: inline-flex;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}
.social-list__item_email::before {
  background-image: url("img/icons/email.png");
}
.social-list__item_wa::before {
  background-image: url("img/icons/phone.png");
}
.social-list__item_telegram::before {
  background-image: url("img/icons/telegram.png");
}
.social-list__link {
  font-family: "Museo Sans Cyrl 900";
  color: #fbfafb;
  font-size: 18px;
  letter-spacing: 0.18px;
}

.tabs-nav__item {
  position: relative;
}
.tabs-nav__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 0;
  display: block;
  background-color: #FA3D4E;
  transform: skew(35deg);
  transition: 0.3s width linear;
}
.tabs-nav__item.active::before {
  width: 55px;
}
.tabs-content {
  position: relative;
}
.tabs-content__item {
  position: absolute;
  transition: 0.5s transform linear, 0.5s z-index linear, 0.3s opacity linear;
  z-index: -1;
  display: block;
  opacity: 0;
  width: 100%;
  transform: scale(0);
}
.tabs-content__item.active {
  z-index: 2;
  position: relative;
  opacity: 1;
  height: 100%;
  transition: 0.5s transform linear, 0.3s z-index linear, 0.5s opacity linear;
  transform: scale(1);
}

@media screen and (max-width: 1440px) {
  .container {
    padding: 0 150px;
  }

  .header .container {
    padding: 0 5px;
  }

  .item-list {
    padding: 40px 0 5px 0;
  }
}
@media screen and (max-width: 1400px) {
  .nav-list__link {
    font-size: 14px;
  }

  .social-list__item::before {
    font-size: 25px;
    width: 25px;
    margin-right: 15px;
  }
  .social-list__link {
    font-size: 14px;
  }
}
@media screen and (max-width: 1200px) {
  .header {
    margin-top: 30px;
  }
  .header .container {
    flex-wrap: wrap;
    justify-content: center;
  }
  .header__social-list {
    margin-top: 30px;
  }

  .content {
    margin-top: 30px;
  }
  .content-page__img::before {
    display: none;
  }
  .content-page .column:nth-child(1) {
    flex-basis: 40%;
  }
  .content-page .column:nth-child(2) {
    flex-basis: 60%;
  }

  .page-title {
    margin-bottom: 40px;
    font-size: 26px;
  }

  .package-list__title, .package-list .buy-now-text {
    font-size: 18px;
  }

  .tabs-nav__item::before {
    height: 20px;
  }
  .tabs-nav__item.active::before {
    width: 40px;
  }

  .footer__text {
    font-size: 20px;
  }
  .footer-nav__link {
    font-size: 18px;
  }
  .footer-nav__link_sub {
    font-size: 16px;
  }
}
@media screen and (max-width: 1024px) {
  .row {
    flex-direction: column;
  }
  .row .column {
    flex-basis: 100%;
  }
  .row .column + .column {
    margin-left: 0;
    margin-top: 30px;
  }

  .item-list {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .item-list__item {
    flex-basis: 40%;
  }
}
@media screen and (max-width: 768px) {
  .container {
    padding: 0 15px;
  }

  .footer-nav__list {
    flex-direction: column;
    text-align: center;
  }
  .footer-nav__list_sub {
    padding: 20px 0;
  }
  .footer-nav__item:first-child .footer-nav__link, .footer-nav__item:last-child .footer-nav__link {
    padding-left: 0;
  }
  .footer__social-list {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footer .social-list__item + .social-list__item {
    margin-left: 0;
    margin-top: 15px;
  }

  .content-page {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .content-page .column:nth-child(1), .content-page .column:nth-child(2) {
    flex-basis: 100%;
    margin: 0;
  }
  .content-page .column:nth-child(1) {
    margin-top: 60px;
  }

  .advantages-wrapper {
    margin: 50px 0;
  }
  .advantages-list {
    flex-direction: column;
  }
  .advantages-list__content {
    margin-right: 15px;
  }
  .advantages-list__item + .advantages-list__item {
    margin-top: 15px;
  }
}
@media screen and (max-width: 500px) {
  .header .social-list__item + .social-list__item {
    margin-left: 0;
  }
  .header__social-list {
    margin-top: 0;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .header__nav {
    margin: 25px 0 15px 0;
  }
  .header__nav .nav-list {
    flex-wrap: wrap;
    justify-content: center;
  }
  .header__nav .nav-list__item {
    margin: 0 15px 10px 15px;
  }
  .header__nav .nav-list .nav-list__item + .nav-list__item {
    margin-left: 15px;
  }

  .container {
    padding: 0 5px;
  }

  .item-list {
    padding-top: 0;
  }
  .item-list__item {
    flex-basis: 100%;
  }

  .text {
    font-size: 18px;
  }
  .text-title {
    margin-bottom: 30px;
  }

  .text + .text {
    margin-top: 15px;
  }

  .contacts-form {
    padding: 15px;
  }
  .contacts-form .input-wrapper input {
    font-size: 14px;
  }
  .contacts-form .input-wrapper input::placeholder {
    font-size: 14px;
  }
  .contacts-form .input-wrapper .input_sub-text {
    font-size: 10px;
  }
}

/*# sourceMappingURL=main.css.map */
