.forecast-section{
    background-color: #282a2f;
    padding-top: 120px;
    padding-bottom: 100px;
    position: relative;
    .container{
      position: relative;
      z-index: 5;
    }
    &::before{
      content:'';
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      background:url(../img/bckg3.png) center center no-repeat;
    }
}
.section-title{
    color: #ffffff;
    font-size: 60px;
    font-weight: 600;
    text-align: center;
    font-family: 'Barlow Condensed', sans-serif;
    span{
        color: #ffb500;
    }
}
/* Style the tab */
.tab {
  margin:30px 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items:center;
  }
  .toggler{
    width: 86px;
    height: 43px;
     display: block;
    background: #1F2125;
    border-radius: 50px;
    margin:0 30px;
    padding:0 5px;
    display: flex;
    justify-content: flex-end;
    transition:0.3s all ease-in-out;
    align-items:center;
  }
  .toogler__item{
    height: 33px;
    width: 33px;
    background: #FFB500;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items:center;
    &::after{
      position: absolute;
      content:'';
      width: 13px;
      height: 13px;
      border: 2px solid rgba(#272A2B,0.5);
      border-radius: 50%;
    }
  }
#subscriptions{
  .tile__info{
    .win-section__column:first-child{
      width:155px;
      margin-left: 25px;
    }
  }
  .btn{
    width: 210px;
  }
}
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 20px;
    color:rgba(#fff,0.5);
    font-family: 'Circe', sans-serif;
  }
  /* Create an active/current tablink class */
  .tab button.active {
    color:#fff;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    border-top: none;
  }
.tabcontent {
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
  }
.tile-block{
    display: flex;
    justify-content: space-between;
    padding: 0 90px;
}
.tile{
    width: 310px;
    height: 455px;
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    border-radius: 35px;
    background-color: #222428;
    text-align: center;
    transition: 0.3s all;
    &:hover{
        transform: scale(1.1);
       
        .tile__btn{
            color: #272A2B;
            background: #FFB500;
        }
    }
}
.tile__title{
    margin-top: 5px;
    margin-bottom: 20px;
}
.tile__info{
    display: flex;
    justify-content: center;
    align-items:center;
    text-align: left;
    flex-direction: column;
    &:first-child{
        &::after{
            content :'';
            height: 1px;
            width: 220px;
            background: radial-gradient(#ffffff -140%, rgba(50,53,56,0) 60%);
            display: block;
            margin: 35px 0;
        }
    }
    .win-section__row + .win-section__row{
            margin-top: 20px;
    }
    .win-section__column{
        &:first-child{
            width: 125px;
            margin-right: 10px;
        }
    }
}
.pop-up__title{
  font-size: 25px;
}
.pop-up__price{
  font-size: 45px;
}
.pop-up{
  position: relative;
  position: fixed;
  z-index: 1001;
  background: #282A2F;
  border-radius: 50px;
  width: 830px;
  height: 590px;
  top: 50%;
  left: 50%;
  margin-top: -295px; /* Negative half of height. */
  margin-left: -415px; /* Negative half of width. */
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  display: none;
  &.active{
    display: flex;
  }
  .tile-block{
    justify-content: center;
  }
  .send-btn{
    width: 230px;
    margin: 0 auto;
  }
}
.pop-up__tile{
  cursor: pointer;
  width: 230px;
  height: 200px;
  background: #222428;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border:2px solid transparent;
  transition: 0.3s all ease-in-out;
  &+&{
    margin-left: 25px;
  }
  &.active{
    border: 2px solid #FFB500;
    .pop-up__price{
      color:$primaryColor;
    }
  }
}
  /* Go from zero to full opacity */
  @keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  .faq-section{
    background-color: #282a2f;
    padding-bottom: 130px;
    position: relative;
    &::before{
      position: absolute;
      content:'';
      background:url(../img/bckg4.png) center center no-repeat;
      width: 100%;
      height: 100%;
    }
  }
  .pop-up__form{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .pop-up__select{
    option{
      color:black;
    }
  }
  .pop-up__select,.pop-up__input{
    background:none;
    border-bottom: 2px solid rgba(#fff,0.2);
    width: 220px;
    color:#fff;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 500;
    color: #FFFFFF;
    font-size:17px;
    height: 40px;
    padding-bottom: 20px;
    &::placeholder{
      color:white;
    }
  }
  .pop-up__wrapper{
    & + &{
      margin-left: 35px;
    }
  }
  .purchase__toggle{
    &.close{
      position: absolute;
      top: 45px;
      right: 45px;
      &:hover{
        cursor: pointer;
        svg{
          path{
            opacity: 1;
          }
        }
      }
    }
  }