.mobile-nav
    .mobile-nav__wrapper
        .mobile-nav__logo
            img(src='img/logo.svg')
        ul.mobile-list
            each el in ['УСЛУГИ','ДЕТЯМ','БИЗНЕСУ','О НАС']
                li.mobile-list__item
                    a(href="#").mobile-list__link=el
        ul.social-list.mobile-nav__social-list
            each el in ['img/fb.png','img/insta.png','img/vk.png']
                li.social-list__item.social-item
                    a(href='#').social-item__link
                        img(src=el)