footer.footer
    .footer__wrapper
        .footer__content
            .footer__row.footer__row_first
                .footer-block.footer-block_logo
                    .footer-logo
                        img(src='img/logo.svg').footer-logo__img
                        .footer-logo__desc
                            p Государственное учреждение "Многопрофильный культурно-спортивный комплекс"Минск-арена"
                            p УНП:191007290
                .footer-block.footer-block_nav
                    p.footer-block__title быстрые ссылки
                    .footer-block__content
                        ul.footer-list
                            each el in ['Официальный интернет-портал Президента РБ','Минестерство спорта и туризма','Национальный олимпийский комитет РБ','Минский городской исполнительный комитет','Главное управление спорта и туризма мингорисполкома','Административные процедуры','Президентский спортивный клуб','Идеологическая работа','Портал рейтинговой оценки качества оказания услуг ','организациями РБ','Правовая информация']
                                li.footer-list__item
                                    a(href='#').footer-list__link=el
                .footer-block.footer-block_contact
                    p.footer-block__title КОНТАКТЫ
                        .footer-block__content
                            address.footer-address Город Минск, пр. Победителей, 111 Почтовый индекс: 220020
                            .footer-map
                                p.footer-map__title КАК ДОБРАТЬСЯ
                                .footer-map__item
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2348.7563797016355!2d27.47945661586078!3d53.93607188010688!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dbc511a05ee6b3%3A0x6c1b7e0744b494cf!2z0JzQuNC90YHQui3QkNGA0LXQvdCw!5e0!3m2!1sru!2sua!4v1639005606669!5m2!1sru!2sua" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            .footer__row.footer__row_second
                p.footer-copyright &#169 2010-2021 МКСК "Минск-арена"

include footer-modals
script(src='libs/swiper/swiper.js')
script(src="js/common.js")
