.ox__gad {
  padding: 20px 0;
}
.ox__gad .do_btns {
  margin-top: 4rem;
}
.ox__gad * {
  box-sizing: border-box;
}
.ox__gad *:focus {
  outline: none;
}
.ox__none {
  display: none;
}
.ox__btn {
  -webkit-appearance: none;
  cursor: pointer;
  border-radius: 9px;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  text-decoration: none;
  line-height: 1;
  color: #fff;
  transition: all 250ms ease-out;
  white-space: normal;
  height: 55px;
  padding: 0 33px;
  border:none;
  background-color: #746fff;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: max-content;
  width: 100%;
  margin: 0 auto;
}
.ox__btn:focus {
  box-shadow: 0px 0px transparent;
}
.ox__btn:hover {
  background: #60acec;
  color: #fff;
}
.ox__btn:active,
.ox__btn:focus {
  background: #3394e6;
  color: #fff;
  border: 1px solid #1c88e3;
}
.ox__btn:active:hover,
.ox__btn:focus:hover {
  background: #60acec;
  color: #fff;
}
.ox__title {
  text-align: center;
  margin: 15px 0;
  padding: 0;
}
.ox__title-big {
  font-weight: 800;
  font-size: 2rem;
}
.ox__rezult {
  display: none;
  padding: 15px;
}
.ox__item .alignleft {
  float: left;
  margin-right: 10px;
  margin-bottom: 16px;
}
.ox__item:after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  clear: both;
}
.ox__info {
  text-align: center;
  margin: 1rem auto 3rem;
  max-width: 700px;
}
.ox__info_title {
  font-weight: bold;
  font-size: 1.6rem;
  margin-bottom: 1rem;
  position: relative;
}
.ox-zodiak {
  display: grid;
  grid-template-columns: repeat(4,minmax(0,1fr));
}
.ox-zodiak__item {
  margin: 5px;
  cursor: pointer;
  border: none;
  padding: 3px;
  border-radius: 6px;
  display: inline-block;
  transition: all 250ms ease-out;
  background-image: linear-gradient(to top, #3fbbfe, #a541ff);
  box-shadow: 0 0 10.2px 1.8px transparent;
}
.ox-zodiak__item-wrapper{
  border-radius: 6px;
  background-color: #ffffff;
  padding: 15px 0 15px 0;
  height: 100%;
}
.ox-zodiak__item.s1 .ox-zodiak__icon:before {
  background: #f6cccc;
}
.ox-zodiak__item.s1.active .ox-zodiak__icon:before,
.ox-zodiak__item.s1:hover .ox-zodiak__icon:before {
  background: #eea1a1;
}
.ox-zodiak__item.s2 .ox-zodiak__icon:before {
  background: #d5f3f6;
}
.ox-zodiak__item.s2.active .ox-zodiak__icon:before,
.ox-zodiak__item.s2:hover .ox-zodiak__icon:before {
  background: #abe7ed;
}
.ox-zodiak__item.s3 .ox-zodiak__icon:before {
  background: #f6f3c1;
}
.ox-zodiak__item.s3.active .ox-zodiak__icon:before,
.ox-zodiak__item.s3:hover .ox-zodiak__icon:before {
  background: #f0ea94;
}
.ox-zodiak__item.s4 .ox-zodiak__icon:before {
  background: #d9eed3;
}
.ox-zodiak__item.s4.active .ox-zodiak__icon:before,
.ox-zodiak__item.s4:hover .ox-zodiak__icon:before {
  background: #b9e0ae;
}
.ox-zodiak__item.s5 .ox-zodiak__icon:before {
  background: #f5dec6;
}
.ox-zodiak__item.s5.active .ox-zodiak__icon:before,
.ox-zodiak__item.s5:hover .ox-zodiak__icon:before {
  background: #edc59b;
}
.ox-zodiak__item.s6 .ox-zodiak__icon:before {
  background: #ddcee0;
}
.ox-zodiak__item.s6.active .ox-zodiak__icon:before,
.ox-zodiak__item.s6:hover .ox-zodiak__icon:before {
  background: #c7afcc;
}
.ox-zodiak__item.s7 .ox-zodiak__icon:before {
  background: #f6dae5;
}
.ox-zodiak__item.s7.active .ox-zodiak__icon:before,
.ox-zodiak__item.s7:hover .ox-zodiak__icon:before {
  background: #ecb1c8;
}
.ox-zodiak__item.s8 .ox-zodiak__icon:before {
  background: #dee1f6;
}
.ox-zodiak__item.s8.active .ox-zodiak__icon:before,
.ox-zodiak__item.s8:hover .ox-zodiak__icon:before {
  background: #b6bdeb;
}
.ox-zodiak__item.s9 .ox-zodiak__icon:before {
  background: #e3f6ed;
}
.ox-zodiak__item.s9.active .ox-zodiak__icon:before,
.ox-zodiak__item.s9:hover .ox-zodiak__icon:before {
  background: #bcead4;
}
.ox-zodiak__item.s10 .ox-zodiak__icon:before {
  background: #eee0d6;
}
.ox-zodiak__item.s10.active .ox-zodiak__icon:before,
.ox-zodiak__item.s10:hover .ox-zodiak__icon:before {
  background: #dfc5b2;
}
.ox-zodiak__item.s11 .ox-zodiak__icon:before {
  background: #f2e0f5;
}
.ox-zodiak__item.s11.active .ox-zodiak__icon:before,
.ox-zodiak__item.s11:hover .ox-zodiak__icon:before {
  background: #e2b9e9;
}
.ox-zodiak__item.s12 .ox-zodiak__icon:before {
  background: #e0d291;
}
.ox-zodiak__item.s12.active .ox-zodiak__icon:before,
.ox-zodiak__item.s12:hover .ox-zodiak__icon:before {
  background: #d5c269;
}
.ox-zodiak__item.active,
.ox-zodiak__item:hover {
  box-shadow: 0 0 10.2px 1.8px #a4a1ff;
}
.ox-zodiak__icon {
  width: 40px;
  height: 40px;
  margin: 0 auto;
  position: relative;
}
.ox-zodiak__icon:before {
  content: '';
  display: block;
  width: 50px;
  height: 40px;
  position: absolute;
  z-index: 1;
  background: #3394e6;
  -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
          clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  left: calc(0px - 5px);
  top: 0;
  transition: all 250ms ease-out;
}
.ox-zodiak__svg {
  position: relative;
  z-index: 2;
  width: 50px;
  height: 50px;
  transition: all 250ms ease-out;
  margin-left: -6px;
  margin-top: -5px;
}
.ox-zodiak__text {
  font-size: 20px;
  margin-top: 0.5rem;
  margin-bottom: 0.25rem;
}
.ox-zodiak__desc {
  font-size: 16px;
  margin-top: 10px;
}
.ox__period {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.ox__period-item {
  margin: 5px;
  cursor: pointer;
  background: linear-gradient(to right, #3fbbfe, #a541ff);
  box-shadow: 0 0 4.8px 0.3px transparent;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  display: inline-block;
  text-align: center;
  transition: all 250ms ease-out;
  border:none;
  color:#fff;
  font-weight: bold;
}
.ox__period-item.active,
.ox__period-item:hover {
  box-shadow: 0 0 4.8px 0.3px #4d51ff;
}
.btns {
  text-align: center;
  margin: 20px auto;
}
#ox__rezult {
  display: none;
  max-width: 750px;
  margin: 0 auto;
  background: linear-gradient(to top, #3fbbfe, #a541ff);
  border-radius: 13px;
  padding: 4px;
  box-shadow: 0 0 10.2px 1.8px #a4a1ff;
}
.ox__rezult-wrapper{
  background-color: #fff;
  border-radius: 13px;
  padding: 15px;
}
.rezult-list {
  border-bottom: 1px solid #262626;
}
.rezult-list__title {
  font-weight: 800;
  font-size: 1rem;
  text-align: center;
}
.rezult-list__cardtitle {
  padding: 10px 15px;
  text-align: center;
  margin-bottom: 1rem;
  border-radius: 9px;
  background-color: #ff7a9a;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
}
.rezult-list__cardtitle span {
  display: block;
  font-size: 0.85rem;
}
@media (max-width: 767px) {
  .ox-zodiak__item.active,
  .ox-zodiak__item:hover {
    box-shadow: 0px 10px 15px -15px rgba(0, 0, 0, 0.6);
  }
}
@media (max-width: 600px) {
  .ox-zodiak {
    grid-template-columns: repeat(3,minmax(0,1fr));
  }
}
@media (max-width: 560px) {
  .ox__title {
    font-size: 1.35rem;
  }
  .ox__title-big {
    font-size: 1.5rem;
  }
  .ox__period-item {
    display: block;
    width: 100%;
    margin: 10px auto;
  }
  .rezult-list__cardtitle {
    font-size: 1.35rem;
  }
}

@media screen and (max-width: 375px){
  .ox-zodiak{
    display: grid;
    grid-template-columns: repeat(2,minmax(0,1fr));
  }
}
