extends ../layout/layout.pug
block vars
    - var title = 'О нас';
block header
    include ../includes/parts/header
block content
    include ../includes/pages-content/content-about
block footer
    include ../includes/parts/footer

