extends ../layout/layout.pug
block vars
    - var title = 'Афиша';
block header
    include ../includes/parts/header
block content
    include ../includes/pages-content/content-afisha
block footer
    include ../includes/parts/footer

