extends ../layout/layout.pug
block vars
	- var title = 'Главная';
block header
	include ../includes/parts/header
block content
	include ../includes/pages-content/content-main
block footer
	include ../includes/parts/footer
              
