extends ../layout/layout.pug
block vars
    - var title = 'Детям';
block header
    include ../includes/parts/header
block content
    include ../includes/pages-content/content-kids
block footer
    include ../includes/parts/footer

