extends ../layout/layout.pug
block vars
    - var title = 'Event';
block header
    include ../includes/parts/header
block content
    include ../includes/pages-content/content-object-single
block footer
    include ../includes/parts/footer

