extends ../layout/layout.pug
block vars
    - var title = 'Услуги';
block header
    include ../includes/parts/header
block content
    include ../includes/pages-content/content-service
block footer
    include ../includes/parts/footer

