.header {
  &__wrapper{
    height: 130px;
  }
  &__row {
    display: flex;
    align-items: center;
    overflow: hidden;
    &_first {
      background-color: #161616;
      height: 50px;
      padding: 0 40px;
    }

    &_second {
      background-color: #000;
      height: 80px;
      padding: 0 0 0 40px;
      width: 100%;
      &.fixed{
        top: 0;
        left: 0;
        position: fixed;
        z-index: 99;
      }
    }
  }

  &__social {
    display: flex;
    align-items: center;

    margin-right: auto;

    &-title {
      text-transform: uppercase;
      font-size: 14px;
      color: #757575;
    }

    &-list {
      margin-left: 18px;
    }
  }

  &__language {
    margin-left: 40px;
  }

  &__logo {
    height: 100%;
    max-width: 172px;
    flex-shrink: 0;
    width: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__block {
    display: flex;
    align-items: center;
  }

  &__nav {
    margin-left: auto;
    height: 100%;
  }

  &__search {
    border-left: 1px solid rgba(235, 235, 235, 0.2);
    margin-left: 42px;
    height: 100%;
  }

  &__btn {
    height: 100%;
  }

  &__buy {
    width: 130px;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #D22D2C;
  }
}

.social {
  &-list {
    display: flex;
    align-items: center;

    &__item + &__item {
      margin-left: 16px;
    }
  }

  &-item {
    &__link {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 18px;
      height: 18px;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}

.visually {
  &-impaired {
    display: flex;
    align-items: center;

    &__img {
      width: 24px;
      height: 24px;
      object-fit: contain;
    }

    &__link {
      font-size: 14px;
      color: #757575;
      margin-left: 8px;
    }

  }
}

.language {
  &-list {
    display: flex;
    align-items: center;

    &__item + &__item {
      margin-left: 16px;
    }
  }

  &-item {
    &__link {
      font-size: 14px;
      color: #757575;
      text-transform: uppercase;

      &_active {
        color: #fff;
      }
    }
  }
}

.nav {
  &__list {
    display: flex;
    align-items: center;
    height: 100%;
  }

  &-list {
    &__item + &__item {
    }
    &__item{
      height: 100%;
    }
  }

  &-item {
    &__link {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 80px;
      padding: 0 21px;
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 700;
      color: #fff;
      transition: 0.3s background-color ease-in-out;
      position: relative;
      &:hover{
        background-color: #d22d2c;
      }
    }
  }

  &-burger {
    width: 25px;
    height: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__item {
      width: 100%;
      height: 2px;
      background-color: #fff;

      &:nth-child(2) {
        width: 90%;
      }

      &:nth-child(3) {
        width: 80%;
      }
    }
  }
}


.search {
  height: 100%;

  &__trigger {
    -webkit-appearance: none;
    width: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    outline: none;

    &-img {
      width: 17px;
      height: 17px;
      object-fit: contain;
    }
  }

  &__block{
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #fff;
    display: flex;
    align-items: center;
    opacity: 0;
    transform: translateX(100%);
    transition: .5s all;
    &.show{
      opacity: 1;
      transform: translateX(0);
    }
  }
  &-block{
    &__item{
      -webkit-appearance: none;
      background-color: transparent;
      border:none;
      outline: none;
      width: 100%;
      height: 100%;
      padding: 30px;
      font-size: 24px;
    }
    &__close{
      width: 80px;
      height: 80px;
      background-color: #d22d2c;
      flex-shrink: 0;
      position: relative;
      &::before,&::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        display: block;
        background-color: #fff;
        top: 40px;
      }
      &::before{
        left: 0;
        transform: rotate(45deg);
      }
      &::after{
        right: 0;
        transform: rotate(-45deg);
      }
      &:hover{
        cursor: pointer;
      }
    }
  }
}

.mobile-nav{
  display: none;
}

@media screen and (max-width: 991px) {
  .nav {
    &-list {
      &__item {
        display: none;

        &_burger {
          display: block;
        }
      }
    }
  }
  .mobile{
    &-nav{
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      background-color: rgba(0,0,0,0.6);
      height: 100vh;
      opacity: 0;
      z-index: -1;
      transition: .3s all;
      display: block;
      &.show{
        opacity: 1;
        z-index: 999;
        .mobile-nav__wrapper{
          transform: translateX(0);
        }
      }
      &__wrapper{
        width: 50%;
        max-width: 300px;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 30px 15px;
        background-color: #111111;
        transform: translateX(-50%);
        transition: 1s all;
      }
      &__social{
        &-list{
          margin-top: 30px;
        }
      }
    }
    &-list{
      margin-top: 30px;
      &__item + &__item{
        margin-top: 10px;
      }
      &__link{
        color:#fff;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .header {
    &__social {
      &-title {
        display: none;
      }
    }

    &__row {
      &_first {
        padding: 0 15px;
      }

      &_second {
        padding: 0 0 0 15px;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .header {
    &__logo {
      max-width: 100px;
    }

    &__buy {
      display: none;
    }

    &__row {
      &_second {
        padding: 0 5px;
      }

      &_first {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
      }
    }

    &__language {
      margin-left: 0;
      justify-content: flex-end;
      display: flex;
      align-items: center;
    }

    &__social {
      width: 100%;

      &-list {
        margin: 0;
      }
    }
  }
  .search{
    &__trigger{
      width: 50px
    }
  }
  .visually {
    &-impaired {
      justify-content: center;

      &__link {
        display: none;
      }
    }
  }
}