header.header
    .container
        .header__wrapper
            .header__block.header__burger
                .burger
                    .burger__item
                    .burger__item
                    .burger__item
            .header__block.header__logo
                a(href='/').header-logo.logo-box
                    .header-logo__img.logo-box__img
                        img(src='img/logo.svg')
                    p.header-logo__text.logo-box__text most
            .header__block.header__nav
                nav.main-nav
                    ul.main-nav__list.page-list
                        li.page-list__item.page-list__item_current
                            a(href='#').page-list__link Homepage
                        each el in ['Employers','Schools','Pricing','Resources','Company','Legal','Blog']
                            li.page-list__item
                                a(href='#').page-list__link=el
                .header__nav-btn
                    a(href='#').btn.btn-sign Sign In
                .header__nav-languages
                    ul.language-list
                        li.language-list__item.language-list__item_current
                            a(href='#').language-list__link
                                span.language-list__link-icon
                                    +icon('flag-en-rounded').icon
                        li.language-list__item
                            a(href='#').language-list__link
                                span.language-list__link-icon
                                    +icon('flag-ru-rounded').icon
            .header__block.header__demo
                a(href='#').btn.btn-white.header__btn Try demo
            .header__block.header__languages
                ul.language-list
                    li.language-list__item.language-list__item_current
                        a(href='#').language-list__link
                            span.language-list__link-icon
                                +icon('flag-en-rounded').icon
                    li.language-list__item
                        a(href='#').language-list__link
                            span.language-list__link-icon
                                +icon('flag-ru-rounded').icon
