section.section.section-hero.section-banner
    .container-full
        .section-hero__wrapper.section-banner__wrapper
            p.section-banner__text о комплексе
            .hero-slider.swiper
                .swiper-wrapper
                    .hero-slider__item.swiper-slide.hero-slide
                        .hero-slide__img
                            img(src='img/slider_pic.jpg')
                    .hero-slider__item.swiper-slide.hero-slide
                        .hero-slide__img
                            img(src='img/pic_event_3.jpg')
                    .hero-slider__item.swiper-slide.hero-slide
                        .hero-slide__img
                            img(src='img/slider_pic.jpg')
                    .hero-slider__item.swiper-slide.hero-slide
                        .hero-slide__img
                            img(src='img/slider_pic.jpg')
section.section.section-content
    .section__wrapper
        .section-content__grid
            .section-content__item
                h2.section__title История
                .section-content__desc
                    .text-content
                        .text
                            p Государственное учреждение "Многопрофильный культурно-спортивный комплекс "Минск-арена" – это одно из самых современных мультифункциональных сооружений в Европе, предназначенное для проведения международных спортивных и культурно-развлекательных мероприятий.
                            p МКСК «Минск-арена» включает в себя четыре основных сооружения:
                            ul
                                li • Здание многофункциональной спортивно-зрелищной арены (15 000 мест),
                                li • Здание велодрома (2 000 мест),
                                li • Здание Конькобежного стадиона (3 000 мест),
                                li • Многоуровневую стоянку на 1078 машино-мест.
                            p «Строительство МКСК «Минск-арена» было обусловлено необходимостью создания условий для проведения спортивных соревнований международного уровня, привлечения туристов, подготовкой  спортсменов,  занятий населения физической культурой  и  спортом, а также для проведения культурно-массовых мероприятий», - говорится в Указе Президента Республики Беларусь от 26 декабря 2005 г. №622 «О строительстве в Минске многопрофильного культурно-спортивного комплекса «Минск-арена». Проект культурно-спортивного комплекса был разработан известным минским архитектором мастерской РУП «Институт Белгоспроект» Валерием Куцко. Официальное открытие комплекса состоялось 30 января 2010 года Матчем звезд Континентальной хоккейной лиги.
                            p МКСК «Минск-арена» заняла лидирующее положение, как самая вместительная площадка среди всех площадок команд КХЛ и является одной из ведущих хоккейных арен Европы по вместимости зрителей. Сооружение, впечатляющее своим архитектурным решением в стиле хай-тек, превзойдя по внешней красоте, внутреннему дизайну и набору современных услуг все ранее построенные спортивные арены в стране, является не только достопримечательностью Беларуси, но и европейского континента.
                            p Располагая современным оборудованием, полностью соответствующим профессиональным требованиям и уникальным сценическим комплексом, не имеющим аналогов в Беларуси, МКСК «Минск-арена» проводит  события, имеющие международное общегосударственное значение в спортивной и культурной жизни страны.
            .section-content__item
                aside.aside
                    .aside__wrapper
                        .aside-block
                            p.aside-block__title СМИ О НАС
                            .aside-block__content
                                ul.articles-list
                                    li.articles-list__item
                                        .preview-article
                                            .preview-article__wrapper
                                                a(href='#').preview-article__img
                                                    img(src='img/article.jpg')
                                                .preview-article__content
                                                    p.preview-article__date 03.12.2021
                                                    a(href='#').preview-article__link МАССОВОЕ КАТАНИЕ <br> с 08.11 по 14.11
                                    li.articles-list__item
                                        .preview-article
                                            .preview-article__wrapper
                                                a(href='#').preview-article__img
                                                    img(src='img/article.jpg')
                                                .preview-article__content
                                                    p.preview-article__date 03.12.2021
                                                    a(href='#').preview-article__link МАССОВОЕ КАТАНИЕ <br> с 08.11 по 14.11
                                    li.articles-list__item
                                        .preview-article
                                            .preview-article__wrapper
                                                a(href='#').preview-article__img
                                                    img(src='img/article.jpg')
                                                .preview-article__content
                                                    p.preview-article__date 03.12.2021
                                                    a(href='#').preview-article__link МАССОВОЕ КАТАНИЕ <br> с 08.11 по 14.11
                        .aside-block
                            p.aside-block__title СМИ О НАС
                            .aside-block__content
                                ul.articles-list
                                    li.articles-list__item
                                        .preview-article
                                            .preview-article__wrapper
                                                a(href='#').preview-article__img
                                                    img(src='img/article.jpg')
                                                .preview-article__content
                                                    p.preview-article__date 03.12.2021
                                                    a(href='#').preview-article__link МАССОВОЕ КАТАНИЕ <br> с 08.11 по 14.11
                                    li.articles-list__item
                                        .preview-article
                                            .preview-article__wrapper
                                                a(href='#').preview-article__img
                                                    img(src='img/article.jpg')
                                                .preview-article__content
                                                    p.preview-article__date 03.12.2021
                                                    a(href='#').preview-article__link МАССОВОЕ КАТАНИЕ <br> с 08.11 по 14.11
                                    li.articles-list__item
                                        .preview-article
                                            .preview-article__wrapper
                                                a(href='#').preview-article__img
                                                    img(src='img/article.jpg')
                                                .preview-article__content
                                                    p.preview-article__date 03.12.2021
                                                    a(href='#').preview-article__link МАССОВОЕ КАТАНИЕ <br> с 08.11 по 14.11
                        .aside-block
                            p.aside-block__title ПОЛЕЗНЫЕ ССЫЛКИ
                            .aside-block__content
                                ul.documents-list.aside-list
                                    li.documents-list__item.aside-list__item
                                        a(href='#').documents-list__link.aside-list__link Правила посещения комплекса
                                    li.documents-list__item.aside-list__item
                                        a(href='#').documents-list__link.aside-list__link Договор публичной оферты
section.section.section-gallery
    .section__wrapper
        h2.section__title ФОТОГАЛЕРЕЯ
    .section-gallery__content
        .gallery-slider.swiper
            .swiper-wrapper
                .swiper-slide
                    .gallery-slider__item
                        .gallery-slider__img
                            img(src='img/gallery.jpg')
                        .gallery-slider__img
                            img(src='img/gallery.jpg')
                .swiper-slide
                    .gallery-slider__item
                        .gallery-slider__img
                            img(src='img/gallery.jpg')
                        .gallery-slider__img
                            img(src='img/gallery.jpg')
                .swiper-slide
                    .gallery-slider__item
                        .gallery-slider__img
                            img(src='img/gallery.jpg')
                        .gallery-slider__img
                            img(src='img/gallery.jpg')
                .swiper-slide
                    .gallery-slider__item
                        .gallery-slider__img
                            img(src='img/gallery.jpg')
                        .gallery-slider__img
                            img(src='img/gallery.jpg')
                .swiper-slide
                    .gallery-slider__item
                        .gallery-slider__img
                            img(src='img/gallery.jpg')
                        .gallery-slider__img
                            img(src='img/gallery.jpg')
                .swiper-slide
                    .gallery-slider__item
                        .gallery-slider__img
                            img(src='img/gallery.jpg')
                        .gallery-slider__img
                            img(src='img/gallery.jpg')
                .swiper-slide
                    .gallery-slider__item
                        .gallery-slider__img
                            img(src='img/gallery.jpg')
                        .gallery-slider__img
                            img(src='img/gallery.jpg')
            .swiper-pagination

include ../sections/news