section.section.section-hero.section-banner
    .container-full
        .section-hero__wrapper.section-banner__wrapper
            p.section-banner__text массовые катания
            .hero-slider.swiper
                .swiper-wrapper
                    .hero-slider__item.swiper-slide.hero-slide
                        .hero-slide__img
                            img(src='img/slider_pic.jpg')
                    .hero-slider__item.swiper-slide.hero-slide
                        .hero-slide__img
                            img(src='img/pic_event_3.jpg')
                    .hero-slider__item.swiper-slide.hero-slide
                        .hero-slide__img
                            img(src='img/slider_pic.jpg')
                    .hero-slider__item.swiper-slide.hero-slide
                        .hero-slide__img
                            img(src='img/slider_pic.jpg')
section.section.section-content
    .section__wrapper
        .section-content__grid
            .section-content__item
                h2.section__title Услуги
                .section-content__desc
                    .text-content
                        .text
                            p Lorem Ipsn gravida nibh vel velit auctor aliqunean sollicitudinlorem quis bibendum auci elit consequat ipsutis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbiaccumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio.
                    .service
                        .service-wrapper
                            .service-wrapper__item
                                .service-wrapper__content
                                    p.service-wrapper__title АРЕНА
                                    .service-wrapper__grid
                                        .service-item
                                            .service-item__header
                                                p.service-item__price <span>9</span> руб.
                                            .service-item__content
                                                p.service-item__text Дискотека на льду
                                                p.service-item__time 45 мин.
                                            .service-item__footer
                                                a(href='#').service-item__link КУПИТЬ БИЛЕТ
                                        .service-item
                                            .service-item__header
                                                p.service-item__price <span>9</span> руб.
                                            .service-item__content
                                                p.service-item__text Дискотека на льду
                                                p.service-item__time 45 мин.
                                            .service-item__footer
                                                a(href='#').service-item__link КУПИТЬ БИЛЕТ
                                        .service-item
                                            .service-item__header
                                                p.service-item__price <span>9</span> руб.
                                            .service-item__content
                                                p.service-item__text Дискотека на льду
                                                p.service-item__time 45 мин.
                                            .service-item__footer
                                                a(href='#').service-item__link КУПИТЬ БИЛЕТ
                                        .service-item
                                            .service-item__header
                                                p.service-item__price <span>9</span> руб.
                                            .service-item__content
                                                p.service-item__text Дискотека на льду
                                                p.service-item__time 45 мин.
                                            .service-item__footer
                                                a(href='#').service-item__link КУПИТЬ БИЛЕТ
                                        .service-item
                                            .service-item__header
                                                p.service-item__price <span>9</span> руб.
                                                p.service-item__vip
                                                    img(src='img/crown-icon.png')
                                            .service-item__content
                                                p.service-item__text Дискотека на льду
                                                p.service-item__time 45 мин.
                                            .service-item__footer
                                                a(href='#').service-item__link КУПИТЬ БИЛЕТ
                            .service-wrapper__item
                                .service-wrapper__content
                                    p.service-wrapper__title АРЕНА
                                    .service-wrapper__grid
                                        .service-item
                                            .service-item__header
                                                p.service-item__price <span>9</span> руб.
                                            .service-item__content
                                                p.service-item__text Дискотека на льду
                                                p.service-item__time 45 мин.
                                            .service-item__footer
                                                a(href='#').service-item__link КУПИТЬ БИЛЕТ
            .section-content__item
                aside.aside
                    .aside__wrapper
                        .aside-block
                            p.aside-block__title ВРЕМЯ РАБОТЫ БИЛЕТНЫХ <br> КАСС
                            .aside-block__content
                                ul.timetable-list
                                    li.timetable-list__item
                                        p.timetable-list__title Понедельник — Пятница
                                        p.timetable-list__text 13:30 - 21:30
                        .aside-block
                            p.aside-block__title РАСПИСАНИЕ СЕАНСОВ <br> МАССОВОГО КАТАНИЯ
                            .aside-block__content
                                ul.timetable-list
                                    li.timetable-list__item
                                        p.timetable-list__title Понедельник — Пятница
                                        p.timetable-list__text 13:30 - 21:30
                                    li.timetable-list__item
                                        p.timetable-list__title Понедельник — Пятница
                                        p.timetable-list__text 13:30 - 21:30
                                    li.timetable-list__item
                                        p.timetable-list__title Понедельник — Пятница
                                        p.timetable-list__text 13:30 - 21:30
                                    li.timetable-list__item
                                        p.timetable-list__title 13 декабря 2021 г. (понедельник)
                                        p.timetable-list__text 13:30 - 21:30
                                    li.timetable-list__item
                                        p.timetable-list__title 13 декабря 2021 г. (понедельник)
                                        p.timetable-list__text 13:30 - 21:30
                                        p.timetable-list__text 13:30 - 21:30
                                        p.timetable-list__text 13:30 - 21:30

                        .aside-block
                            p.aside-block__title ПОЛЕЗНЫЕ ССЫЛКИ
                            .aside-block__content
                                ul.documents-list.aside-list
                                    li.documents-list__item.aside-list__item
                                        a(href='#').documents-list__link.aside-list__link Правила посещения комплекса
                                    li.documents-list__item.aside-list__item
                                        a(href='#').documents-list__link.aside-list__link Договор публичной оферты
                        .aside-block
                            p.aside-block__title УСЛУГИ
                            .aside-block__content
                                ul.aside-list
                                    li.aside-list__item
                                        a(href='#').aside-list__link ЛЁД
                                    li.aside-list__item
                                        a(href='#').aside-list__link БАДМИНТОН
                                    li.aside-list__item
                                        a(href='#').aside-list__link ТРЕНАЖЕРНЫЙ ЗАЛ
                                    li.aside-list__item
                                        a(href='#').aside-list__link ВЫГОДНЫЕ ПРЕДЛОЖЕНИЯ
                                    li.aside-list__item
                                        a(href='#').aside-list__link ПРОЧИЕ УСЛУГИ
.naroo-block
    .naroo-block__img
        img(src='img/naro.png')