section.section.section-hero.section-banner
    .container-full
        .section-hero__wrapper.section-banner__wrapper
            p.section-banner__text АФИША МЕРОПРИЯТИЙ
            .hero-slider.swiper
                .swiper-wrapper
                    .hero-slider__item.swiper-slide.hero-slide
                        .hero-slide__img
                            img(src='img/slider_pic.jpg')
                    .hero-slider__item.swiper-slide.hero-slide
                        .hero-slide__img
                            img(src='img/pic_event_3.jpg')
                    .hero-slider__item.swiper-slide.hero-slide
                        .hero-slide__img
                            img(src='img/slider_pic.jpg')
                    .hero-slider__item.swiper-slide.hero-slide
                        .hero-slide__img
                            img(src='img/slider_pic.jpg')
        .section-hero__category.section-banner__category
            .category-slider
                .category-grid
                    .category-grid__item
                        a(href='#').category-item
                            span.category-item__img
                                img(src='img/events_icon_normal.png')
                                img(src='img/events_icon_active.png')
                            span.category-item__text ВСЕ МЕРОПРИЯТИЯ
                    .category-grid__item
                        a(href='#').category-item
                            span.category-item__img
                                img(src='img/concert_icon_normal.png')
                                img(src='img/concert_icon_active.png')
                            span.category-item__text КОНЦЕРТЫ
                    .category-grid__item
                        a(href='#').category-item
                            span.category-item__img
                                img(src='img/musicle_icon_normal.png')
                                img(src='img/musicle_icon_active.png')
                            span.category-item__text МЮЗИКЛЫ
                    .category-grid__item
                        a(href='#').category-item
                            span.category-item__img
                                img(src='img/sport_icon_normal.png')
                                img(src='img/sport_icon_active.png')
                            span.category-item__text СПОРТ
                    .category-grid__item
                        a(href='#').category-item
                            span.category-item__img
                                img(src='img/kids_icon_normal.png')
                                img(src='img/kids_icon_active.png')
                            span.category-item__text ДЕТСКИЕ МЕРОПРИЯТИЯ
                    .category-grid__item
                        a(href='#').category-item
                            span.category-item__img
                                img(src='img/circus_icon_normal.png')
                                img(src='img/circus_icon_active.png')
                            span.category-item__text ЦИРК

section.section.section-afisha
    .section__wrapper
        h2.section__title.section-afisha__title ЗАГОЛОВОК
        p.section__desc.section-afisha__desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis.
    .section-afisha__content
        .poster-grid.poster-grid_placard
            .poster-grid__item
                .poster-item
                    .poster-item__wrapper.poster-item__wrapper_grid
                        .poster-item__img
                            img(src='img/pic_event_1.jpg')
                        .poster-item__content.poster-item__content_center
                            .poster-item__date.poster-item__date_row
                                p.poster-item__day 02
                                p.poster-item__mounth апреля
                                p.poster-item__year 2022
                            p.poster-item__label ДИМАШ КУДАЙБЕРГЕН
                            p.poster-item__desc Fermentum dui faucibus in ornare quam viverra gravida elit…
                            a(href='#').poster-item__link Подробнее
                            .poster-item__type.poster-item__type_top.poster-type
                                p.poster-type__text концерт
            .poster-grid__item
                .poster-item
                    .poster-item__wrapper.poster-item__wrapper_grid
                        .poster-item__img
                            img(src='img/pic_event_1.jpg')
                        .poster-item__content.poster-item__content_center
                            .poster-item__date.poster-item__date_row
                                p.poster-item__day 02
                                p.poster-item__mounth апреля
                                p.poster-item__year 2022
                            p.poster-item__label ДИМАШ КУДАЙБЕРГЕН
                            p.poster-item__desc Fermentum dui faucibus in ornare quam viverra gravida elit…
                            a(href='#').poster-item__link Подробнее
                            .poster-item__type.poster-item__type_top.poster-type
                                p.poster-type__text концерт
            .poster-grid__item
                .poster-item
                    .poster-item__wrapper.poster-item__wrapper_grid
                        .poster-item__content.poster-item__content_center
                            .poster-item__date.poster-item__date_row
                                p.poster-item__day 02
                                p.poster-item__mounth апреля
                                p.poster-item__year 2022
                            p.poster-item__label ДИМАШ КУДАЙБЕРГЕН
                            p.poster-item__desc Fermentum dui faucibus in ornare quam viverra gravida elit…
                            a(href='#').poster-item__link Подробнее
                            .poster-item__type.poster-item__type_top.poster-type
                                p.poster-type__text концерт
                        .poster-item__img
                            img(src='img/pic_event_1.jpg')
            .poster-grid__item
                .poster-item
                    .poster-item__wrapper.poster-item__wrapper_grid
                        .poster-item__content.poster-item__content_center
                            .poster-item__date.poster-item__date_row
                                p.poster-item__day 02
                                p.poster-item__mounth апреля
                                p.poster-item__year 2022
                            p.poster-item__label ДИМАШ КУДАЙБЕРГЕН
                            p.poster-item__desc Fermentum dui faucibus in ornare quam viverra gravida elit…
                            a(href='#').poster-item__link Подробнее
                            .poster-item__type.poster-item__type_top.poster-type
                                p.poster-type__text концерт
                        .poster-item__img
                            img(src='img/pic_event_1.jpg')
    .section__wrapper
        a(href='#').more-btn
            img.more-btn__icon(src='img/more-icon.png')
            span.more-btn__text Показать больше
section.section.section-poster-slider
    .section__wrapper
        h2.section__title АРХИВ МЕРОПРИЯТИЙ
        .archive-slider.swiper
            .archive-slider__controls
                .archive-slider-prev
                    img(src='img/btn-slider.png')
                .archive-slider-next
                    img(src='img/btn-slider.png')
            .swiper-wrapper
                .swiper-slide
                    .poster-group
                        p.poster-group__title Ноябрь 2021
                            .poster-group__wrapper
                                .poster-item
                                    .poster-item__wrapper
                                        .poster-item__img
                                            img(src='img/pic_event_1.jpg')
                                        .poster-item__content
                                            .poster-item__date
                                                p.poster-item__day 02
                                                p.poster-item__mounth апреля
                                                p.poster-item__year 2022
                                            .poster-item__type.poster-type
                                                p.poster-type__text концерт
                                            p.poster-item__label ДИМАШ КУДАЙБЕРГЕН
                                .poster-item
                                    .poster-item__wrapper
                                        .poster-item__img
                                            img(src='img/pic_event_1.jpg')
                                        .poster-item__content
                                            .poster-item__date
                                                p.poster-item__day 02
                                                p.poster-item__mounth апреля
                                                p.poster-item__year 2022
                                            .poster-item__type.poster-type
                                                p.poster-type__text концерт
                                            p.poster-item__label ДИМАШ КУДАЙБЕРГЕН
                                .poster-item
                                    .poster-item__wrapper
                                        .poster-item__img
                                            img(src='img/pic_event_1.jpg')
                                        .poster-item__content
                                            .poster-item__date
                                                p.poster-item__day 02
                                                p.poster-item__mounth апреля
                                                p.poster-item__year 2022
                                            .poster-item__type.poster-type
                                                p.poster-type__text концерт
                                            p.poster-item__label ДИМАШ КУДАЙБЕРГЕН
                                .poster-item
                                    .poster-item__wrapper
                                        .poster-item__img
                                            img(src='img/pic_event_1.jpg')
                                        .poster-item__content
                                            .poster-item__date
                                                p.poster-item__day 02
                                                p.poster-item__mounth апреля
                                                p.poster-item__year 2022
                                            .poster-item__type.poster-type
                                                p.poster-type__text концерт
                                            p.poster-item__label ДИМАШ КУДАЙБЕРГЕН
                .swiper-slide
                    .poster-group
                        p.poster-group__title Ноябрь 2021
                            .poster-group__wrapper
                                .poster-item
                                    .poster-item__wrapper
                                        .poster-item__img
                                            img(src='img/pic_event_1.jpg')
                                        .poster-item__content
                                            .poster-item__date
                                                p.poster-item__day 02
                                                p.poster-item__mounth апреля
                                                p.poster-item__year 2022
                                            .poster-item__type.poster-type
                                                p.poster-type__text концерт
                                            p.poster-item__label ДИМАШ КУДАЙБЕРГЕН
                                .poster-item
                                    .poster-item__wrapper
                                        .poster-item__img
                                            img(src='img/pic_event_1.jpg')
                                        .poster-item__content
                                            .poster-item__date
                                                p.poster-item__day 02
                                                p.poster-item__mounth апреля
                                                p.poster-item__year 2022
                                            .poster-item__type.poster-type
                                                p.poster-type__text концерт
                                            p.poster-item__label ДИМАШ КУДАЙБЕРГЕН
                                .poster-item
                                    .poster-item__wrapper
                                        .poster-item__img
                                            img(src='img/pic_event_1.jpg')
                                        .poster-item__content
                                            .poster-item__date
                                                p.poster-item__day 02
                                                p.poster-item__mounth апреля
                                                p.poster-item__year 2022
                                            .poster-item__type.poster-type
                                                p.poster-type__text концерт
                                            p.poster-item__label ДИМАШ КУДАЙБЕРГЕН
                                .poster-item
                                    .poster-item__wrapper
                                        .poster-item__img
                                            img(src='img/pic_event_1.jpg')
                                        .poster-item__content
                                            .poster-item__date
                                                p.poster-item__day 02
                                                p.poster-item__mounth апреля
                                                p.poster-item__year 2022
                                            .poster-item__type.poster-type
                                                p.poster-type__text концерт
                                            p.poster-item__label ДИМАШ КУДАЙБЕРГЕН
.naroo-block
    .naroo-block__img
        img(src='img/naro.png')
