section.section-event
    .container
        .section-event__wrapper
            .section-event__img
                img.section-event__img-item(src='img/about-hero.jpg')
            h2.section-event__text конькобежный стадион
section.section.section-content
    .section__wrapper
        .section-content__grid
            .section-content__item
                .articles-img-slider.event-slider.swiper
                    .swiper-wrapper
                        .swiper-slide
                            img(src='img/object-slider-1.jpg')
                        .swiper-slide
                            img(src='img/object-slider-1.jpg')
                        .swiper-slide
                            img(src='img/object-slider-1.jpg')
                        .swiper-slide
                            img(src='img/object-slider-1.jpg')
                    .articles-img-buttons
                        .articles-img-button-prev пред
                        .articles-img-button-next след
                .tabs.object-tabs
                    ul.tabs-nav.object-tabs__nav
                        li.tabs-nav__item.object-tabs__nav-item
                            a(href='#').tabs-nav__link.object-tabs__nav-link Описание
                        li.tabs-nav__item.object-tabs__nav-item
                            a(href='#').tabs-nav__link.object-tabs__nav-link Характеристики
                        li.tabs-nav__item.object-tabs__nav-item
                            a(href='#').tabs-nav__link.object-tabs__nav-link Билеты
                        li.tabs-nav__item.object-tabs__nav-item
                            a(href='#').tabs-nav__link.object-tabs__nav-link Услуги
                    .tabs-content
                        .tabs-content__item
                            .service
                                .service-wrapper
                                    .service-wrapper__item
                                        .service-wrapper__content.event-item
                                            p.service-wrapper__title Описание
                                            p.event-item__text.event-item__desc Lorem Ipsn gravida nibh vel velit auctor aliqunean sollicitudinlorem quis bibendum auci elit consequat ipsutis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbiaccumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris this is ghemoske’s version of vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.
                        .tabs-content__item
                            .service
                                .service-wrapper
                                    .service-wrapper__item
                                        .service-wrapper__content.event-item
                                            p.service-wrapper__title Характеристики
                                            .event-item__desc
                                                ul.event-feature
                                                    li.event-feature__item
                                                        p.event-feature__title Дата мероприятия:
                                                        p.event-item__text 20 января, 2022, 18:00
                                                    li.event-feature__item
                                                        p.event-feature__title Длительность:
                                                        p.event-item__text 120 мин.
                                                    li.event-feature__item
                                                        p.event-feature__title Место проведения:
                                                        p.event-item__text Музыка, Поп
                                                    li.event-feature__item
                                                        p.event-feature__title Жанр:
                                                        p.event-item__text Минск-Арена
                                                    li.event-feature__item
                                                        p.event-feature__title Стоимость:
                                                        p.event-item__text от 35.55 - до 170.00 р.
                                                    li.event-feature__item
                                                        p.event-feature__title Возрастные ограничения:
                                                        p.event-item__text 6+
                        .tabs-content__item
                            .service
                                .service-wrapper
                                    .service-wrapper__item
                                        .service-wrapper__content
                                            p.service-wrapper__title Билеты
                                            .service-wrapper__grid
                                                .service-item
                                                    .service-item__header
                                                        p.service-item__price <span>9</span> руб.
                                                    .service-item__content
                                                        p.service-item__text Дискотека на льду
                                                        p.service-item__time 45 мин.
                                                    .service-item__footer
                                                        a(href='#').service-item__link КУПИТЬ БИЛЕТ
                                                .service-item
                                                    .service-item__header
                                                        p.service-item__price <span>9</span> руб.
                                                    .service-item__content
                                                        p.service-item__text Дискотека на льду
                                                        p.service-item__time 45 мин.
                                                    .service-item__footer
                                                        a(href='#').service-item__link КУПИТЬ БИЛЕТ
                                                .service-item
                                                    .service-item__header
                                                        p.service-item__price <span>9</span> руб.
                                                    .service-item__content
                                                        p.service-item__text Дискотека на льду
                                                        p.service-item__time 45 мин.
                                                    .service-item__footer
                                                        a(href='#').service-item__link КУПИТЬ БИЛЕТ
                                                .service-item
                                                    .service-item__header
                                                        p.service-item__price <span>9</span> руб.
                                                    .service-item__content
                                                        p.service-item__text Дискотека на льду
                                                        p.service-item__time 45 мин.
                                                    .service-item__footer
                                                        a(href='#').service-item__link КУПИТЬ БИЛЕТ
                                                .service-item
                                                    .service-item__header
                                                        p.service-item__price <span>9</span> руб.
                                                        p.service-item__vip
                                                            img(src='img/crown-icon.png')
                                                    .service-item__content
                                                        p.service-item__text Дискотека на льду
                                                        p.service-item__time 45 мин.
                                                    .service-item__footer
                                                        a(href='#').service-item__link КУПИТЬ БИЛЕТ
                        .tabs-content__item
                            .service
                                .service-wrapper
                                    .service-wrapper__item
                                        .service-wrapper__content
                                            p.service-wrapper__title Услуги
                                            .service-wrapper__grid
                                                .service-item
                                                    .service-item__header
                                                        p.service-item__price <span>9</span> руб.
                                                    .service-item__content
                                                        p.service-item__text Дискотека на льду
                                                        p.service-item__time 45 мин.
                                                    .service-item__footer
                                                        a(href='#').service-item__link КУПИТЬ БИЛЕТ
            .section-content__item
                aside.aside
                    .aside__wrapper
                        .aside-group
                            .aside-block
                                .event-preview
                                    .event-preview__img
                                        img(src='img/pic_event_4.jpg')
                                    p.event-preview__title.section__title ЗАГОЛОВОК
                                    p.event-preview__desc Lorem Ipsn gravida nibh vel velit auctor aliqunean sollicitudinlorem quis bibendum auci elit…
                            .aside-block
                                p.aside-block__title ОБЪЕКТЫ
                                .aside-block__content
                                    ul.aside-list
                                        li.aside-list__item
                                            a(href='#').aside-list__link ГЛАВНАЯ АРЕНА
                                        li.aside-list__item
                                            a(href='#').aside-list__link ВЕЛОДРОМ
                                        li.aside-list__item
                                            a(href='#').aside-list__link САНАТОРИЙ «ЗЕЛЕНЫЙ БОР»
                                        li.aside-list__item
                                            a(href='#').aside-list__link РЕСТОРАН 1
                                        li.aside-list__item
                                            a(href='#').aside-list__link РЕСТОРАН 2
                                        li.aside-list__item
                                            a(href='#').aside-list__link ПАРКИНГ
.naroo-block
    .naroo-block__img
        img(src='img/naro.png')