extends ../layout/layout.pug
block vars
    - var title = 'MOST.technology – Educational software development';
block header
    include ../includes/parts/header
block content
    include ../includes/pages-content/content-blog
block footer
    include ../includes/parts/footer

