.ox__gad {
    padding: 20px 0;
}

.ox__gad .do_btns {
    margin-top: -2rem;
}

.ox__gad * {
    box-sizing: border-box;
}

.ox__gad *:focus {
    outline: none;
}

.ox__none {
    display: none;
}

.ox__btn {
    cursor: pointer;
    border-radius: 9px;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    text-decoration: none;
    line-height: 1;
    color: #fff;
    transition: all 250ms ease-out;
    white-space: normal;
    height: 55px;
    padding: 0 33px;
    border:none;
    background-color: #746fff;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: max-content;
    margin: 0 auto;
    width: 100%;
}

.ox__btn:focus {
    box-shadow: 0px 0px transparent;
}

.ox__btn:hover {
    background: #60acec;
    color: #fff;
}

.ox__btn:active,
.ox__btn:focus {
    background: #3394e6;
    color: #fff;
    border: 1px solid #1c88e3;
}

.ox__btn:active:hover,
.ox__btn:focus:hover {
    background: #60acec;
    color: #fff;
}

.ox__title {
    text-align: center;
    margin: 15px 0;
    padding: 0;
}

.ox__title-big {
    font-weight: 800;
    font-size: 2rem;
}

.ox__rezult {
    display: none;

}

.ox__rezult-wrapper{
    background-color: #fff;
    border-radius: 13px;
    padding: 15px;
}

.ox__item .alignleft {
    float: left;
    margin-right: 10px;
    margin-bottom: 16px;
}

.ox__item:after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    clear: both;
}

.ox__info {
    text-align: center;
    margin: 1rem auto 3rem;
    max-width: 700px;
}

.ox__info_title {
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 1rem;
    position: relative;
}

.ox-zodiak {
    display: grid;
    grid-template-columns: repeat(4,minmax(0,1fr));
}

.ox-zodiak__item {
    margin: 5px;
    cursor: pointer;
    border: none;
    padding: 3px;
    border-radius: 6px;
    display: inline-block;
    transition: all 250ms ease-out;
    background-image: linear-gradient(to top, #3fbbfe, #a541ff);
    box-shadow: 0 0 10.2px 1.8px transparent;
}

.ox-zodiak__item-wrapper{
    border-radius: 6px;
    background-color: #ffffff;
    padding: 15px 0 15px 0;
    height: 100%;
}

.ox-zodiak__item.active,
.ox-zodiak__item:hover {
    box-shadow: 0 0 10.2px 1.8px #a4a1ff;
}

.ox-zodiak__item.active .ox-zodiak__icon,
.ox-zodiak__item:hover .ox-zodiak__icon {
    background: #e300ff;
}

.ox-zodiak__item.active .ox-zodiak__svg,
.ox-zodiak__item:hover .ox-zodiak__svg {
    fill: #fff;
}

.ox-zodiak__icon {
    width: 30px;
    height: 30px;
    border-radius: 1000px;
    margin: 0 auto;
    background: #dccedf;
    transition: all 250ms ease-out;
}

.ox-zodiak__svg {
    width: 30px;
    height: 30px;
    transition: all 250ms ease-out;
}

.ox-zodiak__text {
    font-size: 20px;
    margin-top: 0.25rem;
}

.btns {
    text-align: center;
    margin: 20px auto;
}

#ox__rezult {
    display: none;
    max-width: 750px;
    margin: 0 auto;
    background: linear-gradient(to top, #3fbbfe, #a541ff);
    border-radius: 13px;
    padding: 4px;
    box-shadow: 0 0 10.2px 1.8px #a4a1ff;
}

.rezult-list {
    border-bottom: 1px solid #262626;
}

.rezult-list__title {
    font-size: 24px;
    text-align: center;
    margin-bottom: 15px;
}

.rezult-list__cardtitle {
    padding: 10px 15px;
    text-align: center;
    margin-bottom: 1rem;
    border-radius: 9px;
    background-color: #ff7a9a;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}

.ox__gad .rezult-list__content {
    font-size: 1.1em;
}

.rezult-list__cardtitle span {
    display: block;
    font-size: 0.85rem;
}

@media (max-width: 767px) {
    .ox__info_title:before {
        content: '';
        position: absolute;
        width: 30px;
        left: calc(50% - 15px);
        bottom: -1rem;
        text-align: center;

    }

    .ox-zodiak {
        overflow-x: auto;
        overflow-y: hidden;
        padding-bottom: 1rem;
        display: block;
        white-space: nowrap;
        width: 100% !important;
    }

    .ox-zodiak__item {
        width: calc(100px + 1rem);
        margin: 0 2px;
    }
    .ox__info {
        text-align: center;
        margin: 1rem auto 3rem;
    }

}

@media (max-width: 560px) {
    .ox__title {
        font-size: 1.35rem;
    }

    .ox__title-big {
        font-size: 1.5rem;
    }

    .rezult-list__cardtitle {
        font-size: 16px;
    }
    .rezult-list__title{
        font-size: 20px;
        margin-bottom: 10px;
    }
}
