* {
  margin: 0;
  padding: 0;
}

.app {
  height: 100vh;
}
.app__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: #000;
}

.copy-wrapper {
  display: flex;
  align-items: center;
}
.copy-button {
  -webkit-appearance: none;
  outline: none;
  border: none;
  width: 200px;
  height: 50px;
  background-color: #000;
  color: #fff;
}

.logo-fourth .logo__img path {
  stroke-dasharray: 230;
  stroke-dashoffset: 230;
}
.logo-fourth .logo__img path:nth-child(1) {
  animation: draw 1s forwards;
}
.logo-fourth .logo__img path:nth-child(2) {
  animation: draw 2s 0.5s forwards;
}
.logo-fourth .logo__img path:nth-child(3) {
  animation: draw 2s 2.5s forwards;
}
.logo-first .logo__img path {
  stroke-dasharray: 230;
  stroke-dashoffset: 230;
}
.logo-first .logo__img path:nth-child(3) {
  animation: draw 1s forwards;
}
.logo-first .logo__img path:nth-child(2) {
  animation: draw 2s 0.5s forwards;
}
.logo-first .logo__img path:nth-child(1) {
  animation: draw 2s 2.5s forwards;
}
.logo-second .logo__img {
  animation: translateLogoBig 1s 6s forwards;
}
.logo-second .logo__img path {
  stroke-dasharray: 480;
  stroke-dashoffset: 480;
  fill: transparent;
  stroke: #AC835E;
  stroke-width: 1px;
  animation: draw 5s forwards, fillPathLogo 1s 5s forwards;
}
.logo-second .logo__text {
  animation: translateText 1s 6s forwards;
}
.logo-second .logo__text path {
  animation: drawText 1s 6s forwards;
}
.logo-third .logo__img path {
  stroke-dasharray: 820;
  stroke-dashoffset: 820;
  fill: transparent;
  stroke: #AC835E;
  stroke-width: 1px;
  animation: draw 5s forwards, fillPathLogo 1s 5s forwards;
}
.logo-third .logo__img {
  animation: translateLogoBig 1s 6s forwards;
}
.logo-third .logo__text {
  animation: translateText 1s 6s forwards;
}
.logo-third .logo__text path {
  animation: drawText 1s 6s forwards;
}
.logo-fifth .logo__img {
  animation: translateLogoBig 1s 6s forwards;
}
.logo-fifth .logo__img path {
  stroke-dasharray: 480;
  stroke-dashoffset: 480;
  fill: transparent;
  stroke: #AC835E;
  stroke-width: 1px;
  animation: draw 5s forwards, fillPathLogo 1s 5s forwards;
}
.logo-fifth .logo__text {
  animation: translateText 1s 6s forwards;
}
.logo-fifth .logo__text path {
  animation: drawText 1s 6s forwards;
}
.logo__img {
  animation: translateLogo 1s 4s forwards;
}
.logo__text {
  transform: translateX(-200px);
  animation: translateText 1s 4s forwards;
}
.logo__text path {
  fill: #ffffff;
  opacity: 0;
  animation: drawText 1s 4s forwards;
}

.swiper {
  height: 100vh;
  width: 100%;
}
.swiper-slide {
  height: 100vh;
  width: 80%;
}
.swiper-slide-black {
  background-color: brown;
}
.swiper-slide-blue {
  background-color: #AC835E;
}
.swiper-slide-red {
  background-color: red;
}
.swiper-slide-yellow {
  background-color: tan;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes drawText {
  to {
    opacity: 1;
  }
}
@keyframes fillPathLogo {
  100% {
    fill: #AC835E;
    stroke: transparent;
  }
}
@keyframes fillPathText {
  100% {
    fill: #fff;
    stroke: transparent;
  }
}
@keyframes translateLogo {
  100% {
    transform: translateX(-100px);
  }
}
@keyframes translateLogoBig {
  100% {
    transform: translateX(-120px);
  }
}
@keyframes translateText {
  100% {
    transform: translateX(-105px);
  }
}
@keyframes translateTextBig {
  100% {
    transform: translateX(-125px);
  }
}

/*# sourceMappingURL=style.css.map */
