* {
  margin: 0;
  padding: 0;
}

.app {
  height: 100vh;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;

    height: 100%;
    width: 100%;
    background-color: #000;
  }
}

.copy {
  &-wrapper {
    display: flex;
    align-items: center;
  }

  &-button {
    -webkit-appearance: none;
    outline: none;
    border: none;
    width: 200px;
    height: 50px;

    background-color: #000;
    color: #fff;
  }
}

.logo {
  &-fourth{
    .logo{
      &__img{
        path {
          stroke-dasharray: 230;
          stroke-dashoffset: 230;

          &:nth-child(1){
            animation: draw 1s forwards;
          }
          &:nth-child(2){
            animation: draw 2s .5s forwards;
          }
          &:nth-child(3){
            animation: draw 2s 2.5s forwards;
          }
        }
      }
    }
  }
  &-first{
    .logo{
      &__img{
        path {
          stroke-dasharray: 230;
          stroke-dashoffset: 230;

          &:nth-child(3){
            animation: draw 1s forwards;
          }
          &:nth-child(2){
            animation: draw 2s .5s forwards;
          }
          &:nth-child(1){
            animation: draw 2s 2.5s forwards;
          }
        }
      }
    }
  }
  &-second{
    .logo{
      &__img{
        animation: translateLogoBig 1s 6s forwards;
        path {
          stroke-dasharray: 480;
          stroke-dashoffset: 480;
          fill:transparent;
          stroke: #AC835E;
          stroke-width: 1px;
          animation: draw 5s forwards, fillPathLogo 1s 5s forwards;
        }
      }
    }
    .logo__text{
      animation: translateText 1s 6s forwards;
      path{
        animation: drawText 1s 6s forwards;
      }
    }
  }
  &-third{
    .logo__img path {
      stroke-dasharray: 820;
      stroke-dashoffset: 820;
      fill: transparent;
      stroke: #AC835E;
      stroke-width: 1px;
      animation: draw 5s forwards, fillPathLogo 1s 5s forwards;
    }
    .logo__img{
      animation: translateLogoBig 1s 6s forwards;
    }
    .logo__text{
      animation: translateText 1s 6s forwards;
      path{
        animation: drawText 1s 6s forwards;
      }
    }
  }
  &-fifth{
    .logo{
      &__img{
        animation: translateLogoBig 1s 6s forwards;
        path {
          stroke-dasharray: 480;
          stroke-dashoffset: 480;
          fill:transparent;
          stroke: #AC835E;
          stroke-width: 1px;
          animation: draw 5s forwards, fillPathLogo 1s 5s forwards;
        }
      }
    }
    .logo__text{
      animation: translateText 1s 6s forwards;
      path{
        animation: drawText 1s 6s forwards;
      }
    }
  }
  &-six{
    .logo{
      &__img{
        animation: translateLogoBig 1s 6s forwards;
        path {
          stroke-dasharray: 480;
          stroke-dashoffset: 480;
          fill:transparent;
          stroke: #AC835E;
          stroke-width: 1px;
          &:nth-child(1),&:nth-child(3){
            animation: draw 4s forwards, fillPathLogo 1s 5s forwards;
          }
          &:nth-child(2),&:nth-child(4){
            animation: draw 4s .5s forwards, fillPathLogo 1s 5s forwards;
          }
        }
      }
    }
    .logo__text{
      animation: translateText 1s 6s forwards;
      path{
        animation: drawText 1s 6s forwards;
      }
    }
  }
  &__img {
    animation: translateLogo 1s 4s forwards;
  }

  &__text {
    transform: translateX(-200px);
    animation: translateText 1s 4s forwards;
    path{
      fill:#ffffff;
      opacity: 0;

      animation: drawText 1s 4s forwards;
    }
  }
}


.swiper{
  height: 100vh;
  width: 100%;
  &-slide{
    height: 100vh;
    width: 80%;
    &-black{
      background-color: brown;
    }
    &-blue{
      background-color: #AC835E;
    }
    &-red{
      background-color: red;
    }
    &-yellow{
      background-color: tan;
    }
  }
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes drawText {
  to {
    opacity: 1;
  }
}

@keyframes fillPathLogo {
  100% {
    fill: #AC835E;
    stroke: transparent;
  }
}

@keyframes fillPathText {
  100% {
    fill: #fff;
    stroke: transparent;
  }
}

@keyframes translateLogo {
  100% {
    transform: translateX(-100px);
  }
}

@keyframes translateLogoBig {
  100% {
    transform: translateX(-120px);
  }
}

@keyframes translateText {
  100% {
    transform: translateX(-105px);
  }
}


@keyframes translateTextBig {
  100% {
    transform: translateX(-125px);
  }
}

