*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

blockquote,
body,
dd,
dl,
figcaption,
figure,
h1,
h2,
h3,
h4,
li,
ol,
p,
ul {
  margin: 0;
}

body {
  font-family: 'HelveticaNeue';
  font-weight: 400;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  overflow-x: hidden;
  height: 100%;
}

ol,
ul {
  padding: 0;
  list-style: none;
}

a {
  font-family: inherit;
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
}

button,
input,
select,
textarea {
  font-family: inherit;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy/Gilroy-Light/Gilroy-Light.woff2") format("woff2"), url("../fonts/Gilroy/Gilroy-Light/Gilroy-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy/Gilroy-Medium/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy/Gilroy-Medium/Gilroy-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy/Gilroy-Bold/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy/Gilroy-Bold/Gilroy-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Graphik LCG';
  src: url("../fonts/GraphikLCG/GraphikLCG-Bold/GraphikLCG-Bold.woff2") format("woff2"), url("../fonts/GraphikLCG/GraphikLCG-Bold/GraphikLCG-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy/Gilroy-Semibold/Gilroy-Semibold.woff2") format("woff2"), url("../fonts/Gilroy/Gilroy-Semibold/Gilroy-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy/Gilroy-Regular/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy/Gilroy-Regular/Gilroy-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Graphik LCG';
  src: url("../fonts/GraphikLCG/GraphikLCG-Light/GraphikLCG-Light.woff2") format("woff2"), url("../fonts/GraphikLCG/GraphikLCG-Light/GraphikLCG-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Graphik LCG';
  src: url("../fonts/GraphikLCG/GraphikLCG-Medium/GraphikLCG-Medium.woff2") format("woff2"), url("../fonts/GraphikLCG/GraphikLCG-Medium/GraphikLCG-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Graphik LCG';
  src: url("../fonts/GraphikLCG/GraphikLCG-Semibold/GraphikLCG-Semibold.woff2") format("woff2"), url("../fonts/GraphikLCG/GraphikLCG-Semibold/GraphikLCG-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Graphik LCG';
  src: url("../fonts/GraphikLCG/GraphikLCG-Regular/GraphikLCG-Regular.woff2") format("woff2"), url("../fonts/GraphikLCG/GraphikLCG-Regular/GraphikLCG-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  color: #2F2F2F;
}

body.no-scroll-m {
  overflow: hidden;
}

.page-wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page-wrapper__content {
  height: 100%;
}

.page-wrapper__footer {
  margin-top: auto;
}

.page-header__wrapper {
  padding: 40px 0 0 0;
}

.page-header__wrapper-big {
  height: 210px;
  background: url("../img/page-header-bg.svg") center bottom/cover no-repeat;
}

.page-header__title {
  margin: 5px 0 0 0;
}

.page-catalog__wrapper {
  padding: 0 0 80px 0;
}

.page-catalog__content {
  display: grid;
  grid-template-columns: 275px auto;
  gap: 50px;
  margin: 24px 0 0 0;
}

.page-catalog__sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 5px 0 0 0;
}

.page-catalog__card {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 16px;
  width: 100%;
}

.page-catalog__card-item {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 15px rgba(7, 14, 77, 0.1);
          box-shadow: 0px 0px 15px rgba(7, 14, 77, 0.1);
  border-radius: 16px;
}

.page-catalog__search {
  margin: 48px 0 0 0;
}

.page-lesson__wrapper {
  padding: 0 0 75px 0;
}

.container {
  max-width: 1360px;
  width: 100%;
  padding: 0 40px;
  margin: 0 auto;
}

.icon {
  width: 100%;
  height: 100%;
}

.title_size-big {
  font-family: 'Gilroy', sans-serif;
  font-size: 44px;
  line-height: 50px;
  font-weight: 700;
}

.title_size-medium {
  font-family: 'Gilroy',sans-serif;
  font-weight: 700;
  font-size: 41px;
  line-height: 51px;
}

.title_size-smallest {
  font-family: 'Gilroy', sans-serif;
  font-weight: 700;
  font-size: 31px;
  line-height: 38px;
}

.title_size-small {
  font-family: 'Gilroy', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.title_color-white {
  color: #fff;
}

.title_position-center {
  text-align: center;
}

.button {
  -webkit-appearance: none;
  border: none;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 48px;
  width: 205px;
  font-family: 'Gilroy', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}

.button-white {
  background: #FFFFFF;
  font-family: 'Gilroy',sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #5465FF;
}

.button-blue {
  font-family: 'Gilroy', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  background: #6776FF;
}

.button-bordered {
  border-radius: 40px;
}

.breadcrumb__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.breadcrumb-list__item {
  color: #6776FF;
}

.breadcrumb-list__item_white {
  color: #fff;
}

.breadcrumb-list__link {
  font-family: 'Graphik LCG', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: inherit;
}

.breadcrumb-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.breadcrumb-list__item + .breadcrumb-list__item::before {
  content: '';
  width: 12px;
  height: 12px;
  display: block;
  margin: 0 8px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("../img/breadcrumb-arrow-blue.svg");
}

.breadcrumb-list__item_white + .breadcrumb-list__item_white::before {
  background-image: url("../img/breadcrumb-arrow-white.svg");
}

.sort__wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sort__item {
  position: relative;
}

.sort__item + .sort__item {
  margin: 0 0 0 40px;
}

.sort__item-mobile {
  display: none;
}

.sort__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sort__link-icon {
  width: 20px;
  height: 20px;
  display: block;
  margin: 0 0 0 12px;
}

.sort__link-text {
  font-family: 'Graphik LCG', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #2F2F2F;
}

.sort__content {
  position: absolute;
  right: 12px;
  top: calc(100% + 12px);
  display: none;
}

.sort__content.active {
  display: block;
}

.sort__list {
  width: 210px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 20px rgba(7, 14, 77, 0.15);
          box-shadow: 0px 2px 20px rgba(7, 14, 77, 0.15);
  border-radius: 10px;
}

.sort__list-item + .sort__list-item {
  border-top: 1px solid #E3E3E3;
}

.sort__list-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 24px 12px 24px;
  font-family: 'Graphik LCG', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #2F2F2F;
}

.cookie-alert {
  position: fixed;
  right: calc(50% - 680px);
  bottom: 150px;
}

.cookie-alert.hidden {
  display: none;
}

.cookie-alert__wrapper {
  max-width: 435px;
  width: 100%;
  padding: 16px 32px 24px 32px;
  background: rgba(255, 163, 25, 0.8);
  -webkit-box-shadow: 0px -4px 20px rgba(0, 0, 0, 0.05);
          box-shadow: 0px -4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 27px;
}

.cookie-alert__text {
  font-family: 'Graphik LCG', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

.cookie-alert__footer {
  margin: 12px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cookie-alert__footer-block + .cookie-alert__footer-block {
  margin: 0 0 0 24px;
}

.cookie-alert__button {
  width: 120px;
  height: 50px;
  -webkit-box-shadow: 0px 2px 6px rgba(0, 35, 103, 0.05);
          box-shadow: 0px 2px 6px rgba(0, 35, 103, 0.05);
}

.cookie-alert__link {
  font-family: 'Graphik LCG',sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #FFFFFF;
}

@media screen and (max-width: 1360px) {
  .cookie-alert {
    right: 0;
  }
}

@media screen and (max-width: 1280px) {
  .page-catalog__card {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media screen and (max-width: 991px) {
  .page-wrapper {
    padding: 64px 0 0 0;
  }
  .page-catalog__card {
    grid-template-columns: minmax(0, 1fr);
  }
  .page-catalog__content {
    grid-template-columns: minmax(0, 1fr);
  }
  .page-catalog__content-filter {
    position: fixed;
    top: 64px;
    left: 0;
    width: 100%;
    height: calc(100% - 64px);
    background: #FFFFFF;
    -webkit-box-shadow: 0px 0px 10px rgba(7, 14, 77, 0.1);
            box-shadow: 0px 0px 10px rgba(7, 14, 77, 0.1);
    border-radius: 0px 0px 30px 30px;
    padding: 50px 40px 0 40px;
    overflow-x: hidden;
    overflow-y: auto;
    display: none;
  }
  .page-catalog__content-filter.active {
    display: block;
  }
  .page-catalog__sort {
    margin: 40px 0 0 0;
  }
  .page-catalog__search {
    margin: 32px 0 0 0;
  }
  .page-header__wrapper-big {
    background: url("../img/page-header-bg-m.svg") center bottom/cover no-repeat;
    height: 190px;
  }
  .page-header__title {
    margin: 24px 0 0 0;
  }
  .sort__item-mobile {
    display: block;
  }
  .sort__link-text {
    display: none;
  }
  .sort__link-icon {
    margin: 0;
  }
}

@media screen and (max-width: 767px) {
  .title_size-big {
    font-size: 28px;
    line-height: 30px;
  }
  .title_size-medium {
    font-size: 28px;
    line-height: 30px;
  }
}

@media screen and (max-width: 600px) {
  .cookie-alert {
    bottom: 15px;
    right: -40px;
    width: 100%;
  }
  .cookie-alert__wrapper {
    max-width: calc(100% - 80px);
    width: 100%;
    padding: 16px;
    background: rgba(255, 163, 25, 0.9);
    -webkit-box-shadow: 0px -4px 20px rgba(0, 0, 0, 0.05);
            box-shadow: 0px -4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 22px;
  }
}

.header__wrapper {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 20px 2px rgba(0, 52, 153, 0.05);
          box-shadow: 0px 4px 20px 2px rgba(0, 52, 153, 0.05);
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 64px;
}

.header__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  width: 118px;
  height: 34px;
}

.header__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 0 115px;
}

.header__profile-block + .header__profile-block {
  margin-left: 32px;
}

.header__profile-block_burger {
  display: none;
}

.header-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav__list-mobile {
  display: none;
}

.header-nav__divider {
  display: none;
}

.header-nav__item + .header-nav__item {
  margin-left: 48px;
}

.header-nav__link {
  font-family: 'Graphik LCG', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}

.header-nav__link.active {
  position: relative;
}

.header-nav__link.active::after {
  content: '';
  position: absolute;
  left: -2px;
  bottom: -3px;
  width: calc(100% + 4px);
  height: 2px;
  background: #6776FF;
}

.header-profile__wrapper {
  position: relative;
}

.header-profile__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-profile__link::after {
  content: '';
  width: 16px;
  height: 16px;
  display: block;
  margin-left: 8px;
  background: url("../img/arrow-blue.svg") center center/contain no-repeat;
  -webkit-transition: .3s rotate;
  -o-transition: .3s rotate;
  transition: .3s rotate;
}

.header-profile__link.active::after {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.header-profile__link-icon {
  display: block;
  width: 18px;
  height: 22px;
}

.header-profile__list {
  position: absolute;
  right: 0;
  top: calc(100% + 11px);
  display: none;
  background: #FFFFFF;
  border-radius: 6px;
  overflow: hidden;
  width: 210px;
  -webkit-box-shadow: 0px 2px 15px rgba(7, 14, 77, 0.1);
          box-shadow: 0px 2px 15px rgba(7, 14, 77, 0.1);
}

.header-profile__list.active {
  display: block;
}

.header-profile__list-item + .header-profile__list-item {
  border-top: 1px solid #E3E3E3;
}

.header-profile__list-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 24px;
  font-family: 'Graphik LCG', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #2F2F2F;
}

.header-profile__list-link_enter {
  font-weight: 500;
  color: #6776FF;
}

.header-profile__list-link_enter::before {
  content: '';
  width: 16px;
  height: 16px;
  display: block;
  margin-right: 8px;
  background: url("../img/enter.svg") center center/contain no-repeat;
}

.logo {
  width: 100%;
  height: 100%;
}

.logo__img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.notification__icon {
  display: block;
  width: 18px;
  height: 21px;
}

.notification__icon_new {
  position: relative;
}

.notification__icon_new::after {
  content: '';
  position: absolute;
  right: -3px;
  top: -2px;
  width: 12px;
  height: 12px;
  display: block;
  background: #6776FF;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
}

.burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 15px;
  height: 12px;
}

.burger__item {
  width: 100%;
  height: 2px;
  display: block;
  border-radius: 4px;
  background-color: #6776FF;
  -webkit-transition: .5s all linear;
  -o-transition: .5s all linear;
  transition: .5s all linear;
}

.burger.active {
  width: 16px;
  height: 16px;
  position: relative;
}

.burger.active .burger__item {
  position: absolute;
}

.burger.active .burger__item:nth-child(2) {
  opacity: 0;
}

.burger.active .burger__item:nth-child(1) {
  left: 0;
  top: 8px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.burger.active .burger__item:nth-child(3) {
  right: 0;
  top: 8px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@media screen and (max-width: 767px) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
  }
  .header__nav {
    position: fixed;
    width: 100%;
    top: 64px;
    left: 0;
    z-index: 99;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 2px 15px rgba(7, 14, 77, 0.1);
            box-shadow: 0px 2px 15px rgba(7, 14, 77, 0.1);
    border-radius: 0px 0px 20px 20px;
    padding: 24px 0 40px 0;
    display: none;
    max-height: calc(100vh - 64px);
    overflow-x: hidden;
    overflow-y: auto;
  }
  .header__nav.active {
    display: block;
  }
  .header__profile-block_profile {
    display: none;
  }
  .header__profile-block_burger {
    display: block;
  }
  .header-nav {
    max-width: 295px;
    margin: 0 auto;
  }
  .header-nav__divider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 32px 0 8px 0;
    background: #C6D1FF;
    height: 50px;
    border-radius: 20px;
  }
  .header-nav__divider-icon {
    width: 21px;
    height: 25px;
  }
  .header-nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header-nav__list-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header-nav__item {
    width: 100%;
  }
  .header-nav__item + .header-nav__item {
    margin: 8px 0 0 0;
  }
  .header-nav__item + .header-nav__item_enter {
    margin: 25px 0 0 0;
  }
  .header-nav__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: 2px solid #6776FF;
    border-radius: 20px;
    height: 58px;
    width: 100%;
  }
  .header-nav__link_blue {
    background: #6776FF;
    color: #fff;
  }
  .header-nav__link_enter {
    height: auto;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    font-weight: 500;
    border: none;
    color: #6776FF;
  }
  .header-nav__link_enter::before {
    content: '';
    width: 22px;
    height: 22px;
    display: block;
    margin-right: 6px;
    background: url("../img/enter.svg") center center/contain no-repeat;
  }
  .header-nav__link::after {
    display: none;
  }
}

.footer__wrapper-yellow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 425px;
  padding: 0 0 56px 0;
  background: url("../img/footer-yellow.svg") center top/cover no-repeat;
}

.footer__wrapper-blue {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 125px;
  padding: 0 0 32px 0;
  background: url("../img/footer-blue.svg") center top/cover no-repeat;
}

.footer__logo {
  width: 295px;
  height: 84px;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.footer__row-block_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.footer__row-block_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__row-block_row .footer__block + .footer__block {
  margin: 0 0 0 40px;
}

.footer__block + .footer__block {
  margin: 24px 0 0 0;
}

.footer__block-mobile {
  display: none;
}

.footer__text {
  font-family: 'Graphik LCG', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}

.footer__text-right {
  text-align: right;
}

.footer__text-black {
  color: #2F2F2F;
}

.footer__link {
  text-decoration: underline;
  text-underline-position: under;
}

@media screen and (max-width: 991px) {
  .footer__row-second {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 767px) {
  .footer__wrapper-yellow {
    height: 363px;
    background: url("../img/footer-yellow-m.svg") center top/cover no-repeat;
  }
  .footer__logo {
    width: 116px;
    height: 33px;
  }
  .footer__text {
    font-size: 14px;
  }
  .footer__row {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footer__row-block {
    width: 50%;
  }
  .footer__row-block_full {
    width: 100%;
  }
  .footer__block-desktop {
    display: none;
  }
  .footer__block-mobile {
    display: block;
  }
  .footer__block + .footer__block {
    margin: 16px 0 0 0;
  }
  .footer__block-logo + .footer__block {
    margin: 32px 0 0 0;
  }
}

@media screen and (max-width: 600px) {
  .footer__wrapper-blue {
    height: 226px;
    background: url("../img/footer-blue-m.svg") center top/cover no-repeat;
  }
  .footer__text-small {
    font-size: 12px;
  }
  .footer__row-block_row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 32px 0 0 0;
  }
  .footer__row-block_row .footer__block + .footer__block {
    margin: 16px 0 0 0;
  }
}

.section-event__wrapper {
  padding: 122px 0 50px 0;
}

.section-event__content {
  margin: 8px 0 0 0;
}

.section-event__list {
  display: none;
}

.section-event__footer {
  margin: 40px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.event-list__item {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 15px rgba(7, 14, 77, 0.1);
          box-shadow: 0px 0px 15px rgba(7, 14, 77, 0.1);
  border-radius: 16px;
}

.event-list__item + .event-list__item {
  margin: 8px 0 0 0;
}

@media screen and (max-width: 767px) {
  .section-event__content {
    margin: 40px 0 0 0;
  }
  .section-event__wrapper {
    padding: 112px 0;
  }
  .section-event__calendar {
    display: none;
  }
  .section-event__list {
    display: block;
  }
}

.section-hero__wrapper {
  height: 1010px;
  background: url("../img/hero-bg.svg") center bottom/cover no-repeat;
  padding: 120px 0 0 0;
}

.section-hero__grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 16px;
}

.section-hero__grid-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-hero__desc {
  margin: 40px 0 0 0;
}

.section-hero__text {
  font-family: 'Gilroy', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  color: #FFFFFF;
}

@media screen and (max-width: 767px) {
  .section-hero__wrapper {
    height: 730px;
    background: url("../img/hero-bg-m.svg") center bottom/cover no-repeat;
    padding: 60px 0 0 0;
    position: relative;
    overflow: hidden;
  }
  .section-hero__grid {
    grid-template-columns: minmax(0, 1fr);
  }
  .section-hero__desc {
    margin: 16px 0 0 0;
  }
  .section-hero__text {
    font-size: 16px;
    line-height: 19px;
  }
  .section-hero__img {
    position: absolute;
    height: 400px;
    width: 420px;
    left: calc(50% - 210px);
    bottom: 50px;
  }
  .section-hero__img-item {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
}

.section-about__wrapper {
  padding: 80px 0 160px 0;
}

.section-about__grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 100px;
  padding: 0 115px;
}

.section-about__title {
  font-family: 'Gilroy', sans-serif;
  font-weight: 700;
  font-size: 45px;
  line-height: 60px;
}

.section-about__desc {
  margin: 4px 0 0 0;
}

.section-about__text {
  font-family: 'Graphik LCG', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
}

.section-about__footer {
  margin: 50px 0 0 0;
}

.section-about__img {
  width: auto;
  height: 280px;
}

.section-about__img-item {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media screen and (max-width: 1280px) {
  .section-about__grid {
    padding: 0;
  }
}

@media screen and (max-width: 991px) {
  .section-about__grid {
    grid-template-columns: minmax(0, 1fr);
    gap: 70px;
  }
}

@media screen and (max-width: 767px) {
  .section-about__wrapper {
    padding: 30px 0 112px 0;
  }
  .section-about__title {
    font-size: 32px;
    line-height: 38.4px;
  }
  .section-about__desc {
    margin: 8px 0 0 0;
  }
  .section-about__text {
    font-size: 16px;
    line-height: 19px;
  }
  .section-about__footer {
    margin: 25px 0 0 0;
  }
}

.section-anounce__wrapper {
  background: #6776FF;
  border-radius: 80px;
  padding: 82px 0 85px 0;
}

.section-anounce__content {
  margin-top: 48px;
}

.section-anounce__grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 16px;
}

.section-anounce__grid-item {
  -webkit-box-shadow: 0px 0px 15px rgba(7, 14, 77, 0.1);
          box-shadow: 0px 0px 15px rgba(7, 14, 77, 0.1);
  border-radius: 16px;
}

.section-anounce__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 48px 0 0 0;
}

.section-anounce__button {
  -webkit-box-shadow: 0px 2px 6px rgba(0, 35, 103, 0.05);
          box-shadow: 0px 2px 6px rgba(0, 35, 103, 0.05);
}

@media screen and (max-width: 991px) {
  .section-anounce__grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media screen and (max-width: 767px) {
  .section-anounce__wrapper {
    padding: 72px 0 88px 0;
    border-radius: 50px;
  }
  .section-anounce__content {
    margin: 40px 0 0 0;
  }
  .section-anounce__grid {
    grid-template-columns: minmax(0, 1fr);
    gap: 8px;
  }
}

.catalog-theme__wrapper {
  max-width: 910px;
  width: 100%;
}

.catalog-theme__content {
  margin: 16px 0 0 0;
}

.catalog-search__wrapper {
  display: grid;
  grid-template-columns: 275px 600px;
  gap: 50px;
}

.catalog-search__wrapper-block + .catalog-search__wrapper-block {
  margin: 28px 0 0 0;
}

.catalog-search__block-header + .catalog-search__block-content {
  margin: 8px 0 0 0;
}

.theme-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -6px -12px;
}

.theme-list__item {
  margin: 6px;
  background: #FFE9B1;
  border-radius: 50px;
  overflow: hidden;
}

.theme-list__item.active {
  background: #FFA319;
}

.theme-list__link {
  font-family: 'Graphik LCG', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  padding: 14px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: inherit;
}

@media screen and (max-width: 991px) {
  .catalog-search__wrapper {
    grid-template-columns: minmax(0, 1fr);
  }
  .catalog-search__wrapper-block:nth-child(2) {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .theme-list__link {
    padding: 12px 32px;
  }
}

.lesson__header-wrapper {
  display: grid;
  grid-template-columns: auto 415px;
  gap: 126px;
}

.lesson__header-img {
  width: 100%;
  height: 240px;
  border: 2px solid #6776FF;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px 58px;
}

.lesson__header-img_mobile {
  display: none;
}

.lesson__header-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.lesson__banner {
  margin: 120px 0 0 0;
}

.lesson__banner-wrapper {
  background: #F9F9FF;
}

.lesson-header__title {
  margin: 16px 0 0 0;
}

.lesson-header__info {
  margin: 40px 0 0 0;
}

.lesson-header__favorite {
  margin: 64px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.lesson-header__favorite-btn {
  width: 255px;
  margin: 0 0 0 48px;
  padding: 24px 0 0 0;
}

.lesson-header__favorite-btn .button {
  width: 100%;
}

.lesson-banner__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 185px;
}

.lesson-banner__wrapper-img {
  width: 370px;
  height: 270px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-transform: translateY(-47px);
      -ms-transform: translateY(-47px);
          transform: translateY(-47px);
}

.lesson-banner__wrapper-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.lesson-banner__wrapper-content {
  margin: 0 0 0 140px;
  -ms-flex-item-align: center;
      align-self: center;
  max-width: 330px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.lesson-banner__wrapper-title {
  font-family: 'Gilroy', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.lesson-banner__wrapper-button {
  margin: 16px 0 0 0;
  -webkit-box-shadow: 0px 4px 6px rgba(0, 35, 103, 0.08);
          box-shadow: 0px 4px 6px rgba(0, 35, 103, 0.08);
  width: 255px;
}

.lesson-banner__wrapper-social {
  margin-left: auto;
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding-bottom: 40px;
}

.lesson-banner__social-title {
  font-family: 'Graphik LCG', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #2F2F2F;
}

.lesson-banner__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 17px 0 0 0;
}

.lesson-banner__social-item {
  display: block;
  width: 45px;
  height: 45px;
}

.lesson-banner__social-item + .lesson-banner__social-item {
  margin: 0 0 0 17px;
}

.lesson-info__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lesson-info__wrapper-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lesson-info__wrapper-block + .lesson-info__wrapper-block {
  margin: 0 0 0 48px;
}

.lesson-info__icon {
  width: 24px;
  height: 24px;
}

.lesson-info__content {
  margin: 0 0 0 12px;
}

.lesson-info__text {
  font-family: 'Graphik LCG', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.lesson-tags__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lesson-tags__wrapper-item + .lesson-tags__wrapper-item {
  margin: 0 0 0 76px;
}

.lesson-tag__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.lesson-tag__icon {
  width: 33px;
  height: 33px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.lesson-tag__content {
  margin: 0 0 0 12px;
}

.lesson-tag__title {
  font-family: 'Graphik LCG', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #2F2F2F;
}

.lesson-tag__text {
  margin: 7px 0 0 0;
  font-family: 'Gilroy', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.lesson-description__block-content {
  margin: 16px 0 0 0;
}

.lesson-description__block-text {
  margin: 32px 0 0 0;
}

.lesson__tags {
  margin: 105px 0 0 0;
}

.lesson__description {
  margin: 72px 0 0 0;
}

.lesson__desc {
  font-family: 'Gilroy', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #2F2F2F;
  max-width: 738px;
}

.lesson__text {
  font-family: 'Graphik LCG', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #2F2F2F;
}

.lesson__text-small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-height: 160px;
  max-width: 630px;
}

.lesson__text p + p {
  margin: 20px 0 0 0;
}

.lesson__text ul {
  list-style: disc;
  margin-left: 25px;
}

.favorite-block__wrapper {
  height: 146px;
  width: 414px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 24px 40px;
  border-radius: 20px;
  overflow: hidden;
  background: url("../img/favorite-bg.svg") center center/cover no-repeat;
}

.favorite-block__button {
  max-width: 322px;
  width: 100%;
}

.favorite-block__button-item {
  width: 100%;
  font-weight: 600;
  -webkit-box-shadow: 0px 2px 6px rgba(0, 35, 103, 0.05);
          box-shadow: 0px 2px 6px rgba(0, 35, 103, 0.05);
}

.favorite-block__button-item::after {
  content: '';
  width: 20px;
  height: 20px;
  display: block;
  margin: 0 0 0 10px;
  background: url("../img/star-empty.svg") center center/contain no-repeat;
}

.favorite-block__button + .favorite-block__content {
  margin: 16px 0 0 0;
}

.favorite-block__content {
  max-width: 321px;
}

.favorite-block__text {
  font-family: 'Graphik LCG', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

@media screen and (max-width: 1280px) {
  .lesson__header-wrapper {
    gap: 0;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .lesson__text-small {
    max-height: unset;
    max-width: unset;
  }
  .lesson-banner__wrapper-content {
    margin: 0 0 0 30px;
  }
  .lesson-tags__wrapper-item + .lesson-tags__wrapper-item {
    margin: 0 0 0 15px;
  }
  .lesson-header__favorite {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .lesson-header__favorite-btn {
    margin: 24px 0 0 0;
    padding: 0;
  }
}

@media screen and (max-width: 991px) {
  .lesson__header-wrapper {
    grid-template-columns: minmax(0, 1fr);
  }
  .lesson__header-block:nth-child(2) {
    display: none;
  }
  .lesson__header-img {
    margin: 24px 0 0 0;
  }
  .lesson__header-img_mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .lesson__tags {
    margin: 88px 0 0 0;
  }
  .lesson__description {
    margin: 48px 0 0 0;
  }
  .lesson__banner {
    margin: 88px 0 0 0;
  }
  .lesson-header__info {
    margin: 24px 0 0 0;
  }
  .lesson-header__favorite {
    margin: 32px 0 0 0;
  }
  .lesson-tags__wrapper {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 15px;
  }
  .lesson-tags__wrapper-item + .lesson-tags__wrapper-item {
    margin: 0;
  }
  .lesson-banner__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .lesson-banner__social-list {
    margin: 0 0 0 24px;
  }
  .lesson-banner__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    padding: 40px 0;
  }
  .lesson-banner__wrapper-content {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 0;
  }
  .lesson-banner__wrapper-img {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -webkit-transform: translateY(0) translateX(-40px);
        -ms-transform: translateY(0) translateX(-40px);
            transform: translateY(0) translateX(-40px);
    margin: 16px 0;
    width: calc(100% + 80px);
    height: auto;
  }
  .lesson-banner__wrapper-social {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    -ms-flex-item-align: center;
        align-self: center;
    justify-self: center;
    padding: 0;
  }
}

@media screen and (max-width: 600px) {
  .lesson-info__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .lesson-info__wrapper-block + .lesson-info__wrapper-block {
    margin: 16px 0 0 0;
  }
  .lesson-header__favorite-btn {
    margin: 20px auto 0 auto;
  }
  .lesson-tags__wrapper {
    grid-template-columns: minmax(0, 1fr);
    gap: 20px;
  }
  .favorite-block__wrapper {
    width: 100%;
    padding: 16px;
  }
}

.card__wrapper {
  padding: 20px 24px;
  border-radius: 16px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 240px;
}

.card__wrapper:hover .card__content {
  opacity: 1;
}

.card__wrapper:hover .card__logo {
  display: block;
}

.card__wrapper:hover .card__difficult {
  display: none;
}

.card__wrapper:hover .card__bonus {
  display: none;
}

.card__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.card__header_center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__header-block + .card__header-block {
  margin-left: 30px;
}

.card__header-block_time {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.card__title {
  font-family: 'Gilroy', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
}

.card__time {
  font-family: 'Graphik LCG', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #6776FF;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.card__content {
  margin: 12px 0 auto 0;
  opacity: 0;
}

.card__content_big {
  margin: 21px 0 auto 0;
}

.card__content_visible {
  opacity: 1;
}

.card__text {
  font-family: 'Graphik LCG', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}

.card__text_second {
  font-family: 'Gilroy', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
}

.card__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 30px;
}

.card__footer_full {
  height: 100%;
}

.card__footer-text + .card__footer-text {
  margin: 8px 0 0 0;
}

.card__logo {
  height: 24px;
  display: none;
}

.card__logo-item {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.card__img {
  width: 100px;
  height: 22px;
  -o-object-fit: contain;
     object-fit: contain;
}

.card__button {
  max-width: 130px;
  height: 40px;
}

.card__passed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__passed-icon {
  width: 24px;
  height: 24px;
}

.card__passed-icon svg {
  width: 100%;
  height: 100%;
}

.card__passed-text {
  margin: 0 0 0 8px;
  font-family: 'Gilroy', sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #FFA319;
}

.bonus__wrapper {
  width: 112px;
  height: 40px;
  background: #FFA319;
  border-radius: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bonus__wrapper::before {
  content: '';
  width: 33px;
  height: 33px;
  display: block;
  background: url("../img/bonuse.svg") center center/contain no-repeat;
  margin-right: 4px;
}

.bonus__text {
  font-family: 'Gilroy', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
}

.difficult__wrapper {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 36px));
  grid-auto-rows: 16px;
  gap: 2px;
  border-radius: 8px;
  overflow: hidden;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.difficult__wrapper_big {
  grid-template-columns: repeat(3, minmax(0, 87px));
  grid-auto-rows: 24px;
}

.difficult__wrapper_medium .difficult__item_low {
  background-color: #C6D1FF;
}

.difficult__wrapper_medium .difficult__item_medium {
  background-color: #A5B1FF;
}

.difficult__wrapper_medium .difficult__item_hard {
  background-color: #EDEDED;
}

.difficult__wrapper_low .difficult__item_low {
  background-color: #C6D1FF;
}

.difficult__wrapper_low .difficult__item_medium {
  background-color: #EDEDED;
}

.difficult__wrapper_low .difficult__item_hard {
  background-color: #EDEDED;
}

.difficult__wrapper-item.active {
  position: relative;
}

.difficult__wrapper-item.active::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  display: block;
  background-color: #FFA319;
}

.difficult__item {
  height: 100%;
}

.difficult__item_low {
  background: #C6D1FF;
}

.difficult__item_medium {
  background: #A5B1FF;
}

.difficult__item_hard {
  background: #6776FF;
}

@media screen and (max-width: 767px) {
  .card__wrapper {
    padding: 20px;
  }
}

.filter__wrapper-block + .filter__wrapper-block {
  border-top: 1px solid #D9D9D9;
}

.filter__wrapper-title {
  font-family: 'Gilroy', sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 30px;
  text-align: center;
  color: #6776FF;
}

.filter__wrapper-header {
  margin: 0 0 6px 0;
  display: none;
  position: relative;
}

.filter__wrapper-tags {
  display: none;
  margin: 24px 0;
}

.filter__wrapper-close {
  position: absolute;
  right: 33px;
  top: 16px;
  width: 32px;
  height: 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #F8F8FF;
  border-radius: 40px;
  display: none;
}

.filter__wrapper-close:hover {
  cursor: pointer;
}

.filter__wrapper-close-img {
  width: 10px;
  height: 10px;
  -o-object-fit: contain;
     object-fit: contain;
}

.filter__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -6px -12px;
}

.filter__list-item {
  margin: 6px;
}

.filter__list-link {
  padding: 8px 12px;
  font-family: 'Graphik LCG', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #2F2F2F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #EDEDED;
  border-radius: 6px;
}

.filter__list-link::after {
  content: '';
  width: 10px;
  height: 10px;
  display: block;
  margin: 0 0 0 12px;
  background: url("../img/close.svg") center center/contain no-repeat;
}

.filter__list-link-reset {
  background: #E3E3E3;
}

.filter__list-link-reset::after {
  display: none;
}

.filter-block__wrapper {
  padding: 18px 0;
}

.filter-block__wrapper.active {
  padding: 18px 0 24px 0;
}

.filter-block__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.filter-block__header:hover {
  cursor: pointer;
}

.filter-block__header::after {
  content: '';
  width: 19px;
  height: 19px;
  display: block;
  background: url("../img/arrow-black.svg") center center/contain no-repeat;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: .3s transform linear;
  -o-transition: .3s transform linear;
  transition: .3s transform linear;
}

.filter-block__header.active::after {
  -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
          transform: rotate(0);
}

.filter-block__content {
  margin: 14px 0 0 0;
  display: none;
}

.filter-block__content.active {
  display: block;
}

.filter-block__search {
  margin: 0 0 16px 0;
}

.filter-checkbox__list-item + .filter-checkbox__list-item {
  margin: 8px 0 0 0;
}

.checkbox__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.checkbox__wrapper:hover {
  cursor: pointer;
}

.checkbox__input {
  display: none;
}

.checkbox__input:checked + .checkbox__checkmark {
  background: #6776FF;
  border-color: #6776FF;
}

.checkbox__input:checked + .checkbox__checkmark::before {
  opacity: 1;
}

.checkbox__checkmark {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #FFFFFF;
  border: 1px solid #C0C6FF;
  border-radius: 2px;
  width: 22px;
  height: 22px;
  position: relative;
  -webkit-transition: .3s border-color, .3s background-color;
  -o-transition: .3s border-color, .3s background-color;
  transition: .3s border-color, .3s background-color;
}

.checkbox__checkmark::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("../img/check-white.svg") center center/contain no-repeat;
  opacity: 0;
  -webkit-transition: .3s opacity linear;
  -o-transition: .3s opacity linear;
  transition: .3s opacity linear;
}

.checkbox__label {
  margin: 0 0 0 10px;
  font-family: 'Graphik LCG', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
}

.search-input__wrapper {
  position: relative;
}

.search-input__wrapper::after {
  content: '';
  position: absolute;
  right: 16px;
  top: calc(50% - 12px);
  width: 24px;
  height: 24px;
  display: block;
  background: url("../img/search-icon.svg") center center/contain no-repeat;
}

.search-input__item {
  width: 100%;
  height: 42px;
  outline: none;
  border: 1px solid #C0C6FF;
  border-radius: 10px;
  padding: 0 40px 0 16px;
  font-family: 'Graphik LCG', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #2F2F2F;
}

.vendor-list-wrapper {
  max-height: 300px;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 8px 0 0 0;
}

.vendor-list-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #6776FF;
  margin: 16px 0 0 0;
}

.vendor-list-link::after {
  content: '';
  width: 12px;
  height: 12px;
  display: block;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-left: 6px;
  background: url("../img/arrow-down-blue.svg") center center/contain no-repeat;
  -webkit-transition: .3s all linear;
  -o-transition: .3s all linear;
  transition: .3s all linear;
}

.expandable-list-item.hidden {
  display: none;
}

.expandable-list-link.active::after {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

@media screen and (max-width: 991px) {
  .filter__wrapper-header {
    display: block;
  }
  .filter__wrapper-tags {
    display: block;
  }
  .filter__wrapper-close {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .filter__list {
    margin: -2px -4px;
  }
  .filter__list-item {
    margin: 4px;
  }
  .filter__list-link {
    padding: 4px 6px;
    font-size: 12px;
    border-radius: 4px;
  }
}
