$min_width: 320px;
$max_width: 1200px;

body{
  font-family: 'Visby CF', sans-serif;
  font-weight: 500;
  color: #232323;
  font-size: 14px;
}


.container{
  max-width: 1220px;
  width: 100%;
  margin: 0 auto;

  padding: 0 10px;
}

.icon{
  width: 100%;
  height: 100%;
}

.logo{
  &-box{
    display: flex;
    align-items: center;
    &__img{
      width: 35px;
      height: 35px;
      img{
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    &__text{
      font-family: 'Visby CF Extra',;
      font-weight: 700;
      color: #006E53;
      @include fluid-type($min_width, $max_width, 20px, 32px);
      text-transform: uppercase;
    }
  }
}

.btn{
  -webkit-appearance: none;
  border:none;
  outline: none;

  display: flex;
  align-items: center;
  justify-content: center;

  &-white{
    background: #FFFFFF;
    font-weight: 700;
    font-size: 14px;

    letter-spacing: 0.02em;

    transition: .3s color, .3s background-color;
    &:hover{
      color:#fff;
      background-color: #232323;
    }
  }

  &-black{
    background-color: #000000;
    font-size: 14px;
    letter-spacing: 0.02em;

    color: #F9F9F9;

    border:1px solid transparent;

    transition: .3s border-color;

    &:hover{
      border-color: #F9F9F9;
      background-color: #232323;
    }
  }

  &-grey{
    background: #F9F9F9;
    border-radius: 16px;

    font-size: 10px;

    letter-spacing: 0.02em;

    color: #232323;

  }

  &-green{
    background: #006E53;
    font-size: 14px;
    letter-spacing: 0.02em;

    font-weight: 700;

    color:#fff;
    transition: .3s all;
    &:hover{
      background-color: #006053;

      cursor: pointer;
    }
  }

  &-border-white{
    border: 1px solid #232323;
    filter: drop-shadow(0px 5px 10px rgba(35, 35, 35, 0.18));
    border-radius: 8px;

    color:#232323;

    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.02em;
  }

  &-border-green{
    background-color: transparent;
    border: 1px solid #006E53;
    box-shadow: 0px 5px 10px rgba(35, 35, 35, 0.18);
    border-radius: 8px;

    color:#fff;

    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.02em;
  }

  &-sign{
    background: #F9F9F9;
    border: 1px solid #232323;
    box-shadow: 0px 5px 10px rgba(35, 35, 35, 0.18);
    border-radius: 8px;
    font-weight: 700;
    max-width: 300px;
    width: 100%;
    height: 45px;
  }
}

.trigger-block-link{
  &:hover{
    cursor: pointer;
  }
}

.green{
  &-list{
    &__item{
      font-size: 14px;
      line-height: 22px;
      letter-spacing: 0.02em;

      color: #232323;

      position: relative;

      display: flex;
      align-items: center;
      &::before{
        content:'';
        width: 8px;
        height: 8px;
        flex-shrink: 0;
        display: block;
        border-radius: 50%;
        margin-right: 15px;
        background-color:#006E53;
      }
    }
    &__item + &__item{
      margin-top: 15px;
    }
  }
}

.video{
  &-btn{
    &__icon{
      width: 170px;
      height: 170px;
      display: flex;
      align-items: center;
      justify-content: center;

      background: rgba(0, 110, 83, 0.03);
      border-radius: 50%;
      position: relative;

      z-index: 3;
      &::before{
        content: '';
        position: absolute;
        width: 130px;
        height: 130px;
        left: 50%;
        top: 50%;
        margin-left: -65px;
        margin-top: -65px;
        background: rgba(0, 110, 83, 0.1);
        border-radius: 50%;
        z-index: 1;
      }
      &::after{
        content: '';
        position: absolute;
        width: 86px;
        height: 86px;

        top: 50%;
        left: 50%;
        margin-left: -43px;
        margin-top: -43px;

        background: #006E53;
        border: 1px solid #F9F9F9;
        box-shadow: 0px 5px 10px rgba(35, 35, 35, 0.18);
        border-radius: 50%;

        z-index: 2;
      }
      svg{
        width: 30px;
        height: 30px;

        position: relative;
        z-index: 3;
      }
    }
    &__text{
      text-align: center;
      margin-top: 4px;
      font-weight: 700;
      letter-spacing: 0.02em;

      font-size: 14px;
      line-height: 22px;

      display: block;
    }
  }
}

.advantages{
  &-list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    &__item + &__item{
      margin-top: 22px;
    }
  }
  &-item{
    display: flex;
    align-items: center;
    &__icon{
      width: 32px;
      height: 32px;

      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;

      border-radius: 50%;
      background-color: #F9F9F9;

      svg{
        width: 24px;
        height: 24px;
      }
    }
    &__text{
      display: block;

      margin-left: 10px;

      font-size: 14px;
      line-height: 22px;

      letter-spacing: 0.02em;

      color: #232323;
    }
  }
}

.social-list{
  display: flex;
  align-items: center;
  justify-content: center;
  &__item + &__item{
    margin-left: 30px;
  }
  &__item{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    svg{
      width: 100%;
      height: 100%;
      transition: .3s all;
      path,rect,circle{
        transition: .3s all;
      }
    }
    &_yt{
      &:hover{
        path{
          &:nth-child(1){
            fill: #FC0D1B;
          }
          &:nth-child(2){
            fill: #fff;
          }
        }
      }
    }
    &_li{
      &:hover{
        rect{
          fill:#1275B1;
        }
        path{
          fill: #fff;
        }
      }
    }
    &_fb{
      &:hover{
        circle{
          fill:rgba(1, 99, 224, 1);
        }
        path{
          fill: #fff;
        }
      }
    }
    &_ph{
      &:hover{
        circle{
          fill:#D85637;
        }
        path{
          fill: #fff;
        }
      }
    }
    &_tg{
      &:hover{
        circle{
          fill :#23A9E8;
        }
        path{
          fill: #fff;
        }
      }
    }
  }
}

.breadcrumbs{
  &__list{
    display: flex;
    align-items: center;
  }
  &-list{
    &__link{
      font-size: 12px;

      letter-spacing: 0.02em;

      color: #232323;
    }
    &__item + &__item{
      &::before{
        content: '/';
        margin:0 5px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .video{
    &-btn{
      &__icon{
        width: 100px;
        height: 100px;
        &::before{
          width: 80px;
          height: 80px;

          margin-left: -40px;
          margin-top: -40px;
        }
        &::after{
          width: 60px;
          height: 60px;

          margin-top: -30px;
          margin-left: -30px;
        }
        svg{
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}