section.section.section-articles
    .container
        .section__wrapper
            .section__info
                h2.section__title Resources for growing your business
            .section-articles__content
                .articles-nav
                    .articles-nav__item.active
                        a(href='#').articles-nav__link Online education
                    each el in ['Educators Marketing','Recruitment marketing','Talent growth','Metrics']
                        .articles-nav__item
                            a(href='#').articles-nav__link=el
                .articles-grid.section-articles__grid
                    .articles-grid__item.articles-grid__item_big
                        a(href='#').preview-article
                            .preview-article__wrapper
                                .preview-article__img
                                    img(src='img/article.jpg')
                                .preview-article__info
                                    .preview-article__header
                                        p.preview-article__author Molly Jackson
                                        time.preview-article__date 23.03.2021
                                    .preview-article__content
                                        p.preview-article__label How to design an online course
                                        p.preview-article__text Online learning has taken over the world and has become our new norm. For students, this is a convenient format that allows them to be mobile and save time. Online learning has taken over the world and has become our new norm.
                                    .preview-article__footer
                                        .preview-article__btn.btn.btn-black  Recruitment marketing
                    .articles-grid__item
                        a(href='#').preview-article
                            .preview-article__wrapper
                                .preview-article__img
                                    img(src='img/article-2.jpg')
                                .preview-article__info
                                    .preview-article__header
                                        p.preview-article__author Molly Jackson
                                        time.preview-article__date 23.03.2021
                                    .preview-article__content
                                        p.preview-article__label How to design an online course
                                        p.preview-article__text Online learning has taken over the world and has become our new norm. For students, this is a convenient format that allows.
                                    .preview-article__footer
                                        .preview-article__btn.btn.btn-black  Recruitment marketing
                    .articles-grid__item
                        a(href='#').preview-article
                            .preview-article__wrapper
                                .preview-article__img
                                    img(src='img/article-3.jpg')
                                .preview-article__info
                                    .preview-article__header
                                        p.preview-article__author Molly Jackson
                                        time.preview-article__date 23.03.2021
                                    .preview-article__content
                                        p.preview-article__label How to design an online course
                                        p.preview-article__text Online learning has taken over the world and has become our new norm. For students, this is a convenient format that allows.
                                    .preview-article__footer
                                        .preview-article__btn.btn.btn-black  Recruitment marketing
                    .articles-grid__item
                        a(href='#').preview-article
                            .preview-article__wrapper
                                .preview-article__img
                                    img(src='img/article-4.jpg')
                                .preview-article__info
                                    .preview-article__header
                                        p.preview-article__author Molly Jackson
                                        time.preview-article__date 23.03.2021
                                    .preview-article__content
                                        p.preview-article__label How to design an online course
                                        p.preview-article__text Online learning has taken over the world and has become our new norm. For students, this is a convenient format that allows.
                                    .preview-article__footer
                                        .preview-article__btn.btn.btn-black  Recruitment marketing
                    .articles-grid__item
                        a(href='#').preview-article.more-btn
                            .preview-article__wrapper.more-btn__wrapper
                                .more-btn__img
                                    img(src='img/more-arrow.svg')
                                .more-btn__content
                                    p.preview-article__label Read more
                                    p.preview-article__text More than 100 professional articles