section.section.section-most
    .container
        .section-most__wrapper
            .section-most__video
                a(href='#').video-btn
                    span.video-btn__icon
                        +icon('play')
                    span.video-btn__text Видеообзор
            .section-content
                .section-content__grid.section-content__grid_col-two
                    .section-content__item.section-most__item
                        h2.section__title.section__title_small MOST LMS
                            p.section__desc All-in-one решение для онлайн-школ
                        .section-most__features
                            ul.green-list
                                li.green-list__item Создавай курсы
                                li.green-list__item Увеличивай продажи
                                li.green-list__item Поднимай рейтинг школы
                        a(href='#').section-most__btn.btn.btn-black Создать свой курс
                    .section-content__item
                        .section-most__img
                            img(src='img/hero-second.png')
section.section.section-lms
    .section-lms__img
        img(src='img/lms.png')
    .container
        .section-content.section__wrapper.section-lms__wrapper
            .section-content__grid.section-content__grid_col-two.section-content__grid_revert
                .section-content__item.section-content__item_text
                    h2.section__title.section__title_small Больше, чем просто LMS
                    .section-lms__text
                        p Платформа MOST Technology – это не просто набор инструментов для организации эффективного онлайн-обучения. Платформа позволяет управлять развитием студентов, давать им карьерные рекомендации, а также получать обратную связь от работодателей.
                        p И все это – без предвзятости, основываясь на объективных данных и с использованием AI.
                .section-content__item.section-content__item_img
.section-group
    section.section
        .container
            .section-content.section__wrapper.section__wrapper_small
                .section-content__grid.section-content__grid_col-two
                    .section-content__item.section-content__item_text
                        h2.section__title.section__title_small Управляйте контентом
                        .section__content
                            ul.advantages-list
                                li.advantages-list__item.advantages-item
                                    span.advantages-item__icon
                                        +icon('nocode')
                                    span.advantages-item__text Удобный no-code конструктор
                                li.advantages-list__item.advantages-item
                                    span.advantages-item__icon
                                        +icon('html5')
                                    span.advantages-item__text Поддержка HTML5, PDF, Видеофайлов
                                li.advantages-list__item.advantages-item
                                    span.advantages-item__icon
                                        +icon('peoplegroup')
                                    span.advantages-item__text Полный и ограниченный доступ к курсам
                                li.advantages-list__item.advantages-item
                                    span.advantages-item__icon
                                        +icon('groupexclude')
                                    span.advantages-item__text Исключение массового использования аккаунта
                    .section-content__item.section-content__item_img
                        img(src='img/content-svg.svg')
    section.section
        .container
            .section-content.section__wrapper.section__wrapper_small
                .section-content__grid.section-content__grid_col-two.section-content__grid_revert
                    .section-content__item.section-content__item_text
                        h2.section__title.section__title_small Организуйте занятия
                        .section__content
                            ul.advantages-list
                                li.advantages-list__item.advantages-item
                                    span.advantages-item__icon
                                        +icon('personalarea')
                                    span.advantages-item__text Личный кабинет преподавателя и личный кабинет ученика
                                li.advantages-list__item.advantages-item
                                    span.advantages-item__icon
                                        +icon('calendar')
                                    span.advantages-item__text Календарь занятий
                                li.advantages-list__item.advantages-item
                                    span.advantages-item__icon
                                        +icon('setting-role')
                                    span.advantages-item__text Настройка ролей и прав доступа
                                li.advantages-list__item.advantages-item
                                    span.advantages-item__icon
                                        +icon('gamemechanic')
                                    span.advantages-item__text Игровые механики
                    .section-content__item.section-content__item_img
                        img(src='img/operatingSystem.svg')
    section.section
        .container
            .section-content.section__wrapper.section__wrapper_small
                .section-content__grid.section-content__grid_col-two
                    .section-content__item.section-content__item_text
                        h2.section__title.section__title_small Тестируйте, оценивайте и развивайтесь
                        .section__content
                            ul.advantages-list
                                li.advantages-list__item.advantages-item
                                    span.advantages-item__icon
                                        +icon('homework')
                                    span.advantages-item__text Домашние задания и тесты
                                li.advantages-list__item.advantages-item
                                    span.advantages-item__icon
                                        +icon('hearth')
                                    span.advantages-item__text Обратная связь от студентов
                                li.advantages-list__item.advantages-item
                                    span.advantages-item__icon
                                        +icon('markhistory')
                                    span.advantages-item__text История оценок
                                li.advantages-list__item.advantages-item
                                    span.advantages-item__icon
                                        +icon('tests')
                                    span.advantages-item__text Встроенные тесты (на hard и soft навыки)
                    .section-content__item.section-content__item_img
                        img(src='img/programming.svg')
    section.section
        .container
            .section-content.section__wrapper.section__wrapper_small
                .section-content__grid.section-content__grid_col-two.section-content__grid_revert
                    .section-content__item.section-content__item_text
                        h2.section__title.section__title_small Взаимодействие с пользователями
                        p.section__desc.section__desc_mobile-margin Создайте эффективную коммуникацию с студентами с помощью CRM. Автоматизируйте рутинные процессы, чтобы сосредоточиться на главном.
                        .section__content
                            ul.advantages-list
                                li.advantages-list__item.advantages-item
                                    span.advantages-item__icon
                                        +icon('mailing')
                                    span.advantages-item__text Встроенный инструмент email-рассылок
                                li.advantages-list__item.advantages-item
                                    span.advantages-item__icon
                                        +icon('chat')
                                    span.advantages-item__text Онлайн-чат
                                li.advantages-list__item.advantages-item
                                    span.advantages-item__icon
                                        +icon('bell')
                                    span.advantages-item__text PUSH-уведомления
                                li.advantages-list__item.advantages-item
                                    span.advantages-item__icon
                                        +icon('paymentmodule')
                                    span.advantages-item__text Модуль приема платежей
                    .section-content__item.section-content__item_img
                        img(src='img/mobileMarketing.svg')
    section.section
        .container
            .section-content.section__wrapper.section__wrapper_small
                .section-content__grid.section-content__grid_col-two
                    .section-content__item.section-content__item_text
                        h2.section__title.section__title_small Увеличивайте эффективность
                        p.section__desc.section__desc_mobile-margin Отслеживайте самое важное и делайте ваши курсы еще более популярными, качественными и эффективными
                        .section__content
                            ul.advantages-list
                                li.advantages-list__item.advantages-item
                                    span.advantages-item__icon
                                        +icon('completionrate')
                                    span.advantages-item__text Completion Rate
                                li.advantages-list__item.advantages-item
                                    span.advantages-item__icon
                                        +icon('nps')
                                    span.advantages-item__text NPS
                                li.advantages-list__item.advantages-item
                                    span.advantages-item__icon
                                        +icon('degree-material')
                                    span.advantages-item__text Степень знакомства с материалом
                                li.advantages-list__item.advantages-item
                                    span.advantages-item__icon
                                        +icon('speed')
                                    span.advantages-item__text Скорость выполнения практических заданий
                    .section-content__item.section-content__item_img
                        img(src='img/allthedata.svg')
section.section.section-import.section-black
    .container
        .section-content.section__wrapper.section__wrapper_small
            .section-content__grid.section-content__grid_col-two
                .section-content__item.section-content__item_text.section-import__content
                    h2.section__title.section__title_small.section-import__title.section-black__title Перенесите данные с вашей LMS!
                    p.section__desc.section-import__desc.section-black__desc Используйте импорт курсов, чтобы быстро перенести данные из другой платформы
                    a(href='#').btn.btn-white.section-import__btn.section-black__btn Импортировать курс
                .section-content__item.section-content__item_img
                    img(src='img/filesync.svg')
section.section.section-tools.section-gray
    .container
        .section-content.section__wrapper
            .section-content__grid.section-content__grid_col-two.section-content__grid_revert
                .section-content__item.section-content__item_text.section-tools__content
                    h2.section__title.section__title_small Инструменты развития и трудоустройства
                    .section-tools__text.section-tools__content
                        p Каждый ученик имеет персональный профиль на платформе. Он содержит информацию о полученных навыках, результаты тестов, портфолио и резюме.
                        p Платформа собирает данные о специалисте, выступая в роли личного карьерного ассистента и мотивируя на профессиональное развитие.
                    p.section-tools__text.section-tools__desc Успех ваших выпускников – успех вашей школы!
                    a(href='#').btn.btn-green.section-tools__btn Подробнее
                .section-content__item.section-content__item_img
                    .section-tools__img
                        img(src='img/instruments.png')
section.section.section-gray.section-advantages
    .container
        .section-content.section__wrapper
            h2.section__title.section__title_small Преимущества работы с MOST Technology
            .section-content__grid.section-content__grid_col-two
                .section-content__item.section-content__item_text
                    .section__content
                        ul.advantages-list
                            li.advantages-list__item.advantages-item
                                span.advantages-item__icon
                                    +icon('unionfunc')
                                span.advantages-item__text Объединяет функционал LMS и CRM-системы
                            li.advantages-list__item.advantages-item
                                span.advantages-item__icon
                                    +icon('ui')
                                span.advantages-item__text Современный UI
                            li.advantages-list__item.advantages-item
                                span.advantages-item__icon
                                    +icon('tooldevelop')
                                span.advantages-item__text Инструмент для развития карьеры студентов (Профиль студента)
                            li.advantages-list__item.advantages-item
                                span.advantages-item__icon
                                    +icon('secury')
                                span.advantages-item__text Защита персональных данных
                            li.advantages-list__item.advantages-item
                                span.advantages-item__icon
                                    +icon('tech-support')
                                span.advantages-item__text Техническая поддержка клиентов
                            li.advantages-list__item.advantages-item
                                span.advantages-item__icon
                                    +icon('customplatform')
                                span.advantages-item__text Кастомизация платформы (цветовая гамма, логотип)
                        a(href='#').btn.btn-border-white.section-advantages__btn Получить демо-доступ
                .section-content__item.section-content__item_img
                    img(src='img/creativeteam.svg')
section.section.section-gray
    .container
        .section-content.section__wrapper
            .section-content__grid.section-content__grid_col-two.section-content__grid_revert
                .section-content__item.section-content__item_text
                    h2.section__title.section__title_small MOST понравится вашей IT-команде
                    .section__content
                        ul.advantages-list
                            li.advantages-list__item.advantages-item
                                span.advantages-item__icon
                                    +icon('unionfunc')
                                span.advantages-item__text Сквозное шифрование данных
                            li.advantages-list__item.advantages-item
                                span.advantages-item__icon
                                    +icon('ui')
                                span.advantages-item__text Технология единого входа (SSO)
                            li.advantages-list__item.advantages-item
                                span.advantages-item__icon
                                    +icon('tooldevelop')
                                span.advantages-item__text Резервное копирование данных
                            li.advantages-list__item.advantages-item
                                span.advantages-item__icon
                                    +icon('secury')
                                span.advantages-item__text Защита персональных данных (GDPR, CPPA, 152-ФЗ РФ)
                .section-content__item.section-content__item_img
                    img(src='img/security.svg')
section.section.section-black.section-introduction
    .container
        .section-content.section__wrapper.section__wrapper_small
            .section-introduction__img
                img(src='img/introduction.png')
            .section-content__item.section-content__item_text.section-black__content
                h2.section__title.section__title_small.section-black__title.section-introduction__title Внедрите MOST Technology за 14 дней
                p.section__desc.section-black__desc.section-introduction__desc Станьте первым и получите бесплатный период на 6 месяцев
                .section-introduction__btns
                    a(href='#').btn.btn-white.btn-border-green.section-black__btn.section-introduction__btn Запросить демо
                    a(href='#').btn.btn-white.section-black__btn.section-introduction__btn Видеокурс по функционалу
                ul.section-introduction__list.introduction-list
                    li.introduction-list__item Видеокурс по функционалу
                    li.introduction-list__item Техническая поддержка 24/7
                    li.introduction-list__item Подробные инструкции для пользователя

section.section-gray.section-pricing
    .container
        .section__wrapper.section-pricing__wrapper
            h2.section__title Pricing
            .pricing-grid.section-pricing__grid
                .pricing-grid__item.pricing-item
                    .pricing-item__wrapper
                        .pricing-item__header
                            .pricing-item__icon
                                +icon('pricing-1')
                            p.pricing-item__plan Plan 1
                            p.pricing-item__price <span>€20</span> /Month
                        .pricing-item__content
                            a(href='#').btn.pricing-item__btn Try for free
                            ul.green-list
                                each el in ['3 months free trial','1 teacher and 1 admin account','10 students included (+$1 per additional 10 students)','10 GB storage (+$1 per additional 10 GB)','1 campus locations']
                                    li.green-list__item=el
                .pricing-grid__item.pricing-item
                    .pricing-item__wrapper
                        .pricing-item__header
                            .pricing-item__icon
                                +icon('pricing-2')
                            p.pricing-item__plan Plan 2
                            p.pricing-item__price <span>€45</span> /Month
                        .pricing-item__content
                            a(href='#').btn.pricing-item__btn Try for free
                            ul.green-list
                                each el in ['3 months free trial','10 teachers included (+$3 per additional teacher)','100 students included (+$1 per additional 10 students)','50 GB storage (+$1 per additional 10 GB)','Manual invoices','2 campus locations (+$20 per additional location)','Course curriculum builder','Multiple courses in a package','Custom payment gateway integration* (Fee required)','Custom email marketing integration* (Fee required)']
                                    li.green-list__item=el
                .pricing-grid__item.pricing-item
                    .pricing-item__wrapper
                        .pricing-item__header
                            .pricing-item__icon
                                +icon('pricing-3')
                            p.pricing-item__plan Plan 3
                            p.pricing-item__price <span>€150</span> /Month
                        .pricing-item__content
                            a(href='#').btn.pricing-item__btn Try for free
                            ul.green-list
                                each el in ['3 months free trial','30 teachers included (+$3 per additional teacher)','1000 students included (+$1 per additional 10 students)','100 GB storage (+$1 per additional 10 GB)','5 campus locations (+$20 per additional location)','Course catalog with online enrollment','Library/inventory management','Manual invoices','Course curriculum builder','Multiple courses in a package','Custom payment gateway integration* (Fee required)','Custom email marketing integration* (Fee required)','Access to API for custom web* (Fee required)']
                                    li.green-list__item=el
                .pricing-grid__item.pricing-item
                    .pricing-item__wrapper
                        .pricing-item__header
                            .pricing-item__icon
                                +icon('pricing-4')
                            p.pricing-item__plan Enterprise
                            p.pricing-item__price <span>let's talk</span>
                        .pricing-item__content
                            a(href='#').btn.pricing-item__btn Contact us
                            p.pricing-item__text Looking for a bigger plan or custom solution?
section.section.section-articles.section-gray
    .container
        .section__wrapper
            .section__info
                h2.section__title.section__title_small Мы показываем, как работают инновации в EdTech и HR
            .section-articles__content
                .articles-nav
                    .articles-nav__item.active
                        a(href='#').articles-nav__link Online education
                    each el in ['Educators Marketing','Recruitment marketing','Talent growth','Metrics']
                        .articles-nav__item
                            a(href='#').articles-nav__link=el
                .articles-grid.section-articles__grid
                    .articles-grid__item
                        a(href='#').preview-article
                            .preview-article__wrapper
                                .preview-article__img
                                    img(src='img/article-2.jpg')
                                .preview-article__info
                                    .preview-article__header
                                        p.preview-article__author Molly Jackson
                                        time.preview-article__date 23.03.2021
                                    .preview-article__content
                                        p.preview-article__label How to design an online course
                                        p.preview-article__text Online learning has taken over the world and has become our new norm. For students, this is a convenient format that allows.
                                    .preview-article__footer
                                        .preview-article__btn.btn.btn-black  Recruitment marketing
                    .articles-grid__item
                        a(href='#').preview-article
                            .preview-article__wrapper
                                .preview-article__img
                                    img(src='img/article-3.jpg')
                                .preview-article__info
                                    .preview-article__header
                                        p.preview-article__author Molly Jackson
                                        time.preview-article__date 23.03.2021
                                    .preview-article__content
                                        p.preview-article__label How to design an online course
                                        p.preview-article__text Online learning has taken over the world and has become our new norm. For students, this is a convenient format that allows.
                                    .preview-article__footer
                                        .preview-article__btn.btn.btn-black  Recruitment marketing
                    .articles-grid__item
                        a(href='#').preview-article
                            .preview-article__wrapper
                                .preview-article__img
                                    img(src='img/article-4.jpg')
                                .preview-article__info
                                    .preview-article__header
                                        p.preview-article__author Molly Jackson
                                        time.preview-article__date 23.03.2021
                                    .preview-article__content
                                        p.preview-article__label How to design an online course
                                        p.preview-article__text Online learning has taken over the world and has become our new norm. For students, this is a convenient format that allows.
                                    .preview-article__footer
                                        .preview-article__btn.btn.btn-black  Recruitment marketing

            a(href='#').btn.btn-black.section-articles__btn Read more
