section.section.section-hero
    .container
        .section-hero__wrapper
            .section-hero__img
            .section-hero__form.hero-form.trigger-block-wrapper
                .hero-form__block.hero-form__block_front.trigger-block-item
                    h1.hero-form__title Develop and search for talents!
                    p.hero-form__desc.section__desc Get new experience for learning and hiring with AI-based platform.
                    a(href='#').hero-form__btn.btn.btn-black.trigger-block-link Request presentation
                form.hero-form__block.hero-form__block_back.trigger-block-item(action='mail.php' method='POST')
                    .hero-form__close.trigger-block-link
                    p.hero-form__title.hero-form__title-sub Request a presentation
                    .hero-form__inputs
                        input(type='text' placeholder='Your name').hero-form__input
                    .hero-form__inputs
                        input(type='text' placeholder='Email').hero-form__input
                    input(type='submit' value='Request presentation').hero-form__submit.btn.btn-black
