section.section.section-role
    .container
        .section__wrapper
            .section__info
                h2.section__title MOST technology provides brand new way to teaching, growing and hiring talents
                p.section__desc Choose your role:
            .section-role__content
                .role-grid
                    a(href='#').role-grid__item.role-item
                        .role-item__wrapper
                            .role-item__img
                                img(src='img/role-img-2.svg')
                            .role-item__content
                                p.role-item__title Schools
                                p.role-item__desc Manage your content, attract customers <br> and provide best education experience.
                    a(href='#').role-grid__item.role-item
                        .role-item__wrapper
                            .role-item__img
                                img(src='img/role-img-1.svg')
                            .role-item__content
                                p.role-item__title.role-item__title_blue Employers
                                p.role-item__desc Take a fresh look at hiring process. <br> Increase your time-to-hire metric.

