section.section.section-skills
    .container
        .section__wrapper
            .section__info.section-skills__info
                h2.section__title.section-skills__title Hard skills and soft skills in the center stage!
            .section-skills__content
                .section-skills__desc
                    p.section__desc The platform builds a Talent Profile on the study stage, enriches it via tests and assessments and gets talent ready for the labor market.
                .section-skills__box
                    .section-skills__item
                        p.section-skills__text The technical knowledge or hard skills are assessed by an educational institution.
                    .section-skills__item
                        p.section-skills__text The MOST platform tests candidates for personal qualities, and then uses artificial intelligence to match them to recruiters need.
