section.section.section-text.section-terms
    .container
        .section__wrapper
            .section__info.section-text__info
                .section-text__desc
                    p Last updated: June 2021
                h2.section__title Terms of Use and End User License Agreement
            .section-text__content
                .text-block
                    .text-block__item
                        h4 I. INTRODUCTION
                        p These Terms of Use and End User License Agreement (collectively, the “Agreement”) together with all the documents referred to in it constitute a legally binding agreement made between you as a natural person or company representative person (“you”, “your” or “user”) and MOST Technologies OÛ (“we,” “us” or “our”, an Estonian limited liability company registered with the Trade Register of the Chamber of Commerce under no. 16132063), concerning your access to and use of “MOST” software platform (the “Platform”). The Platform’s title may vary in countries and is subject to change without specific notice.
                        p Please read this Agreement carefully before you use the Platform.
                        p It is important that you read and understand this Agreement as by using the Platform you indicate that you have read, understood, agreed and accepted the Agreement which takes effect on the date on which you use the Platform. By using the Platform you agree to abide by this Agreement.
                        p If you do not agree with (do not accept) this Agreement, or if you do not agree at least with one of the provisions of this Agreement, you are not authorized to, and you may not access, use the Platform and you must promptly discontinue using the Platform.
                    .text-block__item
                        h4 II. CHANGES TO THIS AGREEMENT
                        p We reserve the right, at our sole discretion, to make changes or modifications to this Agreement at any time and for any reason. We will keep you informed about any changes by updating this Agreement and you waive any right to receive specific notice of each such <br> change. It is your responsibility to periodically review this Agreement to stay informed of updates. You will be subject to, and will be deemed to be aware of and to have accepted, the changes in any revised Agreement by your continued use of the Platform after the date such revised Agreement is posted.
                    .text-block__item
                        h4 III. ELIGIBILITY
                        p In order to use the Platform, you must:
                        ol
                            li be at least eighteen (18) years old and able to legally undergo contractual obligations;
                            li complete the registration process;
                            li agree to these Terms;
                            li provide true, complete, and up-to-date contact and billing information; and
                            li not be – either individually or as part of a group, entity or state, subject to EU, US and UN sanctions, embargoes and bans that prohibit the use of this Platform
                        p By using the Platform, you represent and warrant that you meet all the requirements listed <br> above, and that you won’t use the Platform in a way that violates any laws or regulations. Note that by representing and warranting, you are making a legally enforceable promise.
                        p MOST Technologies may refuse service, close accounts of any users, and change eligibility requirements at any time.
                    .text-block__item
                        h4 IV. SUBSCRIPTIONS
                        p Some parts of the Service are billed on a subscription basis (“Subscription(s)”). You will be billed in advance on a recurring and periodic basis (“Billing Cycle”). Billing Cycles are set either on a monthly or lump sum basis, depending on the type of subscription plan you select when purchasing a Subscription. A minimum number of Billing Cycles may apply to a Subscription.
                        p At the end of each Billing Cycle, your Subscription will automatically renew under the exact same conditions unless you cancel it or MOST Technologies cancels it. You may cancel your Subscription renewal either through your online account settings page or by contacting MOST Technologies customer support team, taking into account a notice period of at least 30 days.
                        p A valid payment method, including a credit card, is required to process the payment for your Subscription. You shall provide MOST Technologies with accurate and complete billing information including full name, address, state, zip code, country, telephone number, and a valid payment method information. By submitting such payment information, you automatically authorize MOST Technologies to charge all Subscription fees incurred through your account to any such payment instruments.
                        p Should automatic billing fail to occur for any reason, MOST Technologies will issue an electronic invoice indicating that you must proceed manually, within a certain deadline date, with the full payment corresponding to the billing period as indicated on the invoice.
                    .text-block__item
                        h4 V. FEE CHANGES AND REFUNDS
                        p MOST Technologies, in its sole discretion and at any time, may modify the Subscription fees for the Subscriptions. Any Subscription fee change shall become effective at the end of the then-current Billing Cycle.
                        p MOST Technologies shall provide you with reasonable prior notice of any change in Subscription fees to give you an opportunity to terminate your Subscription before such modifications become effective.
                        p Your continued use of the Platform after the modification of the Subscription fee comes into effect constitutes your agreement to pay the modified Subscription fee amount.
                        p Certain refund requests for Subscriptions may be considered by MOST Technologies on a case-by-case basis and granted at sole discretion of MOST Technologies.
                    .text-block__item
                        h4 VI. END USER LICENSE AGREEMENT
                        p By using the Platform, you undertake to respect our intellectual rights (intellectual rights related to the Platform’s source code, UI/UX design, content material, copyright and trademarks, hereinafter referred to as the “Intellectual Property Rights”) as well as those <br> owned by third parties.
                        p As long as you keep using the Platform, we grant you a limited, non-exclusive, nontransferable non-sublicensable, non-assignable and revocable right to access and use the Platform pursuant to this Agreement (the “License”).
                        p You are bound to respect the copyrighted material within the Platform, you cannot sell pictures or other information available in the Platform.
                        p The source code, design and content, including information, photographs, illustrations, artwork and other graphic materials, sounds, music or video (hereinafter – the “works”) as well as names, logos and trademarks (hereinafter – “means of individualization”) within the Platform are protected by copyright laws and other relevant laws and/or international treaties, and belong to us and/or our partners and/or contracted third parties, as the case may be.
                        p These works and means of individualization may not be copied, reproduced, retransmitted, distributed, disseminated, sold, published, broadcasted or circulated whether in whole or in part, unless expressly permitted by us and/or our partners and/or contracted third parties, as the case may be.
                        p All rights, title and interest in and to the Platform and its content, works and means of individualization as well as its functionalities (1) are the exclusive property of MOST Technologies and/or our partners and/or contracted third parties, (2) are protected by the <br> applicable international and national legal provisions, and (3) are under no circumstances transferred (assigned) to you in full or in part within the context of the license herewithin.
                        p We will not hesitate to take legal action against any unauthorized use of our trademarks, names or symbols to protect and restore our rights. All rights not expressly granted herein are reserved. Other product and company names mentioned herein may also be the trademarks of their respective owners.
                    .text-block__item
                        h4 VII. PROHIBITED BEHAVIOUR
                        p You agree not to use the Platform in any way that:
                        ul
                            li is unlawful, illegal or unauthorized;
                            li is defamatory of any other person;
                            li is obscene or offensive;
                            li infringes any copyright, database right or trademark of any other person;
                            li You must not use the Platform to assess candidates for any jobs which are unlawful, unsafe, offensive, discriminatory, or inappropriate.
                            li You must not use the Platform to solicit information from candidates that could be used to discriminate against them.
                            li advocates, promotes or assists any unlawful act such as (by way of example only) copyright infringement or computer misuse.
                        p You shall not make the Platform available to any third parties. In addition, you shall not modify, translate into other languages, reverse engineer, decompile, disassemble or otherwise create derivative works from the Platform or any documentation concerning the Platform.
                        p You shall not transfer, lend, rent, lease, distribute the Platform, or use it for providing services to a third party, or grant any rights to the Platform or any documentation concerning the Platform to a third party.
                        p Misuse of any trademarks or any other content displayed on the Platform is prohibited.
                        p You shall not copy and/or duplicate and/or distribute and/or publish and/or use any content in the Platform, directly or indirectly, by way of a violation of our Intellectual Property Rights.
                        p Moreover, you shall not make any attempts to use the Platform or part thereof for malicious intentions.
                        p Also we are not responsible for the way you use the Platform.
                        p It is clarified that we may adopt, against a user who violated the present Agreement, any legal measures at our disposal pursuant to the applicable laws.
                        p All disputes arising from the usage of the Platform, shall be governed by and construed in accordance with the laws of the Estonia, and shall be submitted to the sole jurisdiction of the competent courts of Harjumaa, Estonia.
                    .text-block__item
                        h4 VIII. ACCOUNTS
                        p When you create an account with us, you must provide us with information that is accurate, complete, and current at all times. Failure to do so constitutes a breach of the Terms, which may result in termination of your account on our Platform.
                        p You are responsible for safeguarding the password that you use to access the Platform and for any activities or actions under your password, whether your password is with our Platform or a third-party service.
                        p You agree not to disclose your password to any third party. You must notify us immediately upon becoming aware of any breach of security or unauthorized use of your account.
                        p You may not use as a username the name of another person or entity or that is not lawfully available for use, a name or trademark that is subject to any rights of another person or entity other than you without appropriate authorization, or a name that is otherwise offensive, vulgar or obscene.
                    .text-block__item
                        h4 IX. LINKS TO OTHER WEB SITES
                        p Our Platform may contain links to third-party web sites or services that are not owned or controlled by MOST Technologies.
                        p MOST Technologies has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third-party web sites or services. You further acknowledge and agree that we shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such content, goods or services available on or through any such web sites or services.
                        p We strongly advise you to read the terms of use and privacy policies of any third-party web sites or services that you visit.
                    .text-block__item
                        h4 X. DATA PROTECTION
                        p You acknowledge that information about you and the Content posted will be collected, held, and used by us in accordance with our Privacy Policy.
                    .text-block__item
                        h4 XI. TERMINATION
                        p We may terminate or suspend your account, without prior notice or liability, for any reason, including without limitation if you breach the Terms.
                        p Upon termination, your right to use the Platform shall immediately cease. If you wish to terminate your account, you may simply discontinue using the Platform.
                    .text-block__item
                        h4 XII. LIMITATION OF LIABILITY
                        p IN NO EVENT SHALL WE BE LIABLE FOR DAMAGES OF ANY TYPE, WHETHER DIRECT OR INDIRECT, ARISING OUT OF OR IN ANY WAY RELATED TO THE APP AND SERVICES PROVIDED BY THE APP. WE SHALL NOT BE LIABLE UNDER ANY CIRCUMSTANCES FOR ANY SPECIAL, CONSEQUENTIAL, INCIDENTAL, EXEMPLARY OR PUNITIVE DAMAGES, OR LOSS OF PROFIT OR REVENUES, EVEN IF WE HAVE BEEN SPECIFICALLY ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. WE SHALL NOT BE LIABLE UNDER ANY CIRCUMSTANCES <br> FOR DAMAGES ARISING OUT OF OR IN ANY WAY RELATED TO PRODUCTS, SERVICES AND/OR INFORMATION OFFERED OR PROVIDED BY ANY THIRDPARTIES AND ACCESSED THROUGH THE APP OR BY ANY OTHER MEANS. YOU ALSO SPECIFICALLY ACKNOWLEDGE THAT WE ARE NOT LIABLE FOR COSTS OR DAMAGES ARISING OUT OF PRIVATE OR GOVERNMENTAL LEGAL ACTIONS