section.section.section-blog.section-gray
    .container
        .section__wrapper
            .section__info
                h2.section__title Our blog
            .section-articles__content
                .articles-nav
                    .articles-nav__item.active
                        a(href='#').articles-nav__link All categories
                    each el in ['Knowledge for Schools','Knowledge for Employers and Recruiters','About our team','IT deep knowledge','Product updates']
                        .articles-nav__item
                            a(href='#').articles-nav__link=el
                .articles-grid.section-articles__grid
                    .articles-grid__item
                        a(href='#').preview-article
                            .preview-article__wrapper
                                .preview-article__img
                                    img(src='img/article-2.jpg')
                                .preview-article__info
                                    .preview-article__header
                                        p.preview-article__author Molly Jackson
                                        time.preview-article__date 23.03.2021
                                    .preview-article__content
                                        p.preview-article__label How to design an online course
                                        p.preview-article__text Online learning has taken over the world and has become our new norm. For students, this is a convenient format that allows.
                                    .preview-article__footer
                                        .preview-article__btn.btn.btn-grey  Recruitment marketing
                    .articles-grid__item
                        a(href='#').preview-article
                            .preview-article__wrapper
                                .preview-article__img
                                    img(src='img/article-2.jpg')
                                .preview-article__info
                                    .preview-article__header
                                        p.preview-article__author Molly Jackson
                                        time.preview-article__date 23.03.2021
                                    .preview-article__content
                                        p.preview-article__label How to design an online course
                                        p.preview-article__text Online learning has taken over the world and has become our new norm. For students, this is a convenient format that allows.
                                    .preview-article__footer
                                        .preview-article__btn.btn.btn-grey  Recruitment marketing
                    .articles-grid__item
                        a(href='#').preview-article
                            .preview-article__wrapper
                                .preview-article__img
                                    img(src='img/article-3.jpg')
                                .preview-article__info
                                    .preview-article__header
                                        p.preview-article__author Molly Jackson
                                        time.preview-article__date 23.03.2021
                                    .preview-article__content
                                        p.preview-article__label How to design an online course
                                        p.preview-article__text Online learning has taken over the world and has become our new norm. For students, this is a convenient format that allows.
                                    .preview-article__footer
                                        .preview-article__btn.btn.btn-grey  Recruitment marketing
                    .articles-grid__item
                        a(href='#').preview-article
                            .preview-article__wrapper
                                .preview-article__img
                                    img(src='img/article-2.jpg')
                                .preview-article__info
                                    .preview-article__header
                                        p.preview-article__author Molly Jackson
                                        time.preview-article__date 23.03.2021
                                    .preview-article__content
                                        p.preview-article__label How to design an online course
                                        p.preview-article__text Online learning has taken over the world and has become our new norm. For students, this is a convenient format that allows.
                                    .preview-article__footer
                                        .preview-article__btn.btn.btn-grey  Recruitment marketing
                    .articles-grid__item
                        a(href='#').preview-article
                            .preview-article__wrapper
                                .preview-article__img
                                    img(src='img/article-2.jpg')
                                .preview-article__info
                                    .preview-article__header
                                        p.preview-article__author Molly Jackson
                                        time.preview-article__date 23.03.2021
                                    .preview-article__content
                                        p.preview-article__label How to design an online course
                                        p.preview-article__text Online learning has taken over the world and has become our new norm. For students, this is a convenient format that allows.
                                    .preview-article__footer
                                        .preview-article__btn.btn.btn-grey  Recruitment marketing
                    .articles-grid__item
                        a(href='#').preview-article
                            .preview-article__wrapper
                                .preview-article__img
                                    img(src='img/article-3.jpg')
                                .preview-article__info
                                    .preview-article__header
                                        p.preview-article__author Molly Jackson
                                        time.preview-article__date 23.03.2021
                                    .preview-article__content
                                        p.preview-article__label How to design an online course
                                        p.preview-article__text Online learning has taken over the world and has become our new norm. For students, this is a convenient format that allows.
                                    .preview-article__footer
                                        .preview-article__btn.btn.btn-grey  Recruitment marketing
                    .articles-grid__item.articles-grid__item_banner
                        .articles-banner
                            .articles-banner__wrapper
                                .articles-banner__content
                                    h2.articles-banner__title.section__title.section__title_small В поисках идей и вдохновения?
                                    p.articles-banner__text.section__desc Подпишитесь, чтобы получать регулярные обновления по электронной почте.
                                    form.articles-banner__form.articles-form
                                        .articles-form__input
                                            input(type='text' placeholder='Ваша почта')
                                        .articles-form__submit
                                            input(type='submit' value='Подписаться').btn.btn-white.articles-form__submit-input
                                        .articles-form__social
                                            .social-list
                                                a(href='#').social-list__item.social-list__item_li
                                                    <svg viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <rect x="2" y="2" width="28" height="28" rx="14" fill="#F9F9F9"/>
                                                    <path d="M12.6186 9.69215C12.6186 10.6267 11.8085 11.3843 10.8093 11.3843C9.81004 11.3843 9 10.6267 9 9.69215C9 8.7576 9.81004 8 10.8093 8C11.8085 8 12.6186 8.7576 12.6186 9.69215Z" fill="#232323"/>
                                                    <path d="M9.24742 12.6281H12.3402V22H9.24742V12.6281Z" fill="#232323"/>
                                                    <path d="M17.3196 12.6281H14.2268V22H17.3196C17.3196 22 17.3196 19.0496 17.3196 17.2049C17.3196 16.0976 17.6977 14.9855 19.2062 14.9855C20.911 14.9855 20.9008 16.4345 20.8928 17.5571C20.8824 19.0244 20.9072 20.5219 20.9072 22H24V17.0537C23.9738 13.8954 23.1508 12.4401 20.4433 12.4401C18.8354 12.4401 17.8387 13.1701 17.3196 13.8305V12.6281Z" fill="#232323"/>
                                                    </svg>
                                                a(href='#').social-list__item.social-list__item_fb
                                                    <svg viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <circle cx="16" cy="16" r="14" fill="#F9F9F9"/>
                                                    <path d="M21.2137 20.2816L21.8356 16.3301H17.9452V13.767C17.9452 12.6857 18.4877 11.6311 20.2302 11.6311H22V8.26699C22 8.26699 20.3945 8 18.8603 8C15.6548 8 13.5617 9.89294 13.5617 13.3184V16.3301H10V20.2816H13.5617V29.8345C14.2767 29.944 15.0082 30 15.7534 30C16.4986 30 17.2302 29.944 17.9452 29.8345V20.2816H21.2137Z" fill="#232323"/>
                                                    </svg>
                                                a(href='#').social-list__item.social-list__item_tg
                                                    <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <circle cx="16.9991" cy="16.9972" r="12.005" fill="#F9F9F9" stroke="#F9F9F9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M14.4328 21.9409L13.0419 18.0857L9.9393 17.1173C9.77905 17.0682 9.66774 16.9226 9.66232 16.7551C9.65689 16.5875 9.75855 16.4351 9.91529 16.3757L21.7215 11.8218C21.9223 11.7455 22.1487 11.7841 22.3128 11.9227C22.4769 12.0613 22.5529 12.278 22.5112 12.4887L20.5277 21.8366C20.4738 22.0929 20.2931 22.3041 20.0483 22.3969C19.8034 22.4898 19.5281 22.4516 19.3179 22.2955L16.5007 20.2146L14.4328 21.9409Z" fill="#232323" stroke="#232323" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                    </svg>
                                .articles-banner__img
                                    img(src='img/article-banner.jpg')
                    .articles-grid__item
                        a(href='#').preview-article
                            .preview-article__wrapper
                                .preview-article__img
                                    img(src='img/article-2.jpg')
                                .preview-article__info
                                    .preview-article__header
                                        p.preview-article__author Molly Jackson
                                        time.preview-article__date 23.03.2021
                                    .preview-article__content
                                        p.preview-article__label How to design an online course
                                        p.preview-article__text Online learning has taken over the world and has become our new norm. For students, this is a convenient format that allows.
                                    .preview-article__footer
                                        .preview-article__btn.btn.btn-grey  Recruitment marketing
                    .articles-grid__item
                        a(href='#').preview-article
                            .preview-article__wrapper
                                .preview-article__img
                                    img(src='img/article-2.jpg')
                                .preview-article__info
                                    .preview-article__header
                                        p.preview-article__author Molly Jackson
                                        time.preview-article__date 23.03.2021
                                    .preview-article__content
                                        p.preview-article__label How to design an online course
                                        p.preview-article__text Online learning has taken over the world and has become our new norm. For students, this is a convenient format that allows.
                                    .preview-article__footer
                                        .preview-article__btn.btn.btn-grey  Recruitment marketing
                    .articles-grid__item
                        a(href='#').preview-article
                            .preview-article__wrapper
                                .preview-article__img
                                    img(src='img/article-3.jpg')
                                .preview-article__info
                                    .preview-article__header
                                        p.preview-article__author Molly Jackson
                                        time.preview-article__date 23.03.2021
                                    .preview-article__content
                                        p.preview-article__label How to design an online course
                                        p.preview-article__text Online learning has taken over the world and has become our new norm. For students, this is a convenient format that allows.
                                    .preview-article__footer
                                        .preview-article__btn.btn.btn-grey  Recruitment marketing
                    .articles-grid__item
                        a(href='#').preview-article
                            .preview-article__wrapper
                                .preview-article__img
                                    img(src='img/article-2.jpg')
                                .preview-article__info
                                    .preview-article__header
                                        p.preview-article__author Molly Jackson
                                        time.preview-article__date 23.03.2021
                                    .preview-article__content
                                        p.preview-article__label How to design an online course
                                        p.preview-article__text Online learning has taken over the world and has become our new norm. For students, this is a convenient format that allows.
                                    .preview-article__footer
                                        .preview-article__btn.btn.btn-grey  Recruitment marketing
                    .articles-grid__item
                        a(href='#').preview-article
                            .preview-article__wrapper
                                .preview-article__img
                                    img(src='img/article-2.jpg')
                                .preview-article__info
                                    .preview-article__header
                                        p.preview-article__author Molly Jackson
                                        time.preview-article__date 23.03.2021
                                    .preview-article__content
                                        p.preview-article__label How to design an online course
                                        p.preview-article__text Online learning has taken over the world and has become our new norm. For students, this is a convenient format that allows.
                                    .preview-article__footer
                                        .preview-article__btn.btn.btn-grey  Recruitment marketing
                    .articles-grid__item
                        a(href='#').preview-article
                            .preview-article__wrapper
                                .preview-article__img
                                    img(src='img/article-3.jpg')
                                .preview-article__info
                                    .preview-article__header
                                        p.preview-article__author Molly Jackson
                                        time.preview-article__date 23.03.2021
                                    .preview-article__content
                                        p.preview-article__label How to design an online course
                                        p.preview-article__text Online learning has taken over the world and has become our new norm. For students, this is a convenient format that allows.
                                    .preview-article__footer
                                        .preview-article__btn.btn.btn-grey  Recruitment marketing
                .articles-pagination
                    .articles-pagination__wrapper
                        .pagination
                            .pagination__wrapper.pagination-wrapper
                                .pagination-wrapper__item
                                    .pagination-item.active
                                        a(href='#').pagination-item__link 1
                                .pagination-wrapper__item
                                    .pagination-item
                                        a(href='#').pagination-item__link 2
                                .pagination-wrapper__item
                                    .pagination-item
                                        p.pagination-item__text ...
                                .pagination-wrapper__item
                                    .pagination-item
                                        a(href='#').pagination-item__link 55