section.section.section-form
    .container
        .section__wrapper
            .section-form__wrapper
                .section-form__wrapper-item
                    h2.section__title.section__title_small <span>Hey,</span> <br> are you ready to have <br> a new experience <br> in eLearning?
                    p.section__desc.section-form__desc After you submit the form, please check your email for a confirmation message. Then someone from MOST Technology will contact you within 24 hours.
                .section-form__wrapper-item
                    form.section-form__item
                        .section-form__input
                            input(placeholder='Name')
                        .section-form__input
                            input(placeholder='Email')
                        .section-form__input
                            input(placeholder='Email')
                        .section-form__submit
                            input(value='Request demo' type='submit').btn.btn-green.section-form__btn
                        p.section-form__text By clicking "Request a demo", <br> you agree to our <a href='#'>Privacy Policy</a>.