section.section.section-article
    .container
        .section__wrapper
            .section-article__grid
                .section-article__grid-item
                    .section-article__breadcrumbs
                        .breacrumbs
                            ul.breadcrumbs__list.breadcrumbs-list
                                li.breadcrumbs-list__item
                                    a(href='#').breadcrumbs-list__link Blog
                                li.breadcrumbs-list__item
                                    a(href='#').breadcrumbs-list__link Knowledge for Employers and Recruiters
                    .section-article__content
                        h2.section__title.section__title_small.section-article__title Как создать онлайн-курс
                        p.section-article__desc.section__desc Онлайн-обучение захватило мир и стало нашей новой нормой.
                        .section-article__info
                            a(href='#').section-article__author Molly Jackson
                            p.section-article__date 20.03.2021
                        a(href='#').section-article__btn Knowledge for Employers and Recruiters
                .section-article__grid-item
                    .section-article__img
                        img(src='img/article-5.png')
section.section.section-step.section-gray.section-text
    .container.section-step__container
        .section__wrapper
            .section-step__wrapper
                aside.aside-step.section-step__aside
                    .aside-step__content
                        p.aside-step__content-title Table of contents
                        ul.aside-step__list
                            each el in ['Шаг №1. Определитесь с темой','Шаг №2. Изучите целевую аудиторию','Шаг №3. Сформулируйте ценность ваших курсов','Шаг №4. Продумайте структуру и составьте план занятий','Шаг №5. Продумайте форматы контента ','Шаг №6. Выберите платформу для онлайн-школы','Шаг №7. Разработайте маркетинговую стратегию перед запуском']
                                li.aside-step__list-item
                                    a(href='#').aside-step__list-link=el
                    a(href='#').btn.btn-white.aside-step__btn Назад
                .section-step__content
                    .article-block.section-step__block
                        h2.article-block__title Как создать успешный онлайн-курс с нуля за 7 шагов
                        .article-block__text
                            .text-block
                                p Онлайн-обучение захватило мир и стало нашей новой нормой. Для студентов это удобный формат, который позволяет быть мобильными и экономить время. А для школ –– способ масштабировать бизнес и снизить затраты на организацию учебного процесса.
                                p Если вы планируете перевести обучение в онлайн, этот гайд будет для вас очень полезен. В нём мы подробно рассказываем о том, <span class="bold">как создать онлайн курс с нуля</span> и сделать его удобным, интерактивным и интересным.
                    .article-block.section-step__block
                        h2.article-block__title Шаг №1. Определитесь с темой
                        .article-block__text
                            .text-block
                                p Выбор темы курса зависит от двух факторов. С одной стороны, нужно обучать тому, в чём вы компетентны. С другой, важно убедиться в том, что выбранная тема будет актуальна и интересна широкому кругу людей.  Чтобы это выяснить, вы можете:
                                ul
                                    li Создать онлайн-опрос и спросить у потенциальной целевой аудитории, насколько им интересна ваша задумка.
                                    li Провести мониторинг ниши и изучить образовательные проекты конкурентов.
                                    li Проверить идею на практике. Запустите тестовую версию лендинга курса, затем посмотрите статистику и количество регистраций.
                    .article-block.section-step__block.section-step__block_white
                        h2.article-block__title.article-block__title_italic Шаг №2. Изучите целевую аудиторию
                        .article-block__text.article-block__text_italic
                            .text-block
                                p Если вы утвердили тему, можно перейти к анализу целевой аудитории. Для этого нужно ответить на несколько важных вопросов:
                                ul
                                    li Кто будет проходить ваши курсы? Какого пола и возраста эти люди, чем они увлекаются?
                                    li Какие у них боли, потребности и желания?
                                    li В каких форматах они привыкли получать новые знания? Ответ на этот вопрос поможет вам определиться с видами обучающего контента. Например, музыканты любят видео-туториалы, а ребята, изучающие естественные науки, оценят наглядные графики, таблицы и диаграммы.
                    .article-block.section-step__block
                        h2.article-block__title Шаг №3. Сформулируйте ценность ваших курсов
                        .article-block__text
                            .text-block
                                p Онлайн-обучение –– формат для дисциплинированных. Здесь никто не стоит над душой, а кураторы обычно подключаются только когда студенты начинают нещадно пропускать занятия. К сожалению, такое случается довольно часто. Учиться новому непросто и любая сложная тема способна здорово подорвать боевой дух.
                                p Чтобы люди охотно записывались на занятия и доходили до финала, вам нужно их мотивировать и заранее доносить ценность курсов. Как именно новые знания помогут изменить жизнь к лучшему? Например, если вы проводите курсы для тестировщиков, сообщите, что это самый доступный способ войти в IT-cферу и в перспективе вырасти в востребованного разработчика. А главная ценность курса по SMM в том, что он поможет получить актуальную профессию, выбирать проекты себе по душе и удалённо работать из любой точки мира.
                    .article-block.section-step__block
                        h2.article-block__title Шаг №4. Продумайте структуру и составьте план занятий
                        .article-block__text
                            .text-block
                                p Разработчики учебных программ (методисты) понимают, что детально продуманная структура приносит 80% успеха. В образовательной среде даже появилась отдельная дисциплина ––учебный дизайн. По сути, это создание архитектуры занятий. Чтобы спланировать курс, нужно заранее определить потребности студентов и удовлетворять их по мере обучения. Последовательность уроков тоже очень важна. Чтобы люди чувствовали прогресс, не забывайте усложнять задания.
                                p Составить полную картину курса и продумать план занятий вам поможет сториборд. Этот инструмент очень любят в среде сценаристов и аниматоров. Ваша задача –– разбить курс на модули и блоки, изобразить их в виде графических скетчей и расположить в хронологическом порядке. В сториборде можно отразить не только карту учебного плана, но и цели обучения, а также навыки, которые студенты будут получать после каждого занятия.
                                video()
                    .article-block.section-step__block
                        h2.article-block__title Шаг №5. Продумайте форматы контента
                        .article-block__text
                            .text-block
                                p Мы вряд ли кого-то удивим, если скажем, что лучший формат для онлайн-курсов –– это видео. Классик теории коммуникации Алан Пиз утверждает, что мы способны вспомнить всего 10% от прочитанного и 50% от увиденного. Получается, что показывать всегда эффективнее, чем рассказывать. Поэтому записать качественные видеоуроки с лектором будет отличным решением. Также стоит попробовать реанимировать уже имеющийся контент. Если вы снимали ролики для YouTube, записывали вебинары, прямые эфиры или подкасты, смело берите их на вооружение.
                                p В целом, в e-learning отлично работают любые интерактивные форматы обучения. Тесты, игры, анимация, геймифкация – всё это превращает учебу в увлекательный квест, который хочется пройти до конца.
                    .article-block.section-step__block
                        h2.article-block__title Шаг №6. Выберите платформу для онлайн-школы
                        .article-block__text
                            .text-block
                                p Сервисы для управления обучением называют LMS-платформами (learning management system). Это облачные программы, в которых можно загружать и воспроизводить контент, следить за прогрессом и проводить аналитику успеваемости студентов. Также во многих LMS-платформах есть <span>удобный конструктор онлайн школы</span>. Знаете программы, типа Tilda или Wix в которых можно построить собственный сайт? Здесь примерно тоже самое. В конструкторах можно собрать структурированный курс с красивым визуалом не привлекая команду разработчиков. Для этого в сервисах есть шаблоны блоков для разных типов обучающего контента –– тестов, тренажёров, статей, видеоуроков.
                                p В некоторых программах есть дополнительные полезные функции. Например, в платформе <a href='#'>MOST Technology</a> кроме конструктора есть личный кабинет для преподавателей и студентов, встроенный инструмент для рассылки электронных писем и CRM-система.
                                img(src='img/article-3.jpg')
                    .article-block.section-step__block
                        h2.article-block__title Шаг №7. Разработайте маркетинговую стратегию перед запуском
                        .article-block__text
                            .text-block
                                p Онлайн формат позволяет не ограничивать количество студентов. Чем больше людей узнают о вашем курсе, тем больше прибыли вы получите. Мы собрали способы, которые точно стоит задействовать при продвижении.
                                ul
                                    li Рассказывайте о вашем курсе в социальных сетях
                                    li Проведите бесплатный вебинар на полезную для целевой аудитории тему и расскажите про преимущества вашего курса
                                    li Отправляйте потенциальным студентам письма с анонсами курсов в емейл-рассылках
                                    li Запустите рекламу Google Ads
                                    li Добавьте на сайт попап с формой регистрации на курс
                                p Подведём итоги.
                                p Чтобы перевести обучение в онлайн, нужно двигаться последовательно. Начните с поиска темы, которая заинтересует потенциальных студентов, проведите анализ ЦА и конкурентов и сформулируйте ценность вашего проекта. Уделите максимум внимания разработке структуры курса и плана занятий и продумайте форматы контента, которые будете использовать. Проведите мониторинг LMS платформ для обучения, определите функции, которые вам нужны и выберите подходящий вариант. А перед запуском курса задействуйте максимум площадок для продвижения.
                                p Надеемся, наша пошаговая инструкция поможет вам успешно запустить курсы. А если вы хотите больше узнать о возможностях платформы MOST Technology напишите нам, и мы ответим на все вопросы.
                    .article-block.section-step__block
                        .article-banner
                            .article-banner__wrapper
                                .article-banner__content
                                    p.article-banner__title Внедрите MOST Technology за 14 дней
                                    p.article-banner__desc Станьте первым и получите бесплатный период на 6 месяцев
                                    a(href='#').btn.btn-green.article-banner__btn  Request a demo
                                .article-banner__img
                                    img.article-banner__img-desc(src='img/article-banner.jpg')
section.section.section-subscribe
    .section__wrapper
        .section-subscribe__wrapper
            .container
                .section-subscribe__wrapper-item
                    h2.section__title.section-subscribe__title Subscribe to learn more
                    p.section-subscribe__desc By clicking “Subscribe” you agree to MOST Technology Privacy Policy and consent to MOST Technology using your contact data for newsletter purposes.
                    form.section-subscribe__form.articles-form
                        .articles-form__input.articles-form__input_grey
                            input(type='text' placeholder='Enter your e-mail')
                        .articles-form__submit
                            input(type='submit' value='Subscribe').btn.btn-black.articles-form__submit-input
                        .articles-form__social
                            .social-list
                                a(href='#').social-list__item.social-list__item_li
                                    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect x="2" y="2" width="28" height="28" rx="14" fill="#232323"/>
                                    <path d="M12.6186 9.69215C12.6186 10.6267 11.8085 11.3843 10.8093 11.3843C9.81004 11.3843 9 10.6267 9 9.69215C9 8.7576 9.81004 8 10.8093 8C11.8085 8 12.6186 8.7576 12.6186 9.69215Z" fill="white"/>
                                    <path d="M9.24742 12.6281H12.3402V22H9.24742V12.6281Z" fill="white"/>
                                    <path d="M17.3196 12.6281H14.2268V22H17.3196C17.3196 22 17.3196 19.0496 17.3196 17.2049C17.3196 16.0976 17.6977 14.9855 19.2062 14.9855C20.911 14.9855 20.9008 16.4345 20.8928 17.5571C20.8824 19.0244 20.9072 20.5219 20.9072 22H24V17.0537C23.9738 13.8954 23.1508 12.4401 20.4433 12.4401C18.8354 12.4401 17.8387 13.1701 17.3196 13.8305V12.6281Z" fill="white"/>
                                    </svg>
                                a(href='#').social-list__item.social-list__item_fb
                                    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="16" cy="16" r="14" fill="#232323"/>
                                    <path d="M21.2137 20.2816L21.8356 16.3301H17.9452V13.767C17.9452 12.6857 18.4877 11.6311 20.2302 11.6311H22V8.26699C22 8.26699 20.3945 8 18.8603 8C15.6548 8 13.5617 9.89294 13.5617 13.3184V16.3301H10V20.2816H13.5617V29.8345C14.2767 29.944 15.0082 30 15.7534 30C16.4986 30 17.2302 29.944 17.9452 29.8345V20.2816H21.2137Z" fill="white"/>
                                    </svg>
                                a(href='#').social-list__item.social-list__item_tg
                                    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="15.9991" cy="15.9972" r="12.005" fill="#232323" stroke="#232323" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M13.4328 20.9409L12.0419 17.0857L8.9393 16.1173C8.77905 16.0682 8.66774 15.9226 8.66232 15.7551C8.65689 15.5875 8.75855 15.4351 8.91529 15.3757L20.7215 10.8218C20.9223 10.7455 21.1487 10.7841 21.3128 10.9227C21.4769 11.0613 21.5529 11.278 21.5112 11.4887L19.5277 20.8366C19.4738 21.0929 19.2931 21.3041 19.0483 21.3969C18.8034 21.4898 18.5281 21.4516 18.3179 21.2955L15.5007 19.2146L13.4328 20.9409Z" fill="white" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                .section-subscribe__wrapper-item
                    .section-subscribe__img
                        img(src='img/subscribe.svg')

section.section.section-gray
    .container
        .section__wrapper
            .section__info
                h2.section__title Другие статьи
            .section-articles__content
                .articles-grid.section-articles__grid
                    .articles-grid__item
                        a(href='#').preview-article
                            .preview-article__wrapper
                                .preview-article__img
                                    img(src='img/article-2.jpg')
                                .preview-article__info
                                    .preview-article__header
                                        p.preview-article__author Molly Jackson
                                        time.preview-article__date 23.03.2021
                                    .preview-article__content
                                        p.preview-article__label How to design an online course
                                        p.preview-article__text Online learning has taken over the world and has become our new norm. For students, this is a convenient format that allows.
                                    .preview-article__footer
                                        .preview-article__btn.btn.btn-grey  Recruitment marketing
                    .articles-grid__item
                        a(href='#').preview-article
                            .preview-article__wrapper
                                .preview-article__img
                                    img(src='img/article-2.jpg')
                                .preview-article__info
                                    .preview-article__header
                                        p.preview-article__author Molly Jackson
                                        time.preview-article__date 23.03.2021
                                    .preview-article__content
                                        p.preview-article__label How to design an online course
                                        p.preview-article__text Online learning has taken over the world and has become our new norm. For students, this is a convenient format that allows.
                                    .preview-article__footer
                                        .preview-article__btn.btn.btn-grey  Recruitment marketing
                    .articles-grid__item
                        a(href='#').preview-article
                            .preview-article__wrapper
                                .preview-article__img
                                    img(src='img/article-3.jpg')
                                .preview-article__info
                                    .preview-article__header
                                        p.preview-article__author Molly Jackson
                                        time.preview-article__date 23.03.2021
                                    .preview-article__content
                                        p.preview-article__label How to design an online course
                                        p.preview-article__text Online learning has taken over the world and has become our new norm. For students, this is a convenient format that allows.
                                    .preview-article__footer
                                        .preview-article__btn.btn.btn-grey  Recruitment marketing