$min_width: 320px;
$max_width: 1140px;

.section{
  &__wrapper{
    padding: 60px 90px 82px 90px;
  }
  &__title{
    @include fluid-type($min_width, $max_width, 24px, 50px);
    letter-spacing: -0.5px;
    color:#fff;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      left: 0;
      bottom: -21px;
      width: 72px;
      height: 3px;
      display: block;
      background-color: #d22d2c;
    }
  }
  &__title + &__desc{
    margin-top: 40px;
  }
  &__desc{
    color:#fff;
    font-size: 20px;
    line-height: 1.5;
  }

  &-banner{
    &__wrapper{
      &.section-hero__wrapper{
        min-height: 420px;
        height: calc(100vh - 420px);
      }
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      position: relative;
    }
    &__category{
      &.section-hero__category{
        position: relative;
        background-color: #000;
      }
    }
    &__img{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        z-index: 2;
        background-color: rgba(0, 0, 0, 0.6);
      }
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: relative;
        z-index: 1;
      }
    }
    &__text{
      @include fluid-type($min_width, $max_width, 24px, 50px);
      letter-spacing: -0.5px;
      color:#fff;
      font-weight: 700;
      text-transform: uppercase;
      position: relative;
      z-index: 3;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      position: absolute;
      top: 0;
      left:0;
      background-color: rgba(0,0,0,.3);
    }
  }
  &-afisha{
    &__title{
      text-align: center;
      &::before{
        left: 50%;
        margin-left: -36px;
      }
    }
    &__desc{
      text-align: center;
      max-width: 755px;
      width: 100%;
      margin: 0 auto;
    }
  }
  &-poster-slider{
    background-color: #111;
  }
  &-content{
    &__grid{
      display: grid;
      grid-template-columns: 75% 25%;
      gap: 60px;
    }
    &__desc{
      margin-top: 50px;
    }
  }
}

.btn{
  &_red{
    background-color: #d22d2c;
    color:#fff;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;

    transition: .3s background-color;
    &:hover{
      background-color: #EA504F;
    }
  }
}

.aside{
  &-group + &-group{
    margin-top: 50px;
  }
  &-block + &-block{
    margin-top: 50px;
  }
  &-block{
    &__title{
      font-weight: 700;
      text-transform: uppercase;
      color:#fff;
      letter-spacing: -0.23px;
      font-size: 20px;
    }
    &__title + &__content{
      margin-top: 40px;
    }
  }
}

.documents-list{
  &__item{
    display: flex;
    align-items: center;
    &::before{
      content: '';
      width: 16px;
      height: 16px;
      flex-shrink: 0;
      display: block;
      margin-right: 10px;
      background: url("../img/document-icon.svg") center center no-repeat;
      background-size: cover;
    }
  }

}

.aside{
  &-list{
    &__link{
      font-size: 16px;
      font-weight: bold;
      line-height: 1.94;
      letter-spacing: -0.18px;
      color: #d22d2c;
      text-transform: uppercase;

      transition: .3s color;
      &:hover{
        color:#EA504F;
      }
    }
  }
}

.service{
  &-wrapper{
    margin-top: 40px;
    &__item + &__item{
      margin-top: 60px;
    }
    &__title{
      font-size: 30px;
      font-weight: 700;
      letter-spacing: -0.35px;
      text-transform: uppercase;

      color:#d22d2c;
    }
    &__grid{
      display: grid;
      grid-template-columns: repeat(4,minmax(0,1fr));
      grid-auto-rows: calc(100vw / 5);
      gap: 20px;

      margin-top: 30px;
    }
  }
  &-item{
    border-radius: 9px;
    border: solid 1px #404040;

    padding: 15px;
    height: 100%;

    display: flex;
    flex-direction: column;

    transition: 0.3s border-color;
    &:hover{
      border-color: #969696;
    }
    &__header{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &__vip{
      width: 18px;
      height: 12px;
      img{
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    &__price{
      font-size: 18px;
      font-weight: 700;
      color:#fff;
      span{
        color:#d22d2c;
        font-size: 24px;
      }
    }
    &__content{
      margin-top: 35px;
    }
    &__text{
      font-size: 16px;
      color:#fff;
      font-weight: 700;
      text-transform: uppercase;
    }
    &__time{
      font-size: 16px;
      font-family: "Lora", sans-serif;
      color:#404040;
      margin-top: 10px;
    }
    &__footer{
      margin-top: auto;
    }
    &__link{
      font-size: 16px;
      font-weight: 700;
      color:#d22d2c;
      text-transform: uppercase;
      transition: 0.3s all;
      &:hover{
        color:#EA504F;
      }
    }
  }
}

.event-slider{
  max-height: 485px;
}

.event{
  &-item{
    &__wrapper{
      margin-top: 60px;
    }
    &__title{
      font-size: 30px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: -0.35px;
      color: #fff;
    }
    &__text{
      font-family: 'Lora',sans-serif;
      font-size: 16px;
      line-height: 1.56;
      color: #f0f0f0;
    }
    &__desc{
      margin-top: 25px;
    }
    &__content{
      margin-top: 30px;
    }
    &__btn{
      width: 180px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;

      margin-top: 30px;
    }
  }
  &-feature{
    display: flex;
    flex-direction: column;
    width: max-content;
    &__title{
      font-size: 16px;
      color:#fff;
      letter-spacing: -0.18px;
      text-transform: uppercase;
      width: 265px;
    }
    &__item{
      display: flex;
      align-items: center;
      height: 44px;
      border-bottom: 1px dashed #404040;
    }
  }
  &-preview{
    &__img{
      width: 100%;
      img{
        width: 100%;
        height: 180px;
        object-fit: cover;
      }
    }
    &__title{
      font-size: 20px;
      margin-top: 24px;
    }
    &__desc{
      font-family: "Lora", sans-serif;
      font-size: 16px;
      color:#f0f0f0;
      line-height: 25px;
      margin-top: 30px;
    }
  }
}

.coming{
  &-events{
    margin-top: 90px;
    &__header{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &__title{
      font-size: 26px;
      font-weight: 700;
      color:#fff;
      text-transform: uppercase;
      letter-spacing: -0.3px;
    }
    &__link{
      color:#d22d2c;
      font-family: 'Lora', sans-serif;
      font-size: 16px;
    }
    &__content{
      margin-top: 30px;
      display: grid;
      grid-template-columns: repeat(2,minmax(0,1fr));
      gap: 30px;
    }
  }
  &-event{
    &__wrapper{
      display: flex;
      align-items: center;
      background-color: #171717;

      height: 150px;
    }
    &__img{
      width: 125px;
      height: 100%;
      flex-shrink: 0;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &__content{
      padding: 0 30px;
    }
    &__title{
      text-transform: uppercase;
      color:#fff;
      font-weight: 700;
      letter-spacing: -0.18px;
    }
    &__date{
      font-family: 'Lora', sans-serif;
      font-size: 16px;
      margin: 6px 0 15px 0;
      color:#fff;
    }
    &__category{
      font-family: 'Lora', sans-serif;
      font-size: 16px;
      color:#d22d2c;
    }
  }
}

.archive-slider{
  .swiper-slide{
    display: flex;
    align-items: center;
    width: auto;
  }
  &__controls{
    display: flex;
    align-items: center;
    margin: 60px 0 35px 0;
  }
  &-prev,&-next{
    width: 42px;
    height: 42px;
    &.swiper-button-disabled{
      opacity: .4;
    }
  }
  &-prev{
    transform: rotate(180deg);
    margin-right: 9px;
  }

  .poster-item{
    transition: .3s all;
    &:hover{
      transform: scale(1.1);
      z-index: 9;
    }
  }
  .poster-group__wrapper{
    height: 300px;
  }
}

.block-services{
  display: grid;
  grid-template-columns: repeat(2,minmax(0,1fr));
  grid-auto-rows: 230px;
  gap: 30px;
  &__item{
    background-color: #171717;
  }
}

.services-box{
  display: flex;
  align-items: flex-start;
  height: 100%;
  &__img{
    flex-shrink: 0;
    width: 180px;
    height: 100%;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__content{
    padding: 30px;
    height: 100%;

    display: flex;
    flex-direction: column;
  }
  &__title{
    font-size: 26px;
    font-weight: 700;
    color:#d22d2c;
  }
  &__text{
    font-family: "Lora",sans-serif;
    font-size: 16px;
    margin-top: auto;
    color:#fff;
  }
  &__link{
    font-family: "Lora",sans-serif;
    color:#d22d2c;
    margin-top: 20px;

    transition: .3s color;
    &:hover{
      color:#EA504F;
    }
  }
}

@media screen and (max-width: 1240px) {
  .block-services{
    grid-template-columns: minmax(0,1fr);
  }
}

@media screen and (max-width: 1024px) {
  .service{
    &-wrapper{
      &__grid{
        grid-template-columns: repeat(3,minmax(0,1fr));
        grid-auto-rows: 260px;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .section{
    &__wrapper{
      padding: 60px 30px;
    }
    &-banner{
      &__wrapper{
        height: unset;
        min-height:400px;
      }
    }
    &-content{
      &__grid{
        grid-template-columns: minmax(0,1fr);
      }
    }
    &-event{
      &__text{
        padding: 0 15px;
        font-size: 30px;
      }
    }
  }
  .event{
    &-slider{
      max-height: 250px;
    }
    &-feature{
      &__item{
        padding: 10px 0;
        height: auto;
      }
      &__title{
        width: 50%;
        margin-right: 15px;
      }
    }
  }
  .coming-events__content{
    grid-template-columns: minmax(0,1fr);
  }
  .coming-event__content{
    padding:  0 15px;
  }
  .block-services{
    grid-auto-rows: auto;
  }
  .services-box{
    flex-direction: column;
    &__img{
      height: 150px;
      width: 100%;
    }
    &__content{
      padding: 15px;
    }
    &__text{
      margin-top: 10px;
    }
  }
}

@media screen and (max-width: 475px) {
  .service{
    &-wrapper{
      &__grid{
        grid-template-columns: minmax(0,1fr);
      }
    }
  }
}