*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

blockquote,
body,
dd,
dl,
figcaption,
figure,
h1,
h2,
h3,
h4,
li,
ol,
p,
ul {
  margin: 0;
}

body {
  font-family: 'HelveticaNeue';
  font-weight: 400;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  overflow-x: hidden;
  height: 100%;
}

ol,
ul {
  padding: 0;
  list-style: none;
}

a {
  font-family: inherit;
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
}

button,
input,
select,
textarea {
  font-family: inherit;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Bold/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold/Montserrat-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Medium/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Regular/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.container {
  max-width: 1235px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.footer {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-top: auto;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 6px 0 12px 40px;
  height: 130px;
}

.header__block {
  padding-bottom: 20px;
}

.header__block-logo {
  padding-bottom: 0;
}

.header__block-burger {
  display: none;
}

.header__logo {
  height: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__logo-img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.header__link {
  font-size: 12px;
  color: #575756;
  text-transform: uppercase;
}

.header__phone {
  font-size: 18px;
  font-weight: 700;
  color: #575756;
  text-transform: uppercase;
}

.header-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav__item + .header-nav__item {
  margin-left: 40px;
}

.header-social__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header-social__item + .header-social__item {
  margin-left: 15px;
}

.header-social__img {
  width: 25px;
  height: 20px;
  -o-object-fit: contain;
     object-fit: contain;
}

.header-phone {
  margin-top: 20px;
  text-align: right;
}

.burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30px;
  height: 20px;
  position: relative;
}

.burger__item {
  width: 100%;
  height: 2px;
  display: block;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-color: #000000;
  border-radius: 2px;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
}

.burger.active .burger__item:nth-child(2) {
  display: none;
}

.burger.active .burger__item:nth-child(1) {
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.burger.active .burger__item:nth-child(3) {
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.nav-item__link_mobile {
  display: none;
}

@media screen and (max-width: 991px) {
  .nav-item__link_mobile {
    display: block;
  }
  .header__block {
    display: none;
    padding-bottom: 0;
    -webkit-box-flex: 33%;
        -ms-flex: 33%;
            flex: 33%;
  }
  .header__block-burger {
    display: block;
    z-index: 6;
  }
  .header__block-logo {
    display: block;
  }
  .header__block-social {
    display: block;
  }
  .header__block-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 100vh;
    background-color: #fff;
    display: block;
    z-index: 5;
    padding-top: 80px;
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
    -webkit-transition: 0.5s all linear;
    -o-transition: 0.5s all linear;
    transition: 0.5s all linear;
  }
  .header__block-nav.active {
    opacity: 1;
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }
  .header__wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 6px 0;
    height: auto;
  }
  .header__logo {
    height: 40px;
  }
  .header-phone {
    margin-top: 5px;
  }
  .header-nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-left: 15px;
  }
  .header-nav__item + .header-nav__item {
    margin-left: 0;
    margin-top: 10px;
  }
}

@media screen and (max-width: 375px) {
  .header__phone {
    font-size: 10px;
  }
  .header-phone {
    margin-top: 0;
  }
  .header-social__img {
    width: 15px;
    height: 15px;
  }
}

.footer__wrapper {
  background-color: #363636;
  padding: 5px 0 30px 0;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer__row + .footer__row {
  margin-top: 10px;
}

.footer__social {
  margin-left: auto;
  -ms-flex-item-align: center;
      align-self: center;
}

.footer__phone {
  margin-left: 45px;
  -ms-flex-item-align: center;
      align-self: center;
}

.footer__phone-label {
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
}

.footer__copyright-label {
  font-size: 12px;
  line-height: 22px;
  color: #fff;
}

.footer__nav {
  margin-left: auto;
}

.footer-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-nav__item + .footer-nav__item {
  margin-left: 35px;
}

.footer-nav__link {
  font-size: 12px;
  text-transform: uppercase;
  color: #ffffff;
  -webkit-transition: .3s color;
  -o-transition: .3s color;
  transition: .3s color;
}

.footer-nav__link:hover {
  color: #be983e;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-social__item {
  width: 25px;
  height: 16px;
}

.footer-social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
}

.footer-social__link svg {
  width: 100%;
  height: 100%;
  fill: #fff;
}

.footer-social__link path {
  fill: #fff;
  -webkit-transition: .3s fill;
  -o-transition: .3s fill;
  transition: .3s fill;
}

.footer-social__link:hover path {
  fill: #be983e;
}

@media screen and (max-width: 767px) {
  .footer__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__social, .footer__phone {
    margin-left: 0;
  }
  .footer__phone {
    margin-top: 10px;
  }
  .footer__copyright-label {
    text-align: center;
  }
  .footer-nav__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .footer-nav__item + .footer-nav__item {
    margin: 0;
  }
  .footer-nav__item {
    margin: 5px 10px;
  }
}

.section__wrapper {
  padding: 75px 0;
}

.section__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section__title {
  font-size: 24.5px;
  font-weight: 700;
  color: #262626;
}

.section__desc {
  font-size: 14px;
  line-height: 19px;
  color: #262626;
  text-align: justify;
}

.section__desc p + p {
  margin-top: 15px;
}

.section__link {
  font-size: 14px;
  color: #262626;
  text-decoration: underline;
  text-underline-position: under;
  -webkit-text-decoration-color: #be983e;
          text-decoration-color: #be983e;
}

.section__header + .section__content {
  margin-top: 44px;
}

.section-achiv__content {
  position: relative;
}

.section-achiv__content .swiper-button-next {
  width: 30px;
  height: 13px;
  background: url("../img/layout-arrow.png") center center/contain no-repeat;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  top: calc(50% + 6.5px);
  right: -50px;
}

.achievements-slider-big {
  position: relative;
  height: 285px;
}

.achievements-slider-big__item {
  width: 100%;
  height: 100%;
}

.achievements-slider-big__item-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.page-tabs__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 550px;
  width: 100%;
  padding: 30px 0;
}

.page-tabs__nav-item {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.page-tabs__nav-item.active .page-tabs__nav-link {
  -webkit-text-decoration-color: transparent;
          text-decoration-color: transparent;
  color: #be983e;
}

.page-tabs__nav-link {
  font-size: 16px;
  color: #262626;
  text-decoration: underline;
  text-underline-position: under;
  -webkit-text-decoration-color: #be983e;
          text-decoration-color: #be983e;
  -webkit-transition: .3s color, .3s decoration-color;
  -o-transition: .3s color, .3s decoration-color;
  transition: .3s color, .3s decoration-color;
}

@media screen and (max-width: 1140px) {
  .section-achiv__content .swiper-button-next {
    display: none;
  }
}

@media screen and (max-width: 991px) {
  .section__wrapper {
    padding: 30px 0;
  }
}

@media screen and (max-width: 600px) {
  .page-tabs__nav {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -10px;
  }
  .page-tabs__nav-item {
    margin: 10px;
  }
}

@media screen and (max-width: 475px) {
  .section__title {
    font-size: 18px;
  }
  .section__header + .section__content {
    margin-top: 15px;
  }
  .achievements-slider-big {
    height: 235px;
  }
}

.section-about {
  background-color: #f1f2f6;
}

.section-about__img {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-auto-rows: 230px;
  gap: 13px;
}

.section-about__img_medium {
  grid-auto-rows: 180px;
}

.section-about__img_small {
  grid-auto-rows: 150px;
}

.section-about__img_object {
  grid-template-columns: repeat(7, minmax(0, 1fr));
  grid-auto-rows: 185px;
}

.section-about__img-item_row-big {
  grid-row-end: span 2;
}

.section-about__img-item_row-full {
  grid-row-end: span 2;
  grid-column-end: span 3;
}

.section-about__img-item_column-big {
  grid-column-end: span 2;
}

.section-about__img-item_object {
  grid-column-end: span 2;
}

.section-about__img-item_object-big {
  grid-column-end: span 4;
}

.section-about__img-item_object-medium {
  grid-column-end: span 3;
}

.section-about__img-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section-about__grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 36px;
}

.section-about__grid_small {
  grid-template-columns: 420px auto;
}

.section-about__content-block + .section-about__content-block {
  margin-top: 33px;
}

@media screen and (max-width: 800px) {
  .section-about__grid {
    grid-template-columns: minmax(0, 1fr);
    gap: 30px;
  }
}

.news-slide {
  width: calc(25% - 25px);
}

.news-slide_big {
  width: calc(50% - 50px);
}

.news-item__img {
  height: 368px;
}

.news-item__img-item {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.news-item__content {
  margin-top: 25px;
}

.news-item__time {
  font-size: 14px;
  font-weight: 500;
  color: #262626;
}

.news-item__time-label {
  font-size: 24px;
  font-weight: 700;
  color: #be983e;
  margin-right: 5px;
}

.news-item__title {
  margin-top: 20px;
}

.news-item__title-label {
  font-size: 18px;
  font-weight: 700;
  color: #262626;
}

.news-item__desc {
  margin-top: 30px;
  font-size: 14px;
  line-height: 19px;
  color: #262626;
}

.news-item__footer {
  margin-top: 15px;
}

.news-item__link {
  font-size: 12px;
  color: #848484;
  text-decoration: underline;
  text-underline-position: under;
  -webkit-transition: .3s color, .3s text-decoration;
  -o-transition: .3s color, .3s text-decoration;
  transition: .3s color, .3s text-decoration;
}

.news-item__link:hover {
  color: #be983e;
  -webkit-text-decoration-color: transparent;
          text-decoration-color: transparent;
}

@media screen and (max-width: 991px) {
  .news-slide {
    width: 100%;
  }
  .news-slide_big {
    width: 100%;
  }
}

.section__header + .section-layout__content {
  margin-top: 30px;
}

.section-layout__content {
  height: 100%;
}

.layout-category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.layout-slider {
  height: 606px;
}

.layout-slider__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: solid 1px #ededed;
  -webkit-transition: .3s border-color;
  -o-transition: .3s border-color;
  transition: .3s border-color;
}

.layout-slider__title {
  height: 35px;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ededed;
  font-size: 14px;
  font-weight: 500;
  color: #262626;
  -webkit-transition: .3s background-color, .3s color;
  -o-transition: .3s background-color, .3s color;
  transition: .3s background-color, .3s color;
}

.layout-slider__item.active .layout-slider__link {
  border-color: #be983e;
}

.layout-slider__item.active .layout-slider__title {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#be983e), color-stop(#dfbe5f), to(#be983e));
  background-image: -o-linear-gradient(bottom, #be983e, #dfbe5f, #be983e);
  background-image: linear-gradient(to top, #be983e, #dfbe5f, #be983e);
  color: #fff;
}

.layout-slider__img {
  height: 165px;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.layout-slider__img-item {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.layout-slider-button {
  position: absolute;
  width: 30px;
  height: 15px;
  right: unset;
  left: 50%;
  margin-left: -15px;
  top: unset;
  bottom: -30px;
  background: url("../img/layout-arrow.png") center center no-repeat;
  background-size: contain;
}

.layout-tabs__wrapper {
  display: grid;
  grid-template-columns: 300px auto;
  gap: 35px;
  grid-auto-rows: 606px;
}

.layout-tabs__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.layout-category__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.layout-category-nav {
  width: 100%;
  padding-bottom: 3px;
}

.layout-category__item {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.layout-category__item.active .layout-category__link {
  -webkit-text-decoration-color: transparent;
          text-decoration-color: transparent;
  color: #be983e;
}

.layout-category__link {
  font-size: 16px;
  color: #262626;
  text-decoration: underline;
  text-underline-position: under;
  -webkit-text-decoration-color: #be983e;
          text-decoration-color: #be983e;
  -webkit-transition: .3s color, .3s decoration-color;
  -o-transition: .3s color, .3s decoration-color;
  transition: .3s color, .3s decoration-color;
}

.layout-category__content {
  margin-top: 40px;
  height: 100%;
}

.layout-item {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 80px;
  height: 100%;
}

.layout-item__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.layout-item__img {
  width: 100%;
  height: 100%;
}

.layout-item__img-item {
  -o-object-fit: contain;
     object-fit: contain;
}

.layout-item__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.layout-item__category {
  height: 35px;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#be983e), color-stop(#dfbe5f), to(#be983e));
  background-image: -o-linear-gradient(bottom, #be983e, #dfbe5f, #be983e);
  background-image: linear-gradient(to top, #be983e, #dfbe5f, #be983e);
  font-size: 14px;
  font-weight: 500;
  color: #fefefe;
}

.layout-item__title {
  margin-top: 35px;
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  color: #262626;
}

.layout-item__address {
  margin-top: 30px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.layout-item__address-label {
  font-size: 14px;
  color: #535352;
}

.layout-item__address-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5px;
}

.layout-item__address-link + .layout-item__address-link {
  margin-left: 10px;
}

.layout-item__address-link {
  font-size: 12px;
  color: #848484;
  text-decoration: underline;
  text-underline-position: under;
}

.layout-item__content {
  padding: 15px 0;
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
  margin-top: auto;
}

.layout-item__desc {
  font-size: 13px;
  line-height: 20px;
  color: #262626;
}

.layout-item__footer {
  margin-top: 25px;
}

.layout-item__price {
  font-size: 24px;
  font-weight: 700;
  color: #262626;
}

.layout-item__btn {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 230px;
  height: 45px;
  background-color: #be983e;
  font-size: 14px;
  font-weight: 700;
  color: #fefefe;
}

@media screen and (max-width: 991px) {
  .layout-tabs__wrapper {
    grid-template-columns: minmax(0, 1fr);
    gap: 15px;
    grid-auto-rows: auto;
  }
  .layout-slider {
    height: 202px;
  }
  .layout-slider-button {
    left: unset;
    right: -15px;
    top: 50%;
    bottom: unset;
    margin-top: -7.5px;
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
}

@media screen and (max-width: 767px) {
  .layout-item {
    grid-template-columns: minmax(0, 1fr);
    gap: 15px;
  }
  .layout-item__content {
    margin-top: 15px;
  }
  .layout-item__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .layout-slider__item {
    width: 300px;
  }
  .layout-category__nav {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .layout-category__item + .layout-category__item {
    margin-top: 10px;
  }
}

.section-hero__wrapper {
  height: calc(100vh - 130px);
  min-height: 700px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-hero__wrapper::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  background-color: rgba(39, 37, 37, 0.3);
  z-index: 2;
}

.section-hero__wrapper_no-bg::before {
  display: none;
}

.section-banner__wrapper {
  height: 210px;
  width: 100%;
  position: relative;
}

.section-banner__wrapper::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(39, 37, 37, 0.5);
}

.section-banner__img {
  width: 100%;
  height: 100%;
}

.section-banner__img-item {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero-bg-slider {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.hero-bg-slider__item {
  height: 100%;
  width: 100%;
}

.hero-bg-slider__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero-slider {
  position: relative;
  z-index: 3;
}

.hero-slider__item {
  width: 507px;
  border: solid 1px #fff;
  padding: 33px 0 25px 0;
}

.hero-slider__item.swiper-slide-next, .hero-slider__item.swiper-slide-prev {
  scale: 0.8;
}

.hero-slider__item-status {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
  color: #be983e;
}

.hero-slider__item-status::before, .hero-slider__item-status::after {
  content: '';
  width: 160px;
  height: 1px;
  display: block;
  background-color: #be983e;
}

.hero-slider__item-title {
  margin-top: 30px;
  font-size: 30px;
  font-weight: 700;
  color: #fff;
  text-align: center;
}

.hero-slider__item-address {
  font-size: 20px;
  color: #fff;
  text-align: center;
}

.hero-slider__img {
  margin-top: 20px;
  position: relative;
  width: auto;
  height: 275px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero-slider__img-item {
  position: absolute;
  top: 0;
  height: 100%;
}

.hero-slider__ready {
  margin-top: 20px;
}

.hero-slider__ready-row {
  position: relative;
  max-width: 387px;
  height: 15px;
  width: 100%;
  margin: 0 auto;
  background-color: rgba(190, 152, 62, 0.55);
}

.hero-slider__ready-completed {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#be983e), color-stop(#dfbe5f), to(#be983e));
  background-image: -o-linear-gradient(bottom, #be983e, #dfbe5f, #be983e);
  background-image: linear-gradient(to top, #be983e, #dfbe5f, #be983e);
}

.hero-slider__ready-text {
  margin-top: 20px;
  text-align: center;
  font-size: 16px;
  color: #fff;
}

.hero-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 35px;
}

.hero-pagination .swiper-pagination-bullet {
  opacity: 1;
  background-color: rgba(248, 248, 248, 0.5);
}

.hero-pagination .swiper-pagination-bullet-active {
  background-color: #f8f8f8;
}

@media screen and (max-width: 1440px) {
  .section-hero__wrapper {
    height: auto;
    padding: 30px 0;
  }
}

@media screen and (max-width: 650px) {
  .hero-slider {
    padding: 0 15px;
  }
  .hero-slider__item {
    width: 90%;
  }
  .hero-slider__item-status::before, .hero-slider__item-status::after {
    width: 25%;
  }
  .hero-slider__ready {
    padding: 0 15px;
  }
}

.advantage-object__grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-auto-rows: 285px;
  gap: 25px;
}

.advantage-object__item {
  width: 100%;
  height: 100%;
}

.advantage-object__item-wrapper {
  padding: 18px;
  height: 100%;
  width: 100%;
  position: relative;
}

.advantage-object__item-wrapper::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
}

.advantage-object__item-content {
  border: 1px solid #fff;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 3;
}

.advantage-object__item-content:hover {
  cursor: pointer;
}

.advantage-object__item-content:hover .front {
  opacity: 0;
}

.advantage-object__item-content:hover .back {
  opacity: 1;
}

.advantage-object__item-img {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.advantage-object__item-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.advantage-object__item-front {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0 72px;
  -webkit-transition: .5s opacity;
  -o-transition: .5s opacity;
  transition: .5s opacity;
  position: absolute;
  left: 0;
  top: 0;
}

.advantage-object__item-back {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0;
  -webkit-transition: .5s opacity;
  -o-transition: .5s opacity;
  transition: .5s opacity;
  background-color: #fff;
  padding: 7px;
}

.advantage-object__item-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 500;
  color: #fff;
  text-align: center;
}

.advantage-object__item-subTitle {
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  color: #262626;
  text-align: center;
  padding: 0 5px 15px 5px;
  margin-bottom: 15px;
  position: relative;
}

.advantage-object__item-subTitle::after {
  content: '';
  position: absolute;
  left: calc(50% - 32px);
  bottom: 0;
  width: 64px;
  height: 1px;
  background-color: #b6923d;
}

.advantage-object__item-text {
  font-size: 13px;
  line-height: 16px;
  color: #262626;
  text-align: center;
}

.advantage-object__item-info {
  border: 1px solid #b6923d;
  padding: 18px 20px;
  width: 100%;
  height: 100%;
}

.object-slider {
  height: 100%;
  width: 100%;
}

.object-slider .swiper-pagination {
  position: relative;
  bottom: unset;
  left: unset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 50px;
}

.object-slider .swiper-pagination-bullet {
  opacity: .5;
  background-color: #f8f8f8;
}

.object-slider .swiper-pagination-bullet-active {
  opacity: 1;
}

.object-slider .swiper-button-next, .object-slider .swiper-button-prev {
  z-index: 4;
}

.object-slider .swiper-button-prev {
  width: 30px;
  height: 70px;
  background: url("../img/arrow-white.png") center center/contain no-repeat;
  left: 90px;
  top: calc(50% - 35px - 75px);
}

.object-slider .swiper-button-next {
  width: 30px;
  height: 70px;
  background: url("../img/arrow-white.png") center center/contain no-repeat;
  right: 90px;
  top: calc(50% - 35px - 75px);
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.object-slider__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.object-slider__img {
  height: calc(100% - 150px);
  width: 100%;
  position: relative;
}

.object-slider__img-item {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.object-slider__content {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.object-slider__title {
  font-size: 44px;
  font-weight: 700;
  line-height: 55px;
  color: #fff;
}

.object-slider__text {
  font-size: 24px;
  color: #fff;
  line-height: 40px;
}

.object-slider__info {
  width: 100%;
  background-color: #262626;
}

.object-slider__info-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 150px;
  padding: 30px 0;
}

.object-slider__info-logo {
  width: 180px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-right: 50px;
  border-right: 1px solid rgba(222, 223, 228, 0.08);
}

.object-slider__info-logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.object-slider__info-content {
  padding-left: 40px;
}

.object-slider__info-footer {
  margin-left: auto;
}

.object-slider__info-btn {
  width: 270px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-color: #be983e;
  color: #fefefe;
  font-size: 14px;
  font-weight: 700;
}

.object-slider__adv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -26px -30px;
  max-width: 700px;
  width: 100%;
}

.object-slider__adv-item {
  margin: 13px 15px;
}

.object-slider__adv-item-label {
  font-size: 16px;
  color: #fff;
}

.object-slider__adv-item-label span {
  font-size: 24px;
  color: #be983e;
}

@media screen and (max-width: 1440px) {
  .section-object__wrapper {
    padding: 0;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    height: 100%;
    min-height: auto;
  }
  .object-slider__img {
    height: 550px;
  }
  .object-slider__content {
    padding: 0 45px;
  }
  .object-slider .swiper-button-next {
    right: 10px;
  }
  .object-slider .swiper-button-prev {
    left: 10px;
  }
}

@media screen and (max-width: 1100px) {
  .advantage-object__grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .object-slider__info-wrapper {
    height: auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .object-slider__info-logo {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 991px) {
  .advantage-object__grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .object-slider__info-wrapper {
    height: auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .object-slider__info-logo {
    padding-right: 0;
  }
  .object-slider__info-content {
    padding-left: 0;
    border: none;
  }
  .object-slider__info-footer {
    margin: 40px auto 0 auto;
  }
}

@media screen and (max-width: 600px) {
  .advantage-object__grid {
    grid-template-columns: 1fr;
  }
  .object-slider .swiper-pagination {
    margin-top: 20px;
  }
  .object-slider .swiper-button-next, .object-slider .swiper-button-prev {
    top: 250px;
  }
  .object-slider__adv {
    margin: 0;
    padding: 0 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .object-slider__adv-item {
    margin: 0;
  }
  .object-slider__adv-item + .object-slider__adv-item {
    margin-top: 10px;
  }
  .object-slider__info-footer {
    margin-top: 20px;
  }
  .object-slider__info-logo {
    margin-bottom: 20px;
  }
  .object-slider__title {
    font-size: 24px;
    line-height: 1;
  }
  .object-slider__text {
    font-size: 18px;
    line-height: 1;
    margin-top: 20px;
  }
}

.tabs-content {
  height: 100%;
}

.tabs-content__item {
  height: 100%;
  display: none;
}

.tabs-content__item.active {
  display: block;
}

.tabs-nav {
  position: relative;
}
