* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #111111;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.content__gradient {
  position: relative;
}
.content__gradient::after, .content__gradient::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  display: block;
}
.content__gradient::before {
  top: 0;
  height: 100%;
  background: linear-gradient(180deg, #FFF176 0%, rgba(255, 255, 255, 0) 100%);
}
.content__gradient::after {
  height: 40%;
  bottom: 0;
  background: linear-gradient(0deg, #8E24AA 0%, rgba(255, 255, 255, 0) 100%);
}

.social__list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-list__item + .social-list__item {
  margin-left: 20px;
}
.social-list__link {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.social-list__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
}
.social-list__icon-item {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.social-list__icon-item_white path {
  fill: #fff;
}
.social-list__text {
  display: block;
  margin-left: 15px;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #8E24AA;
  text-align: center;
}
.social-list__text_white {
  color: #fff;
}
.social-list__text_bold {
  font-weight: 600;
}
.social-list__text_small {
  font-size: 16px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-decoration: none;
}
.btn-pink {
  background-color: #8E24AA;
  color: #fff;
}

.section {
  position: relative;
  z-index: 3;
  overflow: hidden;
}
.section__wrapper {
  padding-top: 100px;
}
.section__title {
  line-height: 1.22;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section__title {
  font-size: 20px;
}
@media screen and (min-width: 320px) {
  .section__title {
    font-size: calc(20px + 16 * ((100vw - 320px) / 880));
  }
}
@media screen and (min-width: 1200px) {
  .section__title {
    font-size: 36px;
  }
}
.section__title > span + span {
  margin-left: 10px;
}
.section__title + .section__content {
  margin-top: 50px;
}

/* HEADER */
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  padding: 40px 0 20px 0;
  background-color: rgba(255, 255, 255, 0.4);
  transition: 0.5s padding, 0.5s background-color;
}
.header.fixed {
  padding: 20px 0;
  background-color: rgba(255, 255, 255, 0.8);
}
.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__burger {
  display: none;
}
.header__social {
  display: flex;
  align-items: center;
}
.header-social__item + .header-social__item {
  margin-left: 30px;
}
.header-social__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}
.header-social__icon-item {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.header-social__icon-item path {
  transition: 0.5s fill;
}
.header-social__icon-item:hover path {
  fill: #8E24AA;
}

.nav__list {
  display: flex;
  align-items: center;
}
.nav-list__item + .nav-list__item {
  margin-left: 15px;
}
.nav-list__link {
  font-size: 14px;
  font-weight: 600;
  color: #111111;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.5s color;
}
.nav-list__link:hover {
  color: #8E24AA;
}

.burger {
  width: 30px;
  height: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  transition: 0.5s all;
}
.burger:hover {
  cursor: pointer;
}
.burger__item {
  height: 3px;
  width: 100%;
  flex-shrink: 0;
  border-radius: 3px;
  background-color: #111111;
  transition: 0.5s all;
}
.burger.active {
  transform: translateY(10px);
}
.burger.active .burger__item:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(45deg);
}
.burger.active .burger__item:nth-child(2) {
  opacity: 0;
}
.burger.active .burger__item:nth-child(3) {
  position: absolute;
  right: 0;
  top: 0;
  transform: rotate(-45deg);
}

/* HERO */
.section-hero__container {
  background: url("../img/hero.jpg") center center/cover no-repeat;
  position: relative;
}
.section-hero__container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(255, 254, 251, 0.4) 0%, #FFF176 100%);
}
.section-hero__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 750px;
  position: relative;
  z-index: 3;
}
.section-hero__footer {
  position: absolute;
  bottom: 30px;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-hero__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  width: 48px;
  animation: topBottom 2s linear infinite;
}
.section-hero__link-icon {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.hero__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero__logo-text {
  font-weight: 400;
  line-height: 1.22;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #111111;
  text-align: center;
  display: flex;
  align-items: center;
}
.hero__logo-text {
  font-size: 20px;
}
@media screen and (min-width: 320px) {
  .hero__logo-text {
    font-size: calc(20px + 16 * ((100vw - 320px) / 880));
  }
}
@media screen and (min-width: 1200px) {
  .hero__logo-text {
    font-size: 36px;
  }
}
.hero__logo-text > span + span {
  margin-left: 10px;
}
.hero__logo-text-bold {
  font-weight: 700;
}
.hero__logo-text-sub {
  margin-top: 10px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #111111;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero__logo-text-sub {
  font-size: 18px;
}
@media screen and (min-width: 320px) {
  .hero__logo-text-sub {
    font-size: calc(18px + 6 * ((100vw - 320px) / 880));
  }
}
@media screen and (min-width: 1200px) {
  .hero__logo-text-sub {
    font-size: 24px;
  }
}
.hero__img {
  width: 300px;
  height: 300px;
  margin-top: 30px;
}
.hero__img-item {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  object-position: top center;
}
.hero__content {
  margin-top: 30px;
  max-width: 700px;
  width: 100%;
  transform: translateY(15px);
  opacity: 0;
  transition: 1s all;
}
.hero__content-text {
  line-height: 1.22;
  text-align: center;
  letter-spacing: 0.02em;
  color: #111111;
}
.hero__content-text {
  font-size: 16px;
}
@media screen and (min-width: 320px) {
  .hero__content-text {
    font-size: calc(16px + 6 * ((100vw - 320px) / 880));
  }
}
@media screen and (min-width: 1200px) {
  .hero__content-text {
    font-size: 22px;
  }
}
.hero__content.animate {
  opacity: 1;
  transform: translateY(0);
}
.hero__footer {
  margin-top: 30px;
}

/* work gallery */
.work-gallery__grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-auto-rows: 16.6666666667vw;
  gap: 5px;
}
.work-gallery__grid-item_medium {
  grid-column-end: span 2;
}
.work-gallery__grid-item_big {
  grid-column-end: span 2;
  grid-row-end: span 2;
}
.work-gallery__footer {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.work-gallery__btn {
  max-width: 350px;
  height: 40px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.02em;
  border-radius: 15px;
  text-transform: uppercase;
}
.work-item {
  position: relative;
}
.work-item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.work-item__img {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

/* how step */
.how-step__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  position: relative;
}
.how-step__wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: calc(50% - 1px);
  z-index: 1;
  width: 1px;
  height: 100%;
  display: block;
  border-left: 2px dashed #8E24AA;
}
.how-step__row {
  display: grid;
  grid-template-columns: 1fr 100px 1fr;
  gap: 30px;
  position: relative;
  z-index: 2;
}
.how-step__row::before {
  content: "";
  position: absolute;
  left: calc(50% + 32px);
  bottom: -50px;
  width: 64px;
  height: 64px;
  background: url("../img/step-arrow.svg") center center/contain no-repeat;
}
.how-step__row:nth-child(even)::before {
  transform: scale(-1, 1);
  left: calc(50% - 96px);
}
.how-step__row:last-child::before {
  display: none;
}
.how-step__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.how-step__number {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #FDD835;
  display: flex;
  align-items: center;
  justify-content: center;
}
.how-step__number-label {
  font-size: 48px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #fff;
}
.how-step__text {
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
}
.how-step__text {
  font-size: 14px;
}
@media screen and (min-width: 320px) {
  .how-step__text {
    font-size: calc(14px + 4 * ((100vw - 320px) / 880));
  }
}
@media screen and (min-width: 1200px) {
  .how-step__text {
    font-size: 18px;
  }
}
.how-step__text-bold {
  font-weight: 600;
}

/* reviews */
.reviews-slider__item {
  width: 25%;
  height: 33.3333333333vw;
}
.reviews-slider__item-img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  object-position: center center;
}
.reviews-slider .swiper-button-next, .reviews-slider .swiper-button-prev {
  width: 36px;
  height: 36px;
  display: block;
  background: url("../img/arrow-slider.svg") center center/contain no-repeat;
}
.reviews-slider .swiper-button-next::before, .reviews-slider .swiper-button-next::after, .reviews-slider .swiper-button-prev::before, .reviews-slider .swiper-button-prev::after {
  display: none;
}
.reviews-slider .swiper-button-prev {
  transform: rotate(180deg);
}
.reviews-slider .swiper-button-next {
  right: -5px;
}

/* footer */
.footer {
  padding: 100px 0 30px 0;
}
.footer__row + .footer__row {
  margin-top: 30px;
}

/* animation */
.animate-block {
  opacity: 0;
  transition: 0.5s all;
}
.animate-block.animate {
  opacity: 1;
}
.animate-title {
  display: flex;
  align-items: center;
}
.animate-title span {
  transform: translateY(15px);
  opacity: 0;
  transition: 0.5s linear;
  display: block;
}
.animate-title.animate span {
  transform: translateY(0);
  opacity: 1;
}
.animate-img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.animate-img img {
  width: 10%;
  height: 10%;
  opacity: 0;
  transition: 1s width, 1s height, 0.5s opacity;
}
.animate-img.animate img {
  width: 100%;
  height: 100%;
  opacity: 1;
}
.animate-social {
  transform: translateY(15px);
  opacity: 0;
  transition: 0.5s all;
}
.animate-social.animate {
  opacity: 1;
  transform: translateY(0);
}
.animate-fade-to-top {
  transform: translateY(15px);
}
.animate-fade-to-top.animate {
  transform: translateY(0);
}
.animate-fade-to-left {
  transform: translateX(30px);
}
.animate-fade-to-left.animate {
  transform: translateX(0);
}
.animate-fade-to-right {
  transform: translateX(-30px);
}
.animate-fade-to-right.animate {
  transform: translateX(0);
}

@keyframes topBottom {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0);
  }
}
@media screen and (max-width: 767px) {
  .header {
    padding: 20px 0;
  }
  .header__nav {
    position: fixed;
    top: 60px;
    left: 0;
    opacity: 0;
    padding: 0 15px;
    transform: translateY(-100%) translateX(-100%);
    transition: 0.5s all linear;
  }
  .header__nav::before {
    content: "";
    position: absolute;
    left: -100px;
    top: -100px;
    z-index: 2;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: white;
  }
  .header__nav.active {
    opacity: 1;
    z-index: 9;
    transform: translateX(0) translateY(0);
  }
  .header__burger {
    display: block;
    position: relative;
    z-index: 10;
  }

  .nav {
    position: relative;
    z-index: 3;
  }
  .nav__list {
    flex-direction: column;
  }
  .nav-list__item + .nav-list__item {
    margin-left: 0;
    margin-top: 15px;
  }
}
@media screen and (max-width: 600px) {
  .section__wrapper {
    padding-top: 50px;
  }
  .section__title + .section__content {
    margin-top: 30px;
  }

  .section-hero__wrapper {
    height: 100vh;
    min-height: auto;
    padding: 100px 0 50px 0;
  }
  .section-hero__link {
    width: 24px;
    height: 24px;
  }

  .social-list__item + .social-list__item {
    margin-left: 40px;
  }
  .social-list__icon {
    width: 24px;
    height: 24px;
  }
  .social-list__text {
    font-size: 20px;
    line-height: 1;
    display: none;
  }
  .social-list__text_mobile {
    display: block;
  }

  .work-gallery__grid {
    grid-auto-rows: 150px;
  }
  .work-gallery__grid-item_mobile-big {
    grid-row-end: span 2;
    grid-column-end: span 2;
  }
  .work-gallery__grid-item_mobile-medium {
    grid-column-end: span 2;
  }
  .work-gallery__footer {
    padding: 0 15px;
  }
  .how-step__wrapper {
    padding: 0 0 0 30px;
  }
  .how-step__wrapper:before {
    left: 45px;
    height: 90%;
    top: 5%;
  }
  .how-step__row {
    grid-template-columns: 30px auto;
  }
  .how-step__row:nth-child(even)::before {
    left: -60px;
    height: 48px;
    width: 48px;
    bottom: -40px;
  }
  .how-step__row:nth-child(even) .how-step__item:nth-child(3) {
    display: none;
  }
  .how-step__row:nth-child(odd)::before {
    left: 30px;
    height: 48px;
    width: 48px;
    bottom: -40px;
  }
  .how-step__row:nth-child(odd) .how-step__item:nth-child(1) {
    display: none;
  }
  .how-step__item:nth-child(2) {
    order: 1;
  }
  .how-step__item:nth-child(1), .how-step__item:nth-child(3) {
    order: 2;
  }

  .reviews-slider__item {
    width: 33%;
    height: 250px;
  }

  .footer {
    padding: 50px 0 30px 0;
  }
}
@media screen and (max-width: 500px) {
  .hero__img {
    width: 200px;
    height: 200px;
  }
}

/*# sourceMappingURL=main.css.map */
