@mn-cl: #3394e6;
@wht: #fff;
@txt: #000;
@blk: #000;





.ox__gad {
	padding: 20px 0;
}

.ox__gad * {
	box-sizing: border-box;
}

.ox__gad *:focus {
	outline: none;
}

.ox__none {
	display: none;
}

.ox__btn  {
	cursor: pointer;
	border-radius: 6px;
	padding: 0.5rem 2.5rem 0.5rem;
	text-align: center;
	font-size: 1.2rem;
  	font-weight: 400;
  	text-decoration: none;
  	display: inline-block;
  	border: 0px solid transparent;
  	line-height: 1;
	background: @mn-cl;
	color: @wht;
	border: 1px solid darken(@mn-cl, 5%);
	transition: all 250ms ease-out;
	&:focus {
		box-shadow: 0px 0px transparent;
	}
	&:hover {
		background: lighten(@mn-cl, 10%);
		color: @wht;
	}
	&:active, &:focus {
		background: @mn-cl;
		color: @wht;
		border: 1px solid darken(@mn-cl, 5%);
		&:hover {
			background: lighten(@mn-cl, 10%);
			color: @wht;
		}
	}
}

.ox {
	&__title {
		text-align: center;
		margin: 15px 0;
		padding: 0;
		@media (max-width: 560px) {
			font-size: 1.35rem;
		}
		&-big {
			font-weight: 800;
			font-size: 2rem;
			@media (max-width: 560px) {
				font-size: 1.5rem;
			}
		}
	}
	
	&__rezult {
		display: none;
		padding: 15px;
	}
	&__item {
		.alignleft {
			float: left;
			margin-right: 10px;
			margin-bottom: 16px;
		}
		&:after {
			content: '';
			display: block;
			width: 100%;
			height: 1px;
			clear: both;
		}
	}
	&__info {
		text-align: center;
		margin: 1rem auto 3rem;
		max-width: 700px;
		&_title {
			font-weight: bold;
			font-size: 1.25rem;
			margin-bottom: 1rem;
			position: relative;
		}
	}
	&__second {
		display: none;
		margin-top: 2rem;
	}
	&__inputs {
		display: grid;
		grid-template-rows: auto;
		grid-template-columns: 1fr 1fr;
		grid-gap: 2rem;
		max-width: 700px;
		margin: 0 auto;
		@media (max-width: 560px) {
			grid-template-columns: 100%;
		}
	}
	&-zodiak {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		@w: 80px;
		&__item {
			width: calc(~'16.66% - 10px');
			margin: 5px;
			cursor: pointer;
			background: darken(@wht, 1%); 
			border: 1px solid darken(@wht, 7.5%);
			padding: 0.5rem;
			border-radius: 6px;
			display: inline-block;
			transition: all 250ms ease-out;
			@media (max-width: 767px) {
				width: calc(~'33.33% - 10px');
			}
			@media (max-width: 560px) {
				width: calc(~'50% - 10px');
			}
			&.active, &:hover {
				//background: #dccedf;
				//border: 1px solid darken(#dccedf, 10%);
				box-shadow: 0px 10px 15px -15px fade(@blk, 60%);
				background: @wht;
				border: 1px solid darken(@wht, 5%);
				@media (max-width: 767px) {
					box-shadow: 0px 10px 15px -15px fade(@blk, 60%);
				}
			}
			&.active {
				.ox {
					&-zodiak {
						&__icon {
							&:before {
								width: @w;
								height: @w;
								@ot: @w/2;
								left: calc(~'50% -' @ot );
								top: 0;
								border: 1px solid darken(@wht, 35%);
								background: darken(@wht, 5%);
							}
						}
					}
				}
			}
		}
		&__icon {
			width: @w;
			height: @w;
			margin: 0 auto;
			position: relative;
			&:before {
				content: '';
				display: block;
				width: @w;
				height: @w;
				position: absolute;
				z-index: 1;
				border: 1px solid transparent;
				@ot: @w/2;
				left: 0;
				border-radius: 1000px;
				top: 0;
				transition: all 250ms ease-out;
			}
			img {
				max-width: 100%;				
				transition: all 0ms linear;
				position: relative;
				z-index: 3;
				padding: 10px;
			}
		}
		&__text {
			font-size: 1rem;
			margin-top: 0.5rem;
			margin-bottom: 0.25rem;
		}
		&__desc {
			font-size: 0.75rem;
		}
	}
}

.btns {
	text-align: center;
	margin: 20px auto;
	@media (max-width: 767px) {
	}
}


#ox__rezult {
	display: none;
	max-width: 750px;
	margin: 0 auto;
	border: 1px solid lighten(@blk, 15%);
    border-radius: 5px;
	padding: 5px 15px;
}

.rezult-list {
	margin: 1rem auto 1.25rem;
	padding-bottom: 1.25rem;
	border-bottom: 1px solid  lighten(@blk, 15%);
	&__cardtitle {
		background: darken(@wht, 10%);
		padding: 10px 15px;
		font-weight: 800;
		font-size: 1.75rem;
		text-align: center;
		margin-bottom: 1rem;
		span {
			display: block;
			font-size: 0.85rem;
		}
		@media (max-width: 560px) {
			font-size: 1.35rem;
		}
	}
	&__info {
		//padding:  0 1rem;
		&:after {
			content: '';
			display: block;
			width: 100%;
			clear: both;
		}
	}
	&__pic {
		width: 150px;
		float: left;
		margin: 0 1rem 1rem 0;
		border: 1px solid darken(@wht, 5%);
		border-radius: 10px;
		box-shadow: 0px 10px 15px -15px fade(@blk, 60%);
		padding: 1rem;
		text-align: center;
		@media (max-width: 560px) {
			float: none;
			margin: 0 auto 1rem;
		}
	}
	&__img {
		max-width: 100%;
	}
	&__title {
		font-weight: bold;
		margin-bottom: 0.5rem;
		margin-top: 0.5rem;
		font-size: 1.25rem;
	}
	&__desc {
		font-size: 0.85rem;
		font-style: italic;
	}
}

.ox__form {
	&-big {
		grid-column: span 2;
		@media (max-width: 560px) {
			grid-column: span 1;
		}
	}
	&-group {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	&-label {
		width: 100%;
		font-weight: bold;
		font-style: italic;
		padding-left: calc(~'40px + 1rem');
		margin-bottom: 1rem;
	}
	&-img {
		width: 40px;
		height: 40px;
		font-family: Arial;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 1000px;
		background: #60b960;
		color: @wht;
		font-size: 1.5rem;
		font-weight: bold;
	}
	&-control {
		width: calc(~'100% - 40px - 1rem');
		padding: 0.25rem .5rem;
	}
}