.ox__gad {
  padding: 20px 0;
}
.ox__gad * {
  box-sizing: border-box;
}
.ox__gad *:focus {
  outline: none;
}
.ox__none {
  display: none;
}
.ox__btn {
  -webkit-appearance: none;
  cursor: pointer;
  border-radius: 9px;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  line-height: 1;
  color: #fff;
  transition: all 250ms ease-out;
  white-space: normal;
  height: 55px;
  padding: 0 33px;
  border:none;
  background-color: #746fff;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: max-content;
  width: 100%;
  margin: 0 auto;
}
.ox__btn:focus {
  box-shadow: 0px 0px transparent;
}
.ox__btn:hover {
  background: #60acec;
  color: #fff;
}
.ox__btn:active,
.ox__btn:focus {
  background: #3394e6;
  color: #fff;
  border: 1px solid #1c88e3;
}
.ox__btn:active:hover,
.ox__btn:focus:hover {
  background: #60acec;
  color: #fff;
}
.ox__icon svg {
  width: 100%;
  fill: #000;
}
.ox_mimg {
  display: block;
  margin: 0 auto 1rem;
  max-width: 100%;
}
.ox__formcontrol {
  padding: .5rem 1rem;
  border: 1px solid #d9d9d9;
  background: #fff;
  display: block;
  width: 100%;
}
.ox_form {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -ms-grid-columns: 1fr 30px 1fr;
      grid-template-columns: 1fr 30px 1fr;
  grid-gap: 2rem;
  max-width: 550px;
  width: 100%;
  margin: 0 auto;
}
.ox__people {
  width: 100%;
  text-align: center;
}
.ox__people img {
  max-width: 100%;
}
.ox__people-title {
  text-align: center;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #292929;
}
.ox__forminfo {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 35px calc(100% - 35px - 2rem);
      grid-template-columns: 35px calc(100% - 35px - 2rem);
  grid-gap: 1rem;
  margin: 1rem auto;
}
.ox__forminfo img {
  max-width: 100%;
}
.ox__centerimg {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ox__centerimg img {
  max-width: 100%;
}
.ox__title {
  text-align: center;
  margin: 15px 0;
  padding: 0;
}
.ox__title-big {
  font-weight: 800;
  font-size: 2rem;
}
.ox__kub {
  text-align: center;
}
.ox__kub img {
  max-width: 100%;
  display: inline-block;
  margin: 0 1rem;
}
.ox__rezult {
  display: none;
  padding: 15px;
}
.ox__item .alignleft {
  float: left;
  margin-right: 10px;
  margin-bottom: 16px;
}
.ox__item:after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  clear: both;
}
.ox-zodiak__item {
  width: 100%;
  margin: 5px;
  cursor: default;
  padding: 0.5rem;
  border-radius: 6px;
  display: block;
  transition: all 250ms ease-out;
  display: none;
}
.ox-zodiak__item.active {
  display: block;
}
.ox-zodiak__item.s1 .ox-zodiak__icon:before {
  background: #f6cccc;
}
.ox-zodiak__item.s1.active .ox-zodiak__icon:before,
.ox-zodiak__item.s1:hover .ox-zodiak__icon:before {
  background: #eea1a1;
}
.ox-zodiak__item.s2 .ox-zodiak__icon:before {
  background: #d5f3f6;
}
.ox-zodiak__item.s2.active .ox-zodiak__icon:before,
.ox-zodiak__item.s2:hover .ox-zodiak__icon:before {
  background: #abe7ed;
}
.ox-zodiak__item.s3 .ox-zodiak__icon:before {
  background: #f6f3c1;
}
.ox-zodiak__item.s3.active .ox-zodiak__icon:before,
.ox-zodiak__item.s3:hover .ox-zodiak__icon:before {
  background: #f0ea94;
}
.ox-zodiak__item.s4 .ox-zodiak__icon:before {
  background: #d9eed3;
}
.ox-zodiak__item.s4.active .ox-zodiak__icon:before,
.ox-zodiak__item.s4:hover .ox-zodiak__icon:before {
  background: #b9e0ae;
}
.ox-zodiak__item.s5 .ox-zodiak__icon:before {
  background: #f5dec6;
}
.ox-zodiak__item.s5.active .ox-zodiak__icon:before,
.ox-zodiak__item.s5:hover .ox-zodiak__icon:before {
  background: #edc59b;
}
.ox-zodiak__item.s6 .ox-zodiak__icon:before {
  background: #ddcee0;
}
.ox-zodiak__item.s6.active .ox-zodiak__icon:before,
.ox-zodiak__item.s6:hover .ox-zodiak__icon:before {
  background: #c7afcc;
}
.ox-zodiak__item.s7 .ox-zodiak__icon:before {
  background: #f6dae5;
}
.ox-zodiak__item.s7.active .ox-zodiak__icon:before,
.ox-zodiak__item.s7:hover .ox-zodiak__icon:before {
  background: #ecb1c8;
}
.ox-zodiak__item.s8 .ox-zodiak__icon:before {
  background: #dee1f6;
}
.ox-zodiak__item.s8.active .ox-zodiak__icon:before,
.ox-zodiak__item.s8:hover .ox-zodiak__icon:before {
  background: #b6bdeb;
}
.ox-zodiak__item.s9 .ox-zodiak__icon:before {
  background: #e3f6ed;
}
.ox-zodiak__item.s9.active .ox-zodiak__icon:before,
.ox-zodiak__item.s9:hover .ox-zodiak__icon:before {
  background: #bcead4;
}
.ox-zodiak__item.s10 .ox-zodiak__icon:before {
  background: #eee0d6;
}
.ox-zodiak__item.s10.active .ox-zodiak__icon:before,
.ox-zodiak__item.s10:hover .ox-zodiak__icon:before {
  background: #dfc5b2;
}
.ox-zodiak__item.s11 .ox-zodiak__icon:before {
  background: #f2e0f5;
}
.ox-zodiak__item.s11.active .ox-zodiak__icon:before,
.ox-zodiak__item.s11:hover .ox-zodiak__icon:before {
  background: #e2b9e9;
}
.ox-zodiak__item.s12 .ox-zodiak__icon:before {
  background: #e0d291;
}
.ox-zodiak__item.s12.active .ox-zodiak__icon:before,
.ox-zodiak__item.s12:hover .ox-zodiak__icon:before {
  background: #d5c269;
}
.ox-zodiak__icon {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  position: relative;
}
.ox-zodiak__icon:before {
  content: '';
  display: block;
  width: 125px;
  height: 100px;
  position: absolute;
  z-index: 1;
  background: #3394e6;
  -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
          clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  left: calc(0px - 12.5px);
  top: 0;
  transition: all 250ms ease-out;
}
.ox-zodiak__svg {
  position: relative;
  z-index: 2;
  width: 110px;
  height: 110px;
  transition: all 250ms ease-out;
  margin-left: -6px;
  margin-top: -5px;
}
.ox-zodiak__text {
  font-size: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.25rem;
}
.ox-zodiak__desc {
  font-size: 0.75rem;
}
.btns {
  text-align: center;
  margin: 20px auto;
  -ms-grid-column: span 3;
      grid-column: span 3;
}
#ox__rezult {
  display: none;
  max-width: 750px;
  margin: 0 auto;
  background: linear-gradient(to top, #3fbbfe, #a541ff);
  border-radius: 13px;
  padding: 4px;
  box-shadow: 0 0 10.2px 1.8px #a4a1ff;
}
.ox__rezult-wrapper{
  background-color: #fff;
  border-radius: 13px;
  padding: 15px;
}
.rezult-list {
  border-bottom: 1px solid #262626;
}
.rezult-list__title {
  font-weight: 800;
  font-size: 1rem;
  text-align: center;
}
.rezult-list__cardtitle {
  padding: 10px 15px;
  text-align: center;
  margin-bottom: 1rem;
  border-radius: 9px;
  background-color: #ff7a9a;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
}
.rezult-list__cardtitle span {
  display: block;
  font-size: 0.85rem;
}
.rezult_people {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  margin-bottom: 20px;
}
.rezult_people__item {
  text-align: center;
}
.rezult_people__item img {
  width: 100%;
  max-width: 150px;
}
.rezult_people__title {
  font-weight: bold;
}
@media (max-width: 767px) {
  .ox_form {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-gap: .5rem;
  }
  .ox__centerimg {
    max-width: 50px;
    margin: 2rem auto;
  }
  .btns {
    -ms-grid-column: span 1;
    grid-column: span 1;
  }
}
@media (max-width: 560px) {
  .ox__title {
    font-size: 1.35rem;
  }
  .ox__title-big {
    font-size: 1.5rem;
  }
  .rezult-list__cardtitle {
    font-size: 1.35rem;
  }
  .rezult_people__item img {
    max-width: 80px;
  }
  .rezult_people__title {
    font-size: 12px;
  }
}
