section.section-articles
    .section__wrapper
        .container
            .articles-grid
                .articles-grid__item
                    .articles-item
                        .articles-item__wrapper
                            .articles-item__img
                                .articles-img-slider.swiper
                                    .swiper-wrapper
                                        .swiper-slide
                                            img(src='img/kids-slider-1.jpg')
                                        .swiper-slide
                                            img(src='img/kids-slider-1.jpg')
                                        .swiper-slide
                                            img(src='img/kids-slider-1.jpg')
                                        .swiper-slide
                                            img(src='img/kids-slider-1.jpg')
                                    .articles-img-buttons
                                        .articles-img-button-prev пред
                                        .articles-img-button-next след
                            .articles-item__content
                                p.section__title Обучение футболу
                                p.articles-item__desc Lorem ipsum dolor sit amet, consectetur adipisicingelit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
                                a(href='#').articles-item__btn.btn.btn_red подробнее
                .articles-grid__item
                    .articles-item
                        .articles-item__wrapper
                            .articles-item__content
                                p.section__title Обучение <br> бадминтону
                                p.articles-item__desc Lorem ipsum dolor sit amet, consectetur adipisicingelit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
                                a(href='#').articles-item__btn.btn.btn_red подробнее
                            .articles-item__img
                                .articles-img-slider.swiper
                                    .swiper-wrapper
                                        .swiper-slide
                                            img(src='img/kids-slider-1.jpg')
                                        .swiper-slide
                                            img(src='img/kids-slider-1.jpg')
                                        .swiper-slide
                                            img(src='img/kids-slider-1.jpg')
                                        .swiper-slide
                                            img(src='img/kids-slider-1.jpg')
                                    .articles-img-buttons
                                        .articles-img-button-prev пред
                                        .articles-img-button-next след
                .articles-grid__item
                    .articles-item
                        .articles-item__wrapper
                            .articles-item__img
                                .articles-img-slider.swiper
                                    .swiper-wrapper
                                        .swiper-slide
                                            img(src='img/kids-slider-1.jpg')
                                        .swiper-slide
                                            img(src='img/kids-slider-1.jpg')
                                        .swiper-slide
                                            img(src='img/kids-slider-1.jpg')
                                        .swiper-slide
                                            img(src='img/kids-slider-1.jpg')
                                    .articles-img-buttons
                                        .articles-img-button-prev пред
                                        .articles-img-button-next след
                            .articles-item__content
                                p.section__title Обучение футболу
                                p.articles-item__desc Lorem ipsum dolor sit amet, consectetur adipisicingelit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
                                a(href='#').articles-item__btn.btn.btn_red подробнее
                .articles-grid__item
                    .articles-item
                        .articles-item__wrapper
                            .articles-item__content
                                p.section__title Обучение футболу
                                p.articles-item__desc Lorem ipsum dolor sit amet, consectetur adipisicingelit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
                                a(href='#').articles-item__btn.btn.btn_red подробнее
                            .articles-item__img
                                .articles-img-slider.swiper
                                    .swiper-wrapper
                                        .swiper-slide
                                            img(src='img/kids-slider-1.jpg')
                                        .swiper-slide
                                            img(src='img/kids-slider-1.jpg')
                                        .swiper-slide
                                            img(src='img/kids-slider-1.jpg')
                                        .swiper-slide
                                            img(src='img/kids-slider-1.jpg')
                                    .articles-img-buttons
                                        .articles-img-button-prev пред
                                        .articles-img-button-next след
                .articles-grid__item
                    .articles-item
                        .articles-item__wrapper
                            .articles-item__img
                                .articles-img-slider.swiper
                                    .swiper-wrapper
                                        .swiper-slide
                                            img(src='img/kids-slider-1.jpg')
                                        .swiper-slide
                                            img(src='img/kids-slider-1.jpg')
                                        .swiper-slide
                                            img(src='img/kids-slider-1.jpg')
                                        .swiper-slide
                                            img(src='img/kids-slider-1.jpg')
                                    .articles-img-buttons
                                        .articles-img-button-prev пред
                                        .articles-img-button-next след
                            .articles-item__content
                                p.section__title Обучение футболу
                                p.articles-item__desc Lorem ipsum dolor sit amet, consectetur adipisicingelit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
                                a(href='#').articles-item__btn.btn.btn_red подробнее
                .articles-grid__item
                    .articles-item
                        .articles-item__wrapper
                            .articles-item__content
                                p.section__title Обучение футболу
                                p.articles-item__desc Lorem ipsum dolor sit amet, consectetur adipisicingelit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
                                a(href='#').articles-item__btn.btn.btn_red подробнее
                            .articles-item__img
                                .articles-img-slider.swiper
                                    .swiper-wrapper
                                        .swiper-slide
                                            img(src='img/kids-slider-1.jpg')
                                        .swiper-slide
                                            img(src='img/kids-slider-1.jpg')
                                        .swiper-slide
                                            img(src='img/kids-slider-1.jpg')
                                        .swiper-slide
                                            img(src='img/kids-slider-1.jpg')
                                    .articles-img-buttons
                                        .articles-img-button-prev пред
                                        .articles-img-button-next след