section.section.section-hero.section-banner
    .container-full
        .section-hero__wrapper.section-banner__wrapper
            p.section-banner__text детям
            .hero-slider.swiper
                .swiper-wrapper
                    .hero-slider__item.swiper-slide.hero-slide
                        .hero-slide__img
                            img(src='img/slider_pic.jpg')
                    .hero-slider__item.swiper-slide.hero-slide
                        .hero-slide__img
                            img(src='img/pic_event_3.jpg')
                    .hero-slider__item.swiper-slide.hero-slide
                        .hero-slide__img
                            img(src='img/slider_pic.jpg')
                    .hero-slider__item.swiper-slide.hero-slide
                        .hero-slide__img
                            img(src='img/slider_pic.jpg')