section.section.section-hero
    .container-full
        .section-hero__wrapper
            .hero-slider.swiper
                .swiper-wrapper
                    .hero-slider__item.swiper-slide.hero-slide
                        .hero-slide__img
                            img(src='img/slider_pic.jpg')
                    .hero-slider__item.swiper-slide.hero-slide
                        .hero-slide__img
                            img(src='img/pic_event_3.jpg')
                    .hero-slider__item.swiper-slide.hero-slide
                        .hero-slide__img
                            img(src='img/slider_pic.jpg')
                    .hero-slider__item.swiper-slide.hero-slide
                        .hero-slide__img
                            img(src='img/slider_pic.jpg')
            .section-hero__category
                .category-slider
                        .category-grid
                            .category-grid__item
                                a(href='#').category-item
                                    span.category-item__img
                                        img(src='img/ice-skating-shoes.png')
                                        img(src='img/ice-skating-shoes.png')
                                    span.category-item__text МАССОВЫЕ КАТАНИЯ
                            .category-grid__item
                                a(href='#').category-item
                                    span.category-item__img
                                        img(src='img/air-hockey.png')
                                        img(src='img/air-hockey.png')
                                    span.category-item__text ЛЁД
                            .category-grid__item
                                a(href='#').category-item
                                    span.category-item__img
                                        img(src='img/badminton.png')
                                        img(src='img/badminton.png')
                                    span.category-item__text БАДМИНТОН
                            .category-grid__item
                                a(href='#').category-item
                                    span.category-item__img
                                        img(src='img/fitness.png')
                                        img(src='img/fitness.png')
                                    span.category-item__text Тренажерный зал
                            .category-grid__item
                                a(href='#').category-item
                                    span.category-item__img
                                        img(src='img/sale.png')
                                        img(src='img/sale.png')
                                    span.category-item__text Выгодные предложения
                            .category-grid__item
                                a(href='#').category-item
                                    span.category-item__img
                                        img(src='img/house-2.png')
                                        img(src='img/house-2.png')
                                    span.category-item__text Прочие услуги
