section.section.section-news
    .section__wrapper
        .container
            h2.section__title последние новости
    .section__content
        .section__wrapper.section-news__wrapper
            .news-grid
                .news-grid__item
                    .news-item
                        .news-item__header
                            a(href='#').news-item__img
                                img(src='img/pic_news_1.jpg').news-item__img-item
                            .news-item__type
                                p.news-item__type-text КОНЬКОБЕЖНЫЙ СПОРТ
                        .news-item__content
                            p.news-item__label МАССОВОЕ КАТАНИЕ <br> с 08.11 по 14.11
                            p.news-item__preview Уважаемые гости МКСК "Минск-арена" <br> Появилось расписание массового
                            a(href='#').news-item__btn подробнее
                .news-grid__item
                    .news-item
                        .news-item__header
                            a(href='#').news-item__img
                                img(src='img/pic_news_1.jpg').news-item__img-item
                            .news-item__type
                                p.news-item__type-text КОНЬКОБЕЖНЫЙ СПОРТ
                        .news-item__content
                            p.news-item__label МАССОВОЕ КАТАНИЕ <br> с 08.11 по 14.11
                            p.news-item__preview Уважаемые гости МКСК "Минск-арена" <br> Появилось расписание массового
                            a(href='#').news-item__btn подробнее
                .news-grid__item
                    .news-item
                        .news-item__header
                            a(href='#').news-item__img
                                img(src='img/pic_news_1.jpg').news-item__img-item
                            .news-item__type
                                p.news-item__type-text КОНЬКОБЕЖНЫЙ СПОРТ
                        .news-item__content
                            p.news-item__label МАССОВОЕ КАТАНИЕ <br> с 08.11 по 14.11
                            p.news-item__preview Уважаемые гости МКСК "Минск-арена" <br> Появилось расписание массового
                            a(href='#').news-item__btn подробнее
