section.section.section-object
    .section__content
        .object-grid
            .object-grid__item
                .object-item
                    .object-item__img
                        img(src='img/pic_object_1.jpg')
                    .object-item__content
                        p.object-item__title Главная арена
            .object-grid__item
                .object-item
                    .object-item__img
                        img(src='img/pic_object_1.jpg')
                    .object-item__content
                        p.object-item__title Главная арена
            .object-grid__item
                .object-item
                    .object-item__img
                        img(src='img/pic_object_1.jpg')
                    .object-item__content
                        p.object-item__title Главная арена