section.section.section-object
    .section__wrapper
        .container
            h2.section__title ОБЪЕКТЫ В «МИНСК-АРЕНЕ»
            p.section__desc Lorem ipsum dolor sit amet, consectetur <br> adipisicing elit, sed do eiusmod tempor.
    .section__content
        .object-grid
            .object-grid__item
                .object-item
                    .object-item__img
                        img(src='img/pic_object_1.jpg')
                    .object-item__content
                        p.object-item__title Главная арена
            .object-grid__item
                .object-item
                    .object-item__img
                        img(src='img/pic_object_1.jpg')
                    .object-item__content
                        p.object-item__title Главная арена
            .object-grid__item
                .object-item
                    .object-item__img
                        img(src='img/pic_object_1.jpg')
                    .object-item__content
                        p.object-item__title Главная арена
            .object-grid__item
                .object-item
                    .object-item__img
                        img(src='img/pic_object_1.jpg')
                    .object-item__content
                        p.object-item__title Главная арена
            .object-grid__item
                .object-item
                    .object-item__img
                        img(src='img/pic_object_1.jpg')
                    .object-item__content
                        p.object-item__title Главная арена
            .object-grid__item
                .object-item
                    .object-item__img
                        img(src='img/pic_object_1.jpg')
                    .object-item__content
                        p.object-item__title Главная арена
