section.section.section-poster
    .section__wrapper
        .container
            h2.section__title АФИША МЕРОПРИЯТИЙ
    .section__content
        .poster-grid
            .poster-grid__item
                .poster-item
                    .poster-item__wrapper
                        .poster-item__img
                            img(src='img/pic_event_1.jpg')
                        .poster-item__content
                            .poster-item__date
                                p.poster-item__day 02
                                p.poster-item__mounth апреля
                                p.poster-item__year 2022
                            .poster-item__type.poster-type
                                p.poster-type__text концерт
                            p.poster-item__label ДИМАШ КУДАЙБЕРГЕН
            .poster-grid__item
                .poster-item
                    .poster-item__wrapper
                        .poster-item__img
                            img(src='img/pic_event_1.jpg')
                        .poster-item__content
                            .poster-item__date
                                p.poster-item__day 02
                                p.poster-item__mounth апреля
                                p.poster-item__year 2022
                            .poster-item__type.poster-type
                                p.poster-type__text концерт
                            p.poster-item__label ДИМАШ КУДАЙБЕРГЕН
            .poster-grid__item
                .poster-item
                    .poster-item__wrapper
                        .poster-item__img
                            img(src='img/pic_event_1.jpg')
                        .poster-item__content
                            .poster-item__date
                                p.poster-item__day 02
                                p.poster-item__mounth апреля
                                p.poster-item__year 2022
                            .poster-item__type.poster-type
                                p.poster-type__text концерт
                            p.poster-item__label МОНАТИК
            .poster-grid__item
                .poster-item
                    .poster-item__wrapper
                        .poster-item__img
                            img(src='img/pic_event_1.jpg')
                        .poster-item__content
                            .poster-item__date
                                p.poster-item__day 02
                                p.poster-item__mounth апреля
                                p.poster-item__year 2022
                            .poster-item__type.poster-type
                                p.poster-type__text концерт
                            p.poster-item__label ДИМАШ КУДАЙБЕРГЕН
            .poster-grid__item
                .poster-item
                    .poster-item__wrapper
                        .poster-item__img
                            img(src='img/pic_event_1.jpg')
                        .poster-item__content
                            .poster-item__date
                                p.poster-item__day 02
                                p.poster-item__mounth апреля
                                p.poster-item__year 2022
                            .poster-item__type.poster-type
                                p.poster-type__text концерт
                            p.poster-item__label ДИМАШ КУДАЙБЕРГЕН
            .poster-grid__item
                .poster-item
                    .poster-item__wrapper
                        .poster-item__img
                            img(src='img/pic_event_1.jpg')
                        .poster-item__content
                            .poster-item__date
                                p.poster-item__day 02
                                p.poster-item__mounth апреля
                                p.poster-item__year 2022
                            .poster-item__type.poster-type
                                p.poster-type__text концерт
                            p.poster-item__label ДИМАШ КУДАЙБЕРГЕН
            .poster-grid__item
                .poster-item
                    .poster-item__wrapper
                        .poster-item__img
                            img(src='img/pic_event_1.jpg')
                        .poster-item__content
                            .poster-item__date
                                p.poster-item__day 02
                                p.poster-item__mounth апреля
                                p.poster-item__year 2022
                            .poster-item__type.poster-type
                                p.poster-type__text концерт
                            p.poster-item__label ДИМАШ КУДАЙБЕРГЕН
            .poster-grid__item
                .poster-item
                    .poster-item__wrapper
                        .poster-item__img
                            img(src='img/pic_event_1.jpg')
                        .poster-item__content
                            .poster-item__date
                                p.poster-item__day 02
                                p.poster-item__mounth апреля
                                p.poster-item__year 2022
                            .poster-item__type.poster-type
                                p.poster-type__text концерт
                            p.poster-item__label ДИМАШ КУДАЙБЕРГЕН
            .poster-grid__item
                .poster-item
                    .poster-item__wrapper
                        .poster-item__img
                            img(src='img/pic_event_1.jpg')
                        .poster-item__content
                            .poster-item__date
                                p.poster-item__day 02
                                p.poster-item__mounth апреля
                                p.poster-item__year 2022
                            .poster-item__type.poster-type
                                p.poster-type__text концерт
                            p.poster-item__label ДИМАШ КУДАЙБЕРГЕН
            .poster-grid__item
                .poster-item
                    .poster-item__wrapper
                        .poster-item__img
                            img(src='img/pic_event_1.jpg')
                        .poster-item__content
                            .poster-item__date
                                p.poster-item__day 02
                                p.poster-item__mounth апреля
                                p.poster-item__year 2022
                            .poster-item__type.poster-type
                                p.poster-type__text концерт
                            p.poster-item__label ДИМАШ КУДАЙБЕРГЕН