.ox__gad {
  padding: 20px 0;
}
.ox__gad .do_btns {
  margin-top: -2rem;
}
.ox__gad * {
  box-sizing: border-box;
}
.ox__gad *:focus {
  outline: none;
}
.ox__none {
  display: none;
}
.ox__btn {
  cursor: pointer;
  border-radius: 9px;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  text-decoration: none;
  line-height: 1;
  color: #fff;
  transition: all 250ms ease-out;
  white-space: normal;
  height: 55px;
  padding: 0 33px;
  border:none;
  background-color: #746fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  margin: 0 auto;
}
.ox__btn:focus {
  box-shadow: 0px 0px transparent;
}
.ox__btn:hover {
  background: #60acec;
  color: #fff;
}
.ox__btn:active,
.ox__btn:focus {
  background: #3394e6;
  color: #fff;
  border: 1px solid #1c88e3;
}
.ox__btn:active:hover,
.ox__btn:focus:hover {
  background: #60acec;
  color: #fff;
}
.ox__form-control {
  display: block;
  padding: .5rem 1rem;
  margin: 0 auto;
}
.ox__title {
  text-align: center;
  margin: 15px 0;
  padding: 0;
}
.ox__title-big {
  font-weight: 800;
  font-size: 2rem;
}
.ox__rezult {
  display: none;
  padding: 15px;
}
.ox__item .alignleft {
  float: left;
  margin-right: 10px;
  margin-bottom: 16px;
}
.ox__item:after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  clear: both;
}
.ox__info {
  text-align: center;
  margin: 1rem auto 3rem;
  max-width: 700px;
}
.ox__info-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.ox__info-flex .btns {
  margin: initial;
  margin-left: 1rem;
}
.ox__info_title {
  font-weight: bold;
  font-size: 1.8rem;
  margin-bottom: 2rem;
  position: relative;
}
.ox-zodiak {
  display: grid;
  grid-template-columns: repeat(4,minmax(0,1fr));
}
.ox-zodiak__item {
  margin: 5px;
  cursor: pointer;
  border: none;
  padding: 3px;
  border-radius: 6px;
  display: inline-block;
  transition: all 250ms ease-out;
  background-image: linear-gradient(to top, #3fbbfe, #a541ff);
  box-shadow: 0 0 10.2px 1.8px transparent;
}
.ox-zodiak__item-wrapper{
  border-radius: 6px;
  background-color: #ffffff;
  padding: 15px 0 15px 0;
  height: 100%;
}
.ox-zodiak__item.active,
.ox-zodiak__item:hover {
  box-shadow: 0 0 10.2px 1.8px #a4a1ff;
}
.ox-zodiak__item.active .ox-zodiak__icon,
.ox-zodiak__item:hover .ox-zodiak__icon {
  border: 4px solid #e6e6e6;
}
.ox-zodiak__item.active .ox-zodiak__icon:before,
.ox-zodiak__item:hover .ox-zodiak__icon:before {
  background: rgba(0, 0, 0, 0);
}
.ox-zodiak__icon {
  width: 80px;
  height: 80px;
  margin: 0 auto;
  position: relative;
  border-radius: 1000px;
  overflow: hidden;
  border: 4px solid #bfbfbf;
  transition: all 250ms ease-out;
}
.ox-zodiak__icon:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.1);
  transition: all 250ms ease-out;
}
.ox-zodiak__icon img {
  max-width: 100%;
}
.ox-zodiak__svg {
  position: relative;
  z-index: 2;
  width: 90px;
  height: 90px;
  transition: all 250ms ease-out;
  margin-left: -6px;
  margin-top: -5px;
}
.ox-zodiak__text {
  font-size: 20px;
  margin-top: 0.5rem;
  margin-bottom: 0.25rem;
  color: #353535;
}
.ox-zodiak__desc {
  font-size: 16px;
  margin-top: 10px;
  color: #353535;
}
.ox__period {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.ox__period-item {
  margin: 5px;
  cursor: pointer;
  background: #f2f2f2;
  border: 1px solid #e6e6e6;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  display: inline-block;
  text-align: center;
  transition: all 250ms ease-out;
}
.ox__period-item.active,
.ox__period-item:hover {
  box-shadow: 0px 10px 15px -15px rgba(0, 0, 0, 0.6);
  background: #fff;
  border: 1px solid #f2f2f2;
}
.btns {
  text-align: center;
  margin: 20px auto;
}
#ox__rezult {
  display: none;
  max-width: 750px;
  margin: 0 auto;
  background: linear-gradient(to top, #3fbbfe, #a541ff);
  border-radius: 13px;
  padding: 4px;
  box-shadow: 0 0 10.2px 1.8px #a4a1ff;
}
.ox__rezult-wrapper{
  background-color: #fff;
  border-radius: 13px;
  padding: 15px;
}
.rezult-list {
  border-bottom: 1px solid #262626;
}
.rezult-list__title {
  font-weight: 800;
  font-size: 1rem;
  text-align: center;
}
.rezult-list__cardtitle {
  padding: 10px 15px;
  text-align: center;
  margin-bottom: 1rem;
  border-radius: 9px;
  background-color: #ff7a9a;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
}
.rezult-list__cardtitle-text {
font-size: 1.7rem;
font-weight: bold;	
}
.rezult-list__cardtitle-img {
  max-width: 60px;
  margin-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rezult-list__cardtitle-img img {
  width: 100%;
}
.do_year {
  display: none;
}
@media (max-width: 767px) {
  .ox-zodiak__item.active,
  .ox-zodiak__item:hover {
    box-shadow: 0px 10px 15px -15px rgba(0, 0, 0, 0.6);
  }
  .ox-zodiak__icon {
    width: 50px;
    height: 50px;
  }
}
@media (max-width: 600px) {
  .ox-zodiak {
    grid-template-columns: repeat(3,minmax(0,1fr));
  }
}
@media (max-width: 560px) {
  .ox__title {
    font-size: 1.35rem;
  }
  .ox__title-big {
    font-size: 1.5rem;
  }
  .ox__info-flex {
    flex-direction: column;
  }
  .ox__info-flex .btns {
    margin-left: 0;
    margin-top: 1rem;
  }
  .ox__period-item {
    display: block;
    width: 100%;
    margin: 10px auto;
  }
  .rezult-list__cardtitle {
    font-size: 1.35rem;
    flex-direction: column;
    text-align: center;
  }
}

@media screen and (max-width: 375px){
  .ox-zodiak{
    display: grid;
    grid-template-columns: repeat(2,minmax(0,1fr));
  }
}